body{
    background-color: var(--color-neutral-100) !important;
}
img{
    width:400px;
}
h2{
    font-weight: 600;
    color: var(--color-primary-500);
    font-size: var(--font-size-h1);
}
h3{
    font-weight: 600;
    color: var(--color-primary-700);
    font-size: var(--font-size-b1);
}
p{
    color: var(--color-secondary-600);
    font-size: var(--font-size-b2);
}