.page-header h2 {
    margin-bottom: var(--spacing-12) !important;
}

.body {
    padding: 0 !important;
}

.breadcrumb {
    margin: 0;
}

.breadcrumb a {
    color: var(--color-secondary-700);
}

.breadcrumb .active a {
    color: var(--color-primary-500) !important;
}

.content-hug {
    background-color: var(--color-white);
}

.form-outline .form-control {
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border: none;
    border-bottom: 1px solid var(--color-secondary-300);
}
