<!-- start page header -->
<app-page-header [breadcrumbs]="[
    { label: 'Operations Development', link: '/' },
    { label: 'Organizational Chart' }
  ]" title="Organizational Chart">
  <h2 class="h6 pt-3">Use Ctrl + Scroll to Zoom</h2>
  <!-- <div subinfo>
  Created at 13/06/2023 &nbsp; | &nbsp; Updated At 03/12/2024
</div> -->

  <!-- <button actions class="btn btn-primary">
<i class="bi bi-pencil"></i> Edit
</button>
<button actions class="btn btn-outline-danger">
  <i class="bi bi-power"></i> Deactivate
</button> -->
</app-page-header>
<!-- end page header -->
<!-- steps navigation -->
<ul class="nav d-flex align-items-center nav-tabs bg-white px-3">
  <li class="nav-item" routerLink="/organizational-Chart/chart/company-chart" routerLinkActive="active">
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22"
      viewBox="0 0 24 24">
      <path 
        d="M3.464 20.536C4.93 22 7.286 22 12 22s7.071 0 8.535-1.465C22 19.072 22 16.714 22 12s0-7.071-1.465-8.536C19.072 2 16.714 2 12 2S4.929 2 3.464 3.464C2 4.93 2 7.286 2 12s0 7.071 1.464 8.535"
        opacity=".5" />
      <path 
        d="M12.75 6.5a.75.75 0 0 0-1.5 0v6A3.25 3.25 0 0 1 8 15.75h-.19l.22-.22a.75.75 0 1 0-1.06-1.06l-1.5 1.5a.75.75 0 0 0 0 1.06l1.5 1.5a.75.75 0 0 0 1.06-1.06l-.22-.22H8c1.68 0 3.155-.872 4-2.187a4.75 4.75 0 0 0 4 2.187h.19l-.22.22a.75.75 0 1 0 1.06 1.06l1.5-1.5a.75.75 0 0 0 0-1.06l-1.5-1.5a.75.75 0 1 0-1.06 1.06l.22.22H16a3.25 3.25 0 0 1-3.25-3.25z" />
    </svg>
    <span class="nav-link">Company Chart</span>
  </li>

  <li class="nav-item" routerLink="/organizational-Chart/chart/organizational-chart" routerLinkActive="active">
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
      <path d="M15.5 7.5a3.5 3.5 0 1 1-7 0a3.5 3.5 0 0 1 7 0" />
      <path d="M19.5 7.5a2.5 2.5 0 1 1-5 0a2.5 2.5 0 0 1 5 0m-15 0a2.5 2.5 0 1 0 5 0a2.5 2.5 0 0 0-5 0" opacity=".4" />
      <path d="M18 16.5c0 1.933-2.686 3.5-6 3.5s-6-1.567-6-3.5S8.686 13 12 13s6 1.567 6 3.5" />
      <path
        d="M22 16.5c0 1.38-1.79 2.5-4 2.5s-4-1.12-4-2.5s1.79-2.5 4-2.5s4 1.12 4 2.5m-20 0C2 17.88 3.79 19 6 19s4-1.12 4-2.5S8.21 14 6 14s-4 1.12-4 2.5"
        opacity=".4" />
    </svg>
    <span class="nav-link">Organiztion Chart</span>
  </li>
</ul>


<router-outlet></router-outlet>