<!-- page header -->
<app-page-header [breadcrumbs]="[
    { label: 'Attendance', link: '/attendance' },
    { label: 'Leave Types', link: '/leave-types' },
    { label: 'Edit Leave Type - '+leaveTypeData.name }
  ]" [title]="'Edit Leave Type - '+leaveTypeData.name" [create]="formattedCreatedAt" [update]="formattedUpdatedAt">
  <button class="btn btn-lg btn-success w-auto" [disabled]="isSaveDisabled" (click)="updateLeaveType()">
    @if (isLoading) {
    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
    }
    @if (!isLoading) {
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
      <g fill="none" stroke="currentColor" stroke-width="1.5">
        <circle cx="12" cy="12" r="10" />
        <path stroke-linecap="round" stroke-linejoin="round" d="m8.5 12.5l2 2l5-5" />
      </g>
    </svg>
    }
    <span>Save Changes</span>
  </button>

  <button class="btn btn-lg btn-outline-dark w-auto" (click)="openModal()">
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
      <g fill="none" stroke="currentColor" stroke-width="1.5">
        <circle cx="12" cy="12" r="10" />
        <path stroke-linecap="round" d="m14.5 9.5l-5 5m0-5l5 5" />
      </g>
    </svg>
    <span>Discard Changes</span>
  </button>
</app-page-header>


<!-- steps -->
<ul class="nav d-flex align-items-center nav-tabs bg-white px-3">
  <li class="nav-item" [ngClass]="{
        'active': currentStep === 1,
        'text-success': currentStep > 1, 
        'bg-light-success': currentStep > 1  
    }">
    @if (currentStep == 1) {
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
      <path d="M22 12c0 5.523-4.477 10-10 10S2 17.523 2 12S6.477 2 12 2s10 4.477 10 10" opacity=".5" />
      <path
        d="M12 17.75a.75.75 0 0 0 .75-.75v-6a.75.75 0 0 0-1.5 0v6c0 .414.336.75.75.75M12 7a1 1 0 1 1 0 2a1 1 0 0 1 0-2" />
    </svg>
    }
    @if (currentStep > 1) {
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"
      [style.fill]="currentStep > 1 ? 'currentColor' : 'black'">
      <path d="M22 12c0 5.523-4.477 10-10 10S2 17.523 2 12S6.477 2 12 2s10 4.477 10 10" opacity=".5" />
      <path
        d="M16.03 8.97a.75.75 0 0 1 0 1.06l-5 5a.75.75 0 0 1-1.06 0l-2-2a.75.75 0 1 1 1.06-1.06l1.47 1.47l2.235-2.235L14.97 8.97a.75.75 0 0 1 1.06 0" />
    </svg>
    }
    <span class="nav-link">Main Information</span>
  </li>

  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" [style.fill]="
    currentStep === 1 ? '#DDE3EB' :
    currentStep === 2 ? '#377AFD' :
    currentStep > 2 ? '#4CA883' :
    '#DDE3EB'
  ">
    <path
      d="M15.835 11.63L9.205 5.2C8.79 4.799 8 5.042 8 5.57v12.86c0 .528.79.771 1.205.37l6.63-6.43a.5.5 0 0 0 0-.74" />
  </svg>


  <li class="nav-item" [ngClass]="{
        'active': currentStep === 2,
        'text-success': currentStep > 2, 
        'bg-light-success': currentStep > 2  
    }">

    @if (currentStep <= 2) { <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
      <path [style.fill]="currentStep === 2 ? '#007bff' : '#4A6D97'"
        d="M13.752 14.5a3 3 0 1 1 6 0a3 3 0 0 1-6 0m-10-5a3 3 0 1 0 6 0a3 3 0 0 0-6 0" />
      <path [style.fill]="currentStep === 2 ? '#007bff' : '#4A6D97'"
        d="M7.462 6.584a3 3 0 0 0-1.5.021V2a.75.75 0 0 1 1.5 0zm-1.5 5.81a3 3 0 0 0 1.5.021V22a.75.75 0 0 1-1.5 0zm10 5V22a.75.75 0 0 0 1.5 0v-4.585a3 3 0 0 1-1.5-.021m1.5-5.81V2a.75.75 0 0 0-1.5 0v9.605a3 3 0 0 1 1.5-.021"
        opacity=".5" />
      </svg>
      }
      @if (currentStep > 2) {
      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"
        [style.fill]="currentStep > 1 ? 'currentColor' : 'black'">
        <path d="M22 12c0 5.523-4.477 10-10 10S2 17.523 2 12S6.477 2 12 2s10 4.477 10 10" opacity=".5" />
        <path
          d="M16.03 8.97a.75.75 0 0 1 0 1.06l-5 5a.75.75 0 0 1-1.06 0l-2-2a.75.75 0 1 1 1.06-1.06l1.47 1.47l2.235-2.235L14.97 8.97a.75.75 0 0 1 1.06 0" />
      </svg>
      }
      <span class="nav-link">Leaves Settings</span>
  </li>

  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" [style.fill]="
                                currentStep === 2 ? '#377AFD' :
                                currentStep === 3 ? '#377AFD' :
                                currentStep > 3 ? '#4CA883' :
                                '#DDE3EB'
                              ">
    <path
      d="M15.835 11.63L9.205 5.2C8.79 4.799 8 5.042 8 5.57v12.86c0 .528.79.771 1.205.37l6.63-6.43a.5.5 0 0 0 0-.74" />
  </svg>

  <!-- Step 3 -->
  <li class="nav-item" [ngClass]="{
                                  'active': currentStep === 3,
                                  'text-success': currentStep > 3, 
                                  'bg-light-success': currentStep > 3  
                              }">
    @if (currentStep <= 3) { <svg width="19" height="18" viewBox="0 0 19 18" fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path opacity="0.3"
        d="M9.5 16.5C5.96447 16.5 4.1967 16.5 3.09835 15.4017C2 14.3033 2 12.5355 2 9C2 5.46447 2 3.6967 3.09835 2.59835C4.1967 1.5 5.96447 1.5 9.5 1.5C13.0355 1.5 14.8033 1.5 15.9017 2.59835C17 3.6967 17 5.46447 17 9C17 12.5355 17 14.3033 15.9017 15.4017C14.8033 16.5 13.0355 16.5 9.5 16.5Z"
        [style.fill]="currentStep === 3 ? '#007bff' : '#4A6D97'" />
      <path
        d="M8.51236 13.9652C9.49439 14.1606 10.5123 14.0603 11.4373 13.6771C12.3624 13.294 13.153 12.6451 13.7093 11.8126C14.2656 10.9801 14.5625 10.0013 14.5625 9C14.5625 8.68934 14.3107 8.4375 14 8.4375C13.6893 8.4375 13.4375 8.68934 13.4375 9C13.4375 9.77876 13.2066 10.54 12.7739 11.1876C12.3413 11.8351 11.7263 12.3398 11.0068 12.6378C10.2873 12.9358 9.49564 13.0138 8.73183 12.8618C7.96803 12.7099 7.26644 12.3349 6.71577 11.7842C6.1651 11.2336 5.79009 10.532 5.63816 9.76817C5.48623 9.00437 5.56421 8.21267 5.86223 7.49318C6.16025 6.7737 6.66493 6.15875 7.31244 5.72609C7.95996 5.29343 8.72124 5.0625 9.5 5.0625C9.81066 5.0625 10.0625 4.81066 10.0625 4.5C10.0625 4.18934 9.81066 3.9375 9.5 3.9375C8.49873 3.9375 7.51995 4.23441 6.68743 4.79068C5.8549 5.34696 5.20603 6.13761 4.82286 7.06266C4.43969 7.98772 4.33944 9.00562 4.53478 9.98764C4.73011 10.9697 5.21227 11.8717 5.92027 12.5797C6.62828 13.2877 7.53033 13.7699 8.51236 13.9652Z"
        [style.fill]="currentStep === 3 ? '#007bff' : '#4A6D97'" />
      <path
        d="M10.4831 4.53402C10.6056 4.2485 10.9363 4.11628 11.2218 4.23869C12.5847 4.82302 13.677 5.91535 14.2613 7.27821C14.3837 7.56373 14.2515 7.89443 13.966 8.01685C13.6805 8.13927 13.3498 8.00705 13.2273 7.72153C12.7568 6.62406 11.8759 5.74321 10.7785 5.27267C10.493 5.15025 10.3607 4.81955 10.4831 4.53402Z"
        [style.fill]="currentStep === 3 ? '#007bff' : '#4A6D97'" />
      <path
        d="M9.5 7.31246C9.81066 7.31246 10.0625 7.5643 10.0625 7.87496V8.43747H10.625C10.9357 8.43747 11.1875 8.68931 11.1875 8.99997C11.1875 9.31063 10.9357 9.56247 10.625 9.56247H10.0625V10.125C10.0625 10.4356 9.81066 10.6875 9.5 10.6875C9.18934 10.6875 8.9375 10.4356 8.9375 10.125V9.56247H8.375C8.06434 9.56247 7.8125 9.31063 7.8125 8.99997C7.8125 8.68931 8.06434 8.43747 8.375 8.43747H8.9375V7.87496C8.9375 7.5643 9.18934 7.31246 9.5 7.31246Z"
        [style.fill]="currentStep === 3 ? '#007bff' : '#4A6D97'" />
      </svg>



      }
      @if (currentStep > 3) {
      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"
        [style.fill]="currentStep > 3 ? 'currentColor' : 'black'">
        <path d="M22 12c0 5.523-4.477 10-10 10S2 17.523 2 12S6.477 2 12 2s10 4.477 10 10" opacity=".5" />
        <path
          d="M16.03 8.97a.75.75 0 0 1 0 1.06l-5 5a.75.75 0 0 1-1.06 0l-2-2a.75.75 0 1 1 1.06-1.06l1.47 1.47l2.235-2.235L14.97 8.97a.75.75 0 0 1 1.06 0" />
      </svg>
      }
      <span class="nav-link">Extra Conditions </span><span class="small nav-link">Optional</span>
  </li>
</ul>


<!-- step 1 -->
@if (currentStep === 1) {
<div class="content-hug">
  <div class="content-box d-flex flex-column gap-3">
    <h2>Main Information</h2>
    <form [formGroup]="leaveType1" class="w-lg-50 d-flex flex-column gap-2">
      <div class="input">
        <label for="leaveId">Leave Type Code (Optional)</label>
        <div class="form-outline w-100 position-relative custom-date-wrapper">
          <input type="text" formControlName="code" id="leaveId" class="form-control custom-date-input"
            placeholder="0050" />
        </div>
      </div>
      <div class="input">
        <label for="leaveName">Leave Type Name<span>*</span></label>
        <div class="form-outline w-100 position-relative custom-date-wrapper">
          <input type="text" id="leaveName" formControlName="name" class="form-control custom-date-input"
            placeholder="Leave type name" (focus)="leaveType1.get('name')?.markAsTouched()"
            (blur)="leaveType1.get('name')?.markAsTouched()" />
        </div>
        @if (leaveType1.get('name')?.touched && leaveType1.get('name')?.errors?.['required']) {
        <p class="error-msg">
          Leave Type Name is required.
        </p>
        }
        @if (leaveType1.get('name')?.touched && leaveType1.get('name')?.errors?.['minlength']) {
        <p class="error-msg">
          Leave Type Name must be at least 2 characters long.
        </p>
        }
        @if (leaveType1.get('name')?.touched && leaveType1.get('name')?.errors?.['maxlength']) {
        <p class="error-msg">
          Leave Type Name must not exceed 100 characters.
        </p>
        }
      </div>

      <div class="input">
        <label for="desc">Leave Type Description (Optional)</label>
        <div class="form-outline w-100 position-relative custom-date-wrapper">
          <textarea type="text" formControlName="description" id="desc" class="form-control custom-date-input"
            placeholder="Describe the leave type briefly"></textarea>
        </div>
      </div>
      <div class="input">
        <label for="emptype">Employment Type<span>*</span></label>
        <div class="d-flex align-items-center gap-4">
          <div class="form-outline w-100 position-relative custom-date-wrapper">
            <select name="emptype" formControlName="employmentType" id="emptype" class="form-select">
              <option value="" disabled selected hidden>Select Type</option>
              <option value="1">Full-Time</option>
              <option value="2">Part-Time</option>
              <option value="3">Per Hour</option>
              <option value="4">Freelance</option>
            </select>
          </div>
        </div>
        @if (leaveType1.get('employmentType')?.touched && leaveType1.get('employmentType')?.errors?.['required']) {
        <p class="error-msg">
          Employment Type is required.
        </p>
        }
      </div>
    </form>
    @if (errMsg) {
    <div class="alert alert-danger mb-0 mt-3" role="alert">
      {{errMsg}}
    </div>
    }
    <!-- next button -->
    <div class="btn-fixed">
      <button class="btn btn-lg btn-primary" (click)="goNext()">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
          <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
            d="M4 12h16m0 0l-6-6m6 6l-6 6" />
        </svg>
        <span>Next (1/3)</span>
      </button>
    </div>
  </div>
</div>
}



<!-- step 2 -->
@if (currentStep === 2) {
<div class="content-hug">
  <div class="content-box d-flex flex-column gap-3">
    <h2>Leave Settings</h2>
    <form [formGroup]="leaveType2" class="w-lg-50 d-flex flex-column gap-2">
      <div class="input">
        <label for="accrualRate">Accrual Rate<span>*</span></label>
        <div class="form-outline w-100 position-relative custom-date-wrapper">
          <input type="number" formControlName="accrual_rate" id="accrualRate" class="form-control custom-date-input"
            placeholder="Per Month" />
        </div>
        @if (leaveType2.get('accrual_rate')?.touched && leaveType2.get('accrual_rate')?.errors?.['required']) {
        <p class="error-msg">
          Accrual Rate is required.
        </p>
        }
        @if (leaveType2.get('accrual_rate')?.touched && leaveType2.get('accrual_rate')?.errors?.['pattern']) {
        <p class="error-msg">
          Accrual Rate must be number.
        </p>
        }
      </div>
      <div class="input">
        <label for="leaveLimits">Leave Limits<span>*</span></label>
        <div class="form-outline w-100 position-relative custom-date-wrapper">
          <input type="number" formControlName="leave_limits" id="leaveLimits" class="form-control custom-date-input"
            placeholder="Per Year" />
        </div>
        @if (leaveType2.get('leave_limits')?.touched && leaveType2.get('leave_limits')?.errors?.['required']) {
        <p class="error-msg">
          Leave Limits is required.
        </p>
        }
        @if (leaveType2.get('leave_limits')?.touched && leaveType2.get('leave_limits')?.errors?.['pattern']) {
        <p class="error-msg">
          Leave Limits must be number.
        </p>
        }
        @if (leaveType2.get('leave_limits')?.touched && leaveType2.get('leave_limits')?.errors?.['limitTooSmall']) {
        <p class="error-msg">
          Leave Limits must be greater than or equal to Accrual Rate.
        </p>
        }
      </div>
      <div class="input">
        <label for="maxReview">Max Review Days<span>*</span></label>
        <div class="form-outline w-100 position-relative custom-date-wrapper">
          <input type="number" formControlName="max_review_days" id="maxReview" class="form-control custom-date-input"
            placeholder="ex: 5" />
        </div>
        @if (leaveType2.get('max_review_days')?.touched && leaveType2.get('max_review_days')?.errors?.['required']) {
        <p class="error-msg">
          Max Review Days is required.
        </p>
        }
        @if (leaveType2.get('max_review_days')?.touched && leaveType2.get('max_review_days')?.errors?.['pattern']) {
        <p class="error-msg">
          Max Review Days must be number.
        </p>
        }
      </div>
      <div class="form-check d-flex align-items-end justify-content-start p-0 m-0 gap-3">
        <input class="form-check-input m-0" [(ngModel)]="carryoverAllowed" (change)="toggleCarryoverValidators()"
          [ngModelOptions]="{ standalone: true }" type="checkbox" id="allowCarryover">
        <label class="form-check-label m-0" for="allowCarryover">
          Allow Carryover
        </label>
      </div>
      <div class="input mt-2" [style.opacity]="carryoverAllowed ? '1' : '0.5'">
        <label for="maxCarryover">Maximum Carryover Days</label>
        <div class="form-outline w-100 position-relative custom-date-wrapper">
          <input type="number" [disabled]="!carryoverAllowed" formControlName="maximum_carryover_days" id="maxCarryover"
            class="form-control custom-date-input" placeholder="ex: 5" />
        </div>
        @if (leaveType2.get('maximum_carryover_days')?.touched &&
        leaveType2.get('maximum_carryover_days')?.errors?.['required']) {
        <p class="error-msg">
          Maximum Carryover Days is required.
        </p>
        }
        @if (leaveType2.get('maximum_carryover_days')?.touched &&
        leaveType2.get('maximum_carryover_days')?.errors?.['pattern']) {
        <p class="error-msg">
          Maximum Carryover Days must be number.
        </p>
        }
        @if ((leaveType2.get('maximum_carryover_days')?.touched || leaveType2.get('leave_limits')?.touched) &&
        leaveType2.get('maximum_carryover_days')?.errors?.['exceedsLeaveLimit']) {
        <p class="error-msg">
          Maximum Carryover Days cannot be more than Leave Limits.
        </p>
        }
      </div>
    </form>
    @if (errMsg) {
    <div class="alert alert-danger mb-0 mt-3" role="alert">
      {{errMsg}}
    </div>
    }
    <!-- prev and confirm buttons -->
    <div class="btn-fixed d-flex align-items-stretch gap-2">
      <button class="btn btn-outline-success bg-white d-flex justify-content-center align-items-center"
        (click)="goPrev()">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
          <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
            d="M20 12H4m0 0l6-6m-6 6l6 6" />
        </svg>
      </button>

      <!-- next button -->
      <button class="btn btn-lg btn-primary" [disabled]="!leaveType2.valid" (click)="goNext()">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
          <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
            d="M4 12h16m0 0l-6-6m6 6l-6 6" />
        </svg>
        <span>Next (2/3)</span>
      </button>
      <!-- <button class="btn btn-lg btn-success w-auto"
        [disabled]="!isFormChanged || !leaveType1.valid || !leaveType2.valid || isLoading" (click)="updateleaveType()">
        @if (isLoading) {
        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
        }
        @if (!isLoading) {
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
          <g fill="none" stroke="currentColor" stroke-width="1.5">
            <circle cx="12" cy="12" r="10" />
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.5 12.5l2 2l5-5" />
          </g>
        </svg>
        }
        <span>Save Changes</span>
      </button> -->
    </div>
  </div>
</div>
}


@if (currentStep === 3) {
<div class="content-hug">
  <div class="content-box d-flex flex-column gap-3">
    <h2>Extra Conditions</h2>
    <form [formGroup]="leaveType3" class="w-lg-50 d-flex flex-column gap-2">

      <div class="input">
        <div class="form-check p-0 m-0 my-2">
          <div class="d-flex align-items-start gap-2">
            <input class="form-check-input m-0 mt-1" type="checkbox" id="extra_with_min_days_service"
              formControlName="extra_with_min_days_service" style="flex-shrink: 0;">
            <div class="d-flex flex-column" style="gap: 0.25rem;">
              <label class="form-check-label m-0" for="extra_with_min_days_service"
                style="font-weight: 500; line-height: 1.5;">
                Custom Minimum Days of Service
              </label>
              <small class="text-muted"
                style="font-size: 0.875rem; line-height: 1.4; color: var(--color-secondary-400);">
                By default, the leave balance will start after probation.
              </small>
            </div>
          </div>
        </div>
        <div class="form-outline w-100 position-relative custom-date-wrapper">
          <div class="input w-100" [style.opacity]="leaveType3.get('minDaysService')?.disabled ? 0.5 : 1">
            <label [for]="'MinDaysService'">Value</label>
            <div class="form-outline w-100 position-relative custom-date-wrapper">
              <input type="text" [id]="'MinDaysService'" class="form-control custom-date-input"
                formControlName="minDaysService" placeholder="Enter number or select option" />
            </div>
          </div>
        </div>
      </div>
      <hr />

      <div class="input">
        <div class="form-check d-flex align-items-end justify-content-start p-0 m-0 my-2 gap-1">
          <input class="form-check-input m-0" type="checkbox" id="extra_with_age" formControlName="extra_with_age">
          <label class="form-check-label m-0" for="extra_with_age">
            Extra limit with Age
          </label>
        </div>
        <div class="form-outline w-100 position-relative custom-date-wrapper">

          <div class="w-100 d-flex align-items-start gap-2">
            <div class="input w-100" [style.opacity]="leaveType3.get('age')?.disabled ? 0.5 : 1">
              <label [for]="'Age' ">Age</label>
              <div class="form-outline w-100 position-relative custom-date-wrapper">
                <input type="number" [id]="'Age' " class="form-control custom-date-input" formControlName="age" />
              </div>
            </div>
            <div class="input w-100" [style.opacity]="leaveType3.get('extraDays')?.disabled ? 0.5 : 1">
              <label [for]="'ExtraDays'">Extra days</label>
              <div class="form-outline w-100 position-relative custom-date-wrapper">
                <input type="number" [id]="'ExtraDays' " class="form-control custom-date-input"
                  formControlName="extraDays" />
              </div>
            </div>

          </div>


        </div>
      </div>
      <hr />

      <div class="input">
        <div class="form-check d-flex align-items-end justify-content-start p-0 m-0 my-2 gap-1">
          <input class="form-check-input m-0" type="checkbox" id="allowCarryover" formControlName="extra_with_service">
          <label class="form-check-label m-0" for="allowCarryover">
            Extra limit with years of Service
          </label>
        </div>
        <div class="form-outline w-100 position-relative custom-date-wrapper">
          <div class="w-100 d-flex align-items-start gap-2">
            <div class="input w-100" [style.opacity]="leaveType3.get('yearsOfService')?.disabled ? 0.5 : 1">
              <label [for]="'YearsOFService' ">Years of Service</label>
              <div class="form-outline w-100 position-relative custom-date-wrapper">
                <input type="number" [id]="'YearsOFService' " class="form-control custom-date-input"
                  formControlName="yearsOfService" />
              </div>
            </div>
            <div class="input w-100" [style.opacity]="leaveType3.get('extraDaysService')?.disabled ? 0.5 : 1">
              <label [for]="'ExtraDays'">Extra days</label>
              <div class="form-outline w-100 position-relative custom-date-wrapper">
                <input type="number" [id]="'ExtraDays' " class="form-control custom-date-input"
                  formControlName="extraDaysService" />
              </div>
            </div>

          </div>
        </div>


      </div>
      <hr />

      <div class="input">
        <div class="form-check d-flex align-items-end justify-content-start p-0 m-0 my-2 gap-1">
          <input class="form-check-input m-0" type="checkbox" id="allowCarryover"
            formControlName="extra_with_experience">
          <label class="form-check-label m-0" for="allowCarryover">
            Extra limit with years of Experience
          </label>
        </div>
        <div class="form-outline w-100 position-relative custom-date-wrapper">
          <div class="w-100 d-flex align-items-start gap-2">
            <div class="input w-100" [style.opacity]="leaveType3.get('yearsOfExperience')?.disabled ? 0.5 : 1">
              <label [for]="'YearsOfExperience' ">Years of Experience</label>
              <div class="form-outline w-100 position-relative custom-date-wrapper">
                <input type="number" [id]="'YearsOfExperience' " class="form-control custom-date-input"
                  formControlName="yearsOfExperience" />
              </div>
            </div>
            <div class="input w-100" [style.opacity]="leaveType3.get('extraDaysExperience')?.disabled ? 0.5 : 1">
              <label [for]="'ExtraDaysExperience'">Extra days</label>
              <div class="form-outline w-100 position-relative custom-date-wrapper">
                <input type="number" [id]="'ExtraDaysExperience' " class="form-control custom-date-input"
                  formControlName="extraDaysExperience" />
              </div>
            </div>

          </div>
        </div>

      </div>

    </form>
    @if (errMsg) {
    <div class="alert alert-danger mb-0 mt-3" role="alert">
      {{errMsg}}
    </div>
    }
    <!-- prev and confirm buttons -->
    <div class="btn-fixed d-flex align-items-stretch gap-2">
      <button class="btn btn-outline-success bg-white d-flex justify-content-center align-items-center"
        (click)="goPrev()">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
          <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
            d="M20 12H4m0 0l6-6m-6 6l6 6" />
        </svg>
      </button>

      <button class="btn btn-lg btn-success w-auto" [disabled]="isSaveDisabled" (click)="updateLeaveType()">
        @if (isLoading) {
        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
        }
        @if (!isLoading) {
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
          <g fill="none" stroke="currentColor" stroke-width="1.5">
            <circle cx="12" cy="12" r="10" />
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.5 12.5l2 2l5-5" />
          </g>
        </svg>
        }
        <span>Save Changes</span>
      </button>
    </div>
  </div>
</div>
}




<!-- discard -->
<app-popup [title]="'Discard Changes'" [paragraph1]="'Are you sure you want to discard your changes?'"
  [isOpen]="isModalOpen" (close)="closeModal()">
  <button modal-btn-left class="btn btn-lg btn-dark w-100" (click)="confirmAction()">
    Discard Changes
  </button>
  <button modal-btn-right class="btn btn-lg btn-outline-dark border-0 w-100" (click)="closeModal()">
    Cancel
  </button>
</app-popup>