<!-- start Table -->
<div class="table-responsive">
  <table class="table table-hover align-middle">
    <thead>
      <tr>
        <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let row of data | paginate: { itemsPerPage, currentPage }; let i = index">
        <ng-container *ngTemplateOutlet="rowTemplate; context: { $implicit: row, index: i }"></ng-container>
      </tr>
    </tbody>
  </table>
</div>




<!-- Pagination Section -->
<div class="d-flex flex-column flex-lg-row justify-content-between align-items-center">
  <div class="d-flex align-items-center gap-2">
    <div class="text-gray-sm custom-border-padding">
      Showing {{ (currentPage - 1) * itemsPerPage + 1 }}–
      {{
      currentPage * itemsPerPage > data.length
      ? data.length
      : currentPage * itemsPerPage
      }}
      from {{ data.length }}
    </div>
    <div class="d-flex align-items-center gap-2 ps-3">
      View
      <select class="form-select form-select-md w-auto" [(ngModel)]="itemsPerPage"
        (ngModelChange)="onItemsPerPageChange()">
        <option *ngFor="let option of [5, 10, 25, 50]" [value]="option">
          {{ option }}
        </option>
      </select>
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-center gap-2">
    <button class="prev p-0 btn border-0" [disabled]="currentPage === 1" (click)="currentPage = currentPage - 1">
      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
          d="m15 5l-6 7l6 7" />
      </svg>
    </button>
    <pagination-controls (pageChange)="currentPage = $event" class="mb-0 ms-0"></pagination-controls>
    <button class="next p-0 btn border-0" [disabled]="currentPage * itemsPerPage >= data.length"
      (click)="currentPage = currentPage + 1">
      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
          d="m9 5l6 7l-6 7" />
      </svg>
    </button>
  </div>
</div>