.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    /* يعمل Blur للخلفية */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.modal-content {
    height: auto;
    width: auto;
    min-width: 600px;
    max-width: 600px;
    padding: var(--spacing-40);
    background-color: var(--color-white);
    border-radius: var(--border-radius-25);
    -webkit-border-radius: var(--border-radius-25);
    -moz-border-radius: var(--border-radius-25);
    -ms-border-radius: var(--border-radius-25);
    -o-border-radius: var(--border-radius-25);
    display: flex;
    flex-direction: column;
}

.modal-content p {
    margin-bottom: 0;
}

.modal-title {
    font-size: var(--font-size-h3);
    color: var(--color-secondary-800);
    font-weight: 600;
    line-height: var(--line-height-md);
    margin-bottom: var(--spacing-20) !important;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-16);
}

.close-button {
    background: transparent;
    border: none;
    font-size: 22px;
    line-height: 1;
    color: var(--color-neutral-500);
    cursor: pointer;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.close-button:hover {
    color: var(--color-neutral-700);
}

.modal-paragraph {
    font-size: var(--font-size-b2);
    color: var(--color-secondary-900);
    font-weight: 400;
    line-height: var(--line-height-xss);
}

.modal-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-20);
    margin-top: var(--spacing-20) !important;
}