<div class="min-vh-100 d-flex flex-column align-items-center justify-content-center mt-5">
    <img src="./images/not-verfied.png" alt="error icon" class="mb-3">
    <h2>Error 401</h2>
    <h3 class="mb-3">Access Denied</h3>
    <p class="mb-4">You do not have permission to access this page.</p>
    <button class="btn btn-lg btn-danger w-auto" (click)="goBack()">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22"
            viewBox="0 0 24 24">
            <path fill="currentColor"
                d="M20 11.25a.75.75 0 0 1 0 1.5h-9.25V18a.75.75 0 0 1-1.28.53l-6-6a.75.75 0 0 1 0-1.06l6-6a.75.75 0 0 1 1.28.53v5.25z" />
        </svg>
        <span>Go Back</span>
    </button>
</div>