h5 {
  color: var(--color-secondary-800);
  font-weight: 400;
  font-size: var(--font-size-b1);
  line-height: var(--line-height-sm);
}
h5 span {
  color: var(--color-primary-600);
}

/* profile image */
.profile-hug {
  width: 130px;
  height: 130px;
  aspect-ratio: 1/1;
  border-radius: var(--border-radius-16);
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: var(--color-white);
  position: relative;
  cursor: pointer;
  transition: 0.3s ease;
  -webkit-border-radius: var(--border-radius-16);
  -moz-border-radius: var(--border-radius-16);
  -ms-border-radius: var(--border-radius-16);
  -o-border-radius: var(--border-radius-16);
}

.profile-hug img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease;
}

.profile-hug:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  color: white;
  font-size: 15px;
  opacity: 0;
  transition: 0.3s ease;
}

.profile-hug:hover .overlay {
  opacity: 1;
}

.delete-btn {
  position: absolute;
  /* top: 5px; */
  /* right: 5px; */
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;

  &:hover {
    background-color: #cc0000;
  }
}
