<!-- start page header -->
<app-page-header [breadcrumbs]="[
    { label: 'Recruitment', link: '/calendar' },
    { label: 'Calendar' }
  ]" title="Calendar">
</app-page-header>
<!-- end page header -->

<!-- start content -->
<div class="content-hug">
    <div class="row align-items-stretch">
        <!-- calender -->
        <div class="col-lg-8">
            <div class="content-box h-100">
                <!-- search and new employee button -->
                <div
                    class="d-flex flex-column flex-lg-row align-items-start align-lg-items-center justify-content-between gap-2">
                    <div class="d-flex align-items-center gap-2 w-100 w-lg-50">
                        <!-- Search input -->
                        <div data-mdb-input-init class="form-outline w-50">
                            <input type="text" class="form-control" placeholder="Search" />
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                                <g fill="none" stroke-width="1.5">
                                    <circle cx="11.5" cy="11.5" r="9.5" />
                                    <path stroke-linecap="round" d="M18.5 18.5L22 22" />
                                </g>
                            </svg>
                        </div>
                    </div>

                </div>

                <!-- calender -->
                <div class="calendar-wrapper mt-4">
                    <full-calendar #calendar class="calendar-full" [options]="calendarOptions"></full-calendar>
                </div>
            </div>

        </div>

        <!-- day details -->
        <div class="col-lg-4">
             <div class="content-box position-sticky" style="top: 9.8rem;" *ngIf="selectedDateFormatted">
                <div class="selected-day mb-4" *ngIf="selectedDateFormatted">
                    {{ selectedDateFormatted }}
                </div>
                <div class="event d-flex gap-3  align-items-stretch" *ngFor="let event of eventsDay"
                    [ngClass]="event.type.toLowerCase()">
                    <div class="border"></div>
                    <div class="contain d-flex flex-column">
                        <h5>{{event.type}}</h5>
                        <h3 class="font-semi-bold">{{event.title}}</h3>
                    </div>
                </div>
                <div class="noevents" *ngIf="eventsDay.length<1 && selectedDateFormatted">No events In this Day</div>
            </div>
        </div>
    </div>
</div>