<div class="requests-content">
  <h2 class="mb-3">Employee Requests</h2>

  <!-- Table Header Template -->
  <ng-template #headerTemplate>
    <th class="text-start">Requested at</th>
    <th class="text-start">Current Step</th>
    <th class="text-start">Leave Type</th>
    <th class="text-start">Date Range</th>
    <th class="text-start">Status</th>
    <th class="text-start">Actions</th>
  </ng-template>

  <!-- Table Row Template -->
  <ng-template #rowTemplate let-request>
    <td class="text-start">{{ getFormattedDate(request.created_at) }}</td>
    <td class="text-start">{{ getCurrentStep(request) }}</td>
  <td class="text-start">{{ request.leave?.name || request.request_info?.name }}</td>
    <td class="text-start">{{ getDateRange(request) }}</td>
    <td class="text-start">
      <span [ngClass]="getStatusClass(request.status?.name)">
        @if (request.status?.name === 'Pending') {
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
          <g fill="none" stroke="currentColor" stroke-width="1.5">
            <path
              d="m12 12l-2.958 2.929c-2.922 2.894-4.383 4.341-3.974 5.59q.052.16.13.312C5.8 22 7.867 22 12 22s6.2 0 6.802-1.17q.078-.15.13-.311c.41-1.249-1.052-2.696-3.974-5.59zm0 0l2.958-2.929c2.922-2.894 4.383-4.341 3.974-5.59a2 2 0 0 0-.13-.312C18.2 2 16.133 2 12 2S5.8 2 5.198 3.17q-.078.15-.13.311c-.41 1.249 1.052 2.696 3.974 5.59z" />
            <path stroke-linecap="round" d="M10 5.5h4m-4 13h4" />
          </g>
        </svg>
        }
        @if (request.status?.name === 'Approved' || request.status?.name === 'Active' || request.status?.name === 'Accepted') {
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
          <g fill="none" stroke="currentColor" stroke-width="1.5">
            <circle cx="12" cy="12" r="10" />
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.5 12.5l2 2l5-5" />
          </g>
        </svg>
        }
        @if (request.status?.name === 'Rejected' || request.status?.name === 'Cancelled' || request.status?.name === 'Expired') {
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
          <g fill="none" stroke="currentColor" stroke-width="1.5">
            <circle cx="12" cy="12" r="10" />
            <path stroke-linecap="round" d="m14.5 9.5l-5 5m0-5l5 5" />
          </g>
        </svg>
        }
        @if (request.status?.name === 'Disabled' || request.status?.name === 'Inactive') {
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
          <g fill="none" stroke="currentColor" stroke-width="1.5">
            <circle cx="12" cy="12" r="10" />
            <path stroke-linecap="round" d="m15 9l-6 6m0-6l6 6" />
          </g>
        </svg>
        }
        <span>{{ request.status.name }}</span>
      </span>
    </td>
    <td class="text-start">
      <a [routerLink]="['/requests/view-requests/', request.id]" class="view-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
          <g fill="none" stroke="currentColor" stroke-width="1.5">
            <path d="M15 12a3 3 0 1 1-6 0a3 3 0 0 1 6 0Z"/>
            <path d="M2 12c1.6-4.097 5.336-7 10-7s8.4 2.903 10 7c-1.6 4.097-5.336 7-10 7s-8.4-2.903-10-7Z"/>
          </g>
        </svg>
        View
      </a>
    </td>
  </ng-template>

  <!-- Empty Template -->
  <ng-template #emptyTemplate>
    <tr>
      <td colspan="6" class="py-3">
          No requests found
       
      </td>
    </tr>
  </ng-template>

  <app-table
    [data]="requests"
    [totalItems]="totalItems"
    [currentPage]="currentPage"
    [itemsPerPage]="itemsPerPage"
    [isLoading]="loading"
    [columnsCount]="6"
    [headerTemplate]="headerTemplate"
    [rowTemplate]="rowTemplate"
    [emptyTemplate]="emptyTemplate"
    (pageChange)="onPageChange($event)"
    (itemsPerPageChange)="onItemsPerPageChange($event)">
  </app-table>
</div>