<!-- page header -->
<app-page-header [breadcrumbs]="[
    { label: 'Operations Development', link: '/departments' },
    { label: 'Branches', link: '/branches' },
    { label: 'Create New Branch' }
  ]" title="Create New Branch" [create]="todayFormatted">
    @if(branchSub?.create){
    <button class="btn btn-lg btn-success" [disabled]="isLoading || !branchStep1.valid || addeddepartments.length<1"
        (click)="createBranch()">
        <span *ngIf="isLoading" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
        <svg *ngIf="!isLoading" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
            <g fill="none" stroke="currentColor" stroke-width="1.5">
                <circle cx="12" cy="12" r="10" />
                <path stroke-linecap="round" stroke-linejoin="round" d="m8.5 12.5l2 2l5-5" />
            </g>
        </svg>
        <span>Create Branch</span>
    </button>

    }

    <button class="btn btn-lg btn-outline-dark" (click)="openModal()">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
            <g fill="none" stroke="currentColor" stroke-width="1.5">
                <circle cx="12" cy="12" r="10" />
                <path stroke-linecap="round" d="m14.5 9.5l-5 5m0-5l5 5" />
            </g>
        </svg>
        <span>Discard Branch</span>
    </button>
</app-page-header>



<!-- steps navigation -->
<ul class="nav d-flex align-items-center nav-tabs bg-white px-3">
    <li class="nav-item" [ngClass]="{
        'active': currentStep === 1,
        'text-success': currentStep > 1, 
        'bg-light-success': currentStep > 1  
    }">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" *ngIf="currentStep == 1">
            <path d="M22 12c0 5.523-4.477 10-10 10S2 17.523 2 12S6.477 2 12 2s10 4.477 10 10" opacity=".5" />
            <path
                d="M12 17.75a.75.75 0 0 0 .75-.75v-6a.75.75 0 0 0-1.5 0v6c0 .414.336.75.75.75M12 7a1 1 0 1 1 0 2a1 1 0 0 1 0-2" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" *ngIf="currentStep > 1" viewBox="0 0 24 24"
            [style.fill]="currentStep > 1 ? 'currentColor' : 'black'">
            <path d="M22 12c0 5.523-4.477 10-10 10S2 17.523 2 12S6.477 2 12 2s10 4.477 10 10" opacity=".5" />
            <path
                d="M16.03 8.97a.75.75 0 0 1 0 1.06l-5 5a.75.75 0 0 1-1.06 0l-2-2a.75.75 0 1 1 1.06-1.06l1.47 1.47l2.235-2.235L14.97 8.97a.75.75 0 0 1 1.06 0" />
        </svg>
        <span class="nav-link">Main Information</span>
    </li>

    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" [style.fill]="
    currentStep === 1 ? '#DDE3EB' :
    currentStep === 2 ? '#377AFD' :
    currentStep > 2 ? '#4CA883' :
    '#DDE3EB'
  ">
        <path
            d="M15.835 11.63L9.205 5.2C8.79 4.799 8 5.042 8 5.57v12.86c0 .528.79.771 1.205.37l6.63-6.43a.5.5 0 0 0 0-.74" />
    </svg>

    <li class="nav-item" [ngClass]="{
        'active': currentStep === 2,
        'text-success': currentStep > 2, 
        'bg-light-success': currentStep > 2  
    }">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" *ngIf="currentStep <= 2"
            [style.fill]="currentStep === 2 ? '#007bff' : '#4A6D97'" fill-rule="evenodd">
            <path
                d="M13 15.4c0-2.074 0-3.111.659-3.756S15.379 11 17.5 11s3.182 0 3.841.644C22 12.29 22 13.326 22 15.4v2.2c0 2.074 0 3.111-.659 3.756S19.621 22 17.5 22s-3.182 0-3.841-.644C13 20.71 13 19.674 13 17.6z"
                opacity=".5" />
            <path
                d="M2 8.6c0 2.074 0 3.111.659 3.756S4.379 13 6.5 13s3.182 0 3.841-.644C11 11.71 11 10.674 11 8.6V6.4c0-2.074 0-3.111-.659-3.756S8.621 2 6.5 2s-3.182 0-3.841.644C2 3.29 2 4.326 2 6.4zm11-3.1c0-1.087 0-1.63.171-2.06a2.3 2.3 0 0 1 1.218-1.262C14.802 2 15.327 2 16.375 2h2.25c1.048 0 1.573 0 1.986.178c.551.236.99.69 1.218 1.262c.171.43.171.973.171 2.06s0 1.63-.171 2.06a2.3 2.3 0 0 1-1.218 1.262C20.198 9 19.673 9 18.625 9h-2.25c-1.048 0-1.573 0-1.986-.178a2.3 2.3 0 0 1-1.218-1.262C13 7.13 13 6.587 13 5.5" />
            <path
                d="M2 18.5c0 1.087 0 1.63.171 2.06a2.3 2.3 0 0 0 1.218 1.262c.413.178.938.178 1.986.178h2.25c1.048 0 1.573 0 1.986-.178c.551-.236.99-.69 1.218-1.262c.171-.43.171-.973.171-2.06s0-1.63-.171-2.06a2.3 2.3 0 0 0-1.218-1.262C9.198 15 8.673 15 7.625 15h-2.25c-1.048 0-1.573 0-1.986.178c-.551.236-.99.69-1.218 1.262C2 16.87 2 17.413 2 18.5"
                opacity=".5" />

        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" *ngIf="currentStep > 2" viewBox="0 0 24 24"
            [style.fill]="currentStep > 1 ? 'currentColor' : 'black'">
            <path d="M22 12c0 5.523-4.477 10-10 10S2 17.523 2 12S6.477 2 12 2s10 4.477 10 10" opacity=".5" />
            <path
                d="M16.03 8.97a.75.75 0 0 1 0 1.06l-5 5a.75.75 0 0 1-1.06 0l-2-2a.75.75 0 1 1 1.06-1.06l1.47 1.47l2.235-2.235L14.97 8.97a.75.75 0 0 1 1.06 0" />
        </svg>
        <span class="nav-link">Departments</span>
    </li>

    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" [style.fill]="
    currentStep === 2 ? '#DDE3EB' :
    currentStep === 3 ? '#377AFD' :
    currentStep > 3 ? '#4CA883' :
    '#DDE3EB'
  ">
        <path
            d="M15.835 11.63L9.205 5.2C8.79 4.799 8 5.042 8 5.57v12.86c0 .528.79.771 1.205.37l6.63-6.43a.5.5 0 0 0 0-.74" />
    </svg>


    <li class="nav-item" [ngClass]="{
        'active': currentStep === 3,
        'text-success': currentStep > 3, 
        'bg-light-success': currentStep > 3  
    }">

        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" *ngIf="currentStep <= 3" viewBox="0 0 24 24">
            <path [style.fill]="currentStep === 3 ? '#007bff' : '#4A6D97'" fill-rule="evenodd"
                d="M3 13.037c0-1.103 0-1.655.393-1.976c.139-.114.308-.206.497-.269c.532-.177 1.231-.002 2.629.346c1.067.267 1.6.4 2.14.386q.298-.008.588-.059c.525-.093.993-.326 1.929-.793l1.382-.69c1.2-.599 1.799-.898 2.487-.967s1.372.102 2.739.443l1.165.29c.99.247 1.485.371 1.768.665s.283.685.283 1.466v6.084c0 1.103 0 1.655-.393 1.976a1.6 1.6 0 0 1-.497.269c-.532.177-1.231.003-2.629-.346c-1.067-.267-1.6-.4-2.14-.386a4 4 0 0 0-.588.059c-.525.093-.993.326-1.929.793l-1.382.69c-1.2.599-1.799.898-2.487.967s-1.372-.102-2.739-.443l-1.165-.29c-.99-.247-1.485-.371-1.768-.665S3 19.902 3 19.121z"
                opacity=".5" />
            <path [style.fill]="currentStep === 3 ? '#007bff' : '#4A6D97'" fill-rule="evenodd"
                d="M12 2C8.686 2 6 4.552 6 7.7c0 3.124 1.915 6.769 4.903 8.072a2.76 2.76 0 0 0 2.194 0C16.085 14.47 18 10.824 18 7.7C18 4.552 15.314 2 12 2m0 8a2 2 0 1 0 0-4a2 2 0 0 0 0 4"
                clip-rule="evenodd" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" *ngIf="currentStep > 3" viewBox="0 0 24 24"
            [style.fill]="currentStep > 1 ? 'currentColor' : 'black'">
            <path d="M22 12c0 5.523-4.477 10-10 10S2 17.523 2 12S6.477 2 12 2s10 4.477 10 10" opacity=".5" />
            <path
                d="M16.03 8.97a.75.75 0 0 1 0 1.06l-5 5a.75.75 0 0 1-1.06 0l-2-2a.75.75 0 1 1 1.06-1.06l1.47 1.47l2.235-2.235L14.97 8.97a.75.75 0 0 1 1.06 0" />
        </svg>
        <span class="nav-link">Branch Location</span>
    </li>
</ul>



<!-- step 1 -->
<div class="content-hug" *ngIf="currentStep === 1">
    <div class="content-box d-flex flex-column gap-3">
        <h2>Main Information</h2>
        <form [formGroup]="branchStep1" class="w-lg-50 d-flex flex-column gap-2">
            <div class="input">
                <label for="branchCode">Branch Code (Optional)</label>
                <div class="form-outline w-100 position-relative custom-date-wrapper">
                    <input type="text" formControlName="code" id="branchCode" class="form-control custom-date-input"
                        placeholder="Enter Code" maxlength="26" pattern="[A-Za-z0-9]*" />
                </div>
                <p class="error-msg"
                    *ngIf="branchStep1.get('code')?.touched && branchStep1.get('code')?.errors?.['maxlength']">
                    Branch Code cannot exceed 26 characters.
                </p>
                <p class="error-msg"
                    *ngIf="branchStep1.get('code')?.touched && branchStep1.get('code')?.errors?.['pattern']">
                    Branch Code must contain letters and numbers only.
                </p>
            </div>

            <div class="input">
                <label for="branchName">Branch Name <span>*</span></label>
                <div class="form-outline w-100 position-relative custom-date-wrapper">
                    <input type="text" formControlName="name" id="branchName" class="form-control custom-date-input"
                        placeholder="Enter Branch Name" maxlength="81" />
                </div>
                <p class="error-msg"
                    *ngIf="branchStep1.get('name')?.touched && branchStep1.get('name')?.errors?.['required']">
                    Branch Name is required.
                </p>
                <p class="error-msg"
                    *ngIf="branchStep1.get('name')?.touched && branchStep1.get('name')?.errors?.['maxlength']">
                    Branch Name cannot exceed 80 characters.
                </p>
            </div>

            <div class="input">
                <label for="branchLocation">Branch Location (Optional)</label>
                <div class="form-outline w-100 position-relative custom-date-wrapper">
                    <input type="text" formControlName="location" id="branchLocation"
                        class="form-control custom-date-input" placeholder="Enter Branch Location (city)" />
                </div>
            </div>

            <div class="input">
                <label for="empNo">Max No. Employees <span>*</span></label>
                <div class="form-outline w-100 position-relative custom-date-wrapper">
                    <input type="text" formControlName="maxEmployee" id="empNo" class="form-control custom-date-input"
                        placeholder="Enter Max Num of Employees" />
                </div>
                <p class="error-msg"
                    *ngIf="branchStep1.get('maxEmployee')?.touched && branchStep1.get('maxEmployee')?.errors?.['required']">
                    Max No. Employees is required.
                </p>
                <p class="error-msg"
                    *ngIf="branchStep1.get('maxEmployee')?.touched && branchStep1.get('maxEmployee')?.errors?.['pattern']">
                    Max No. Employees must be numbers only.
                </p>
            </div>

        </form>
        <div class="alert alert-danger mb-0 mt-2" role="alert" *ngIf="errMsg">
            {{errMsg}}
        </div>




        <!-- next button -->
        <div class="btn-fixed">
            <button class="btn btn-lg btn-primary" [disabled]="isLoading || !branchStep1.valid" (click)="goNext()">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="1.5" d="M4 12h16m0 0l-6-6m6 6l-6 6" />
                </svg>
                <span>Next (1/3)</span>
            </button>
        </div>

    </div>
</div>



<!-- step 2 -->
<div class="content-hug" *ngIf="currentStep === 2">
    <div class="content-box d-flex flex-column gap-3">
        <h2>Departments</h2>
        <div class="d-flex flex-row justify-content-between gap-3">
            <!-- Search input -->
            <div data-mdb-input-init class="form-outline w-25 w-md-100">
                <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchAddedDepartmentTerm" />
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                    <g fill="none" stroke-width="1.5">
                        <circle cx="11.5" cy="11.5" r="9.5" />
                        <path stroke-linecap="round" d="M18.5 18.5L22 22" />
                    </g>
                </svg>
            </div>
            <button class="btn btn-lg btn-primary" (click)="openFirstOverlay()">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
                    <g fill="none" stroke="currentColor" stroke-width="1.5">
                        <circle cx="12" cy="12" r="10" />
                        <path stroke-linecap="round" d="M15 12h-3m0 0H9m3 0V9m0 3v3" />
                    </g>
                </svg>
                <span>Add Departments</span>
            </button>
        </div>



        <!-- start table -->
        <div>
            <app-table [data]="filteredDepartments" [currentPage]="currentPage" [itemsPerPage]="10000"
                [disablePagination]="true" (pageChange)="onPageChange($event)"
                (itemsPerPageChange)="onItemsPerPageChange($event)" [headerTemplate]="departmentTableHeader"
                [rowTemplate]="departmentTableRow" [emptyTemplate]="departmentTableEmptyRow">
            </app-table>

            <ng-template #departmentTableHeader>
                <th (click)="sortBy()" style="cursor: pointer;" class="w-50">
                    <div class="d-flex align-items-center justify-content-between">
                        <span>Department</span>
                        <svg *ngIf="sortDirection === 'desc'" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24">
                            <g fill="none" stroke="#DDE3EB" stroke-linecap="round" stroke-width="1.5">
                                <path d="M4 8h9m-7 5h7m-5 5h5" />
                                <path stroke-linejoin="round" d="M17 20V4l3 4" />
                            </g>
                        </svg>
                        <svg *ngIf="sortDirection === 'asc'" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24">
                            <path fill="#DDE3EB" fill-rule="evenodd"
                                d="M17 3.25a.75.75 0 0 1 .75.75v13.75l1.65-2.2a.75.75 0 1 1 1.2.9l-3 4a.75.75 0 0 1-1.35-.45V4a.75.75 0 0 1 .75-.75M7.25 6A.75.75 0 0 1 8 5.25h5a.75.75 0 0 1 0 1.5H8A.75.75 0 0 1 7.25 6m-2 5a.75.75 0 0 1 .75-.75h7a.75.75 0 0 1 0 1.5H6a.75.75 0 0 1-.75-.75m-2 5a.75.75 0 0 1 .75-.75h9a.75.75 0 0 1 0 1.5H4a.75.75 0 0 1-.75-.75"
                                clip-rule="evenodd" />
                        </svg>
                    </div>
                </th>
                <th class="w-20">Sections</th>
                <th>Action</th>
            </ng-template>

            <ng-template #departmentTableRow let-department let-i="index">
                <td class="width-fix">
                    <span class="d-block text-gray-sm">{{ department.id.toString().padStart(4, '0') }}</span>
                    <span class="d-block text-truncate" style="max-width: 300px;">
                        {{ department.name }}
                    </span>
                </td>
                <td>{{ department.selectedSection }} / {{department.sectionsCount}} selected</td>
                <td class="flex-grow-1 ps-3" style="white-space: nowrap;">
                    <div class="d-flex align-items-center justify-content-start w-100 gap-3">
                        <a type="button" class="remove-btn d-flex align-items-center gap-1"
                            (click)="removeDepartment(department)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
                                <path fill="currentColor"
                                    d="M10.03 8.97a.75.75 0 0 0-1.06 1.06L10.94 12l-1.97 1.97a.75.75 0 1 0 1.06 1.06L12 13.06l1.97 1.97a.75.75 0 0 0 1.06-1.06L13.06 12l1.97-1.97a.75.75 0 1 0-1.06-1.06L12 10.94z" />
                                <path fill="currentColor" fill-rule="evenodd"
                                    d="M12 1.25C6.063 1.25 1.25 6.063 1.25 12S6.063 22.75 12 22.75S22.75 17.937 22.75 12S17.937 1.25 12 1.25M2.75 12a9.25 9.25 0 1 1 18.5 0a9.25 9.25 0 0 1-18.5 0"
                                    clip-rule="evenodd" />
                            </svg>
                            <span>Remove from Branch</span>
                        </a>
                        <a type="button" class="edit-btn d-flex align-items-center gap-1"
                            (click)="openSecondOverlay(department)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
                                <g fill="none" stroke="currentColor" stroke-width="1.5">
                                    <path stroke-linecap="round"
                                        d="M22 10.5V12c0 4.714 0 7.071-1.465 8.535C19.072 22 16.714 22 12 22s-7.071 0-8.536-1.465C2 19.072 2 16.714 2 12s0-7.071 1.464-8.536C4.93 2 7.286 2 12 2h1.5" />
                                    <path
                                        d="m16.652 3.455l.649-.649A2.753 2.753 0 0 1 21.194 6.7l-.65.649m-3.892-3.893s.081 1.379 1.298 2.595c1.216 1.217 2.595 1.298 2.595 1.298m-3.893-3.893L10.687 9.42c-.404.404-.606.606-.78.829q-.308.395-.524.848c-.121.255-.211.526-.392 1.068L8.412 13.9m12.133-6.552l-5.965 5.965c-.404.404-.606.606-.829.78a4.6 4.6 0 0 1-.848.524c-.255.121-.526.211-1.068.392l-1.735.579m0 0l-1.123.374a.742.742 0 0 1-.939-.94l.374-1.122m1.688 1.688L8.412 13.9" />
                                </g>
                            </svg>
                            <span>Edit Sections</span>
                        </a>
                    </div>
                </td>
            </ng-template>

            <ng-template #departmentTableEmptyRow>
                <tr>
                    <td colspan="3" class="no-data py-4">
                        <ng-container *ngIf="searchAddedDepartmentTerm?.trim(); else noDepartments">
                            No Department match your search.
                        </ng-container>
                        <ng-template #noDepartments>
                            No Department Added Yet. You must add at least one Department to the branch.
                        </ng-template>
                    </td>
                </tr>
            </ng-template>
        </div>

        <div class="alert alert-danger mb-0 mt-2" role="alert" *ngIf="errMsg">
            {{errMsg}}
        </div>

        <!-- prev and confirm buttons -->
        <div class="btn-fixed d-flex align-items-stretch gap-2">
            <button class="btn btn-outline-success bg-white d-flex justify-content-center align-items-center"
                (click)="goPrev()">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="1.5" d="M20 12H4m0 0l6-6m-6 6l6 6" />
                </svg>
            </button>
            <button class="btn btn-lg btn-primary" [disabled]=" !branchStep1.valid || addeddepartments.length<1"
                (click)="goNext()">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="1.5" d="M4 12h16m0 0l-6-6m6 6l-6 6" />
                </svg>
                <span>Next (2/3)</span>
            </button>
        </div>

    </div>
</div>



<!-- add department slider -->
<app-overlay-filter-box #departmentsOverlay [title]="'Select Departments'">
    <!-- Search input -->
    <div data-mdb-input-init class="form-outline w-75 w-md-100 mb-3">
        <input type="text" class="form-control" [(ngModel)]="searchTerm" (ngModelChange)="onSearchChange()"
            placeholder="Search" />
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
            <g fill="none" stroke-width="1.5">
                <circle cx="11.5" cy="11.5" r="9.5" />
                <path stroke-linecap="round" d="M18.5 18.5L22 22" />
            </g>
        </svg>
    </div>
    <!-- start table -->
    <div class="slide-table">
        <app-table [data]="departments" [itemsPerPage]="10000" [disablePagination]="true" [currentPage]="currentPage"
            (pageChange)="onPageChange($event)" (itemsPerPageChange)="onItemsPerPageChange($event)"
            [headerTemplate]="AlldepartmentTableHeader" [rowTemplate]="AlldepartmentTableRow"
            [emptyTemplate]="noAllDepartments">
        </app-table>

        <ng-template #AlldepartmentTableHeader>
            <th class="width-handle">
                <input type="checkbox" class="checkbox" [(ngModel)]="selectAll" (change)="toggleSelectAll()">
            </th>
            <th>Department</th>
        </ng-template>

        <ng-template #AlldepartmentTableRow let-department let-i="index">
            <td>
                <input type="checkbox" class="checkbox checkbox-light" [(ngModel)]="department.selected"
                    (change)="toggleDepartment(department)" id="checkbox-{{ department.id }}">
            </td>
            <td>
                <label for="checkbox-{{ department.id }}" class="d-block text-gray-sm" style="cursor: pointer;">
                    <span class="d-block text-gray-sm">{{ department.id.toString().padStart(4, '0') }}</span>
                    <span class="depart-name d-block text-truncate w-100">
                        {{ department.name }}
                    </span>
                </label>
            </td>
        </ng-template>
        <ng-template #noAllDepartments>
            <tr>
                <td colspan="3" class="no-data py-4">
                    No Departments Added Yet
                </td>
            </tr>
        </ng-template>
        <ng-template #noAllDepartments>
            <tr>
                <td colspan="3" class="no-data py-4">
                    <ng-container *ngIf="searchTerm?.trim(); else noDepartments">
                        No Department match your search.
                    </ng-container>
                    <ng-template #noDepartments>
                        No Department Added Yet. You must add at least one Department to the branch.
                    </ng-template>
                </td>
            </tr>
        </ng-template>
    </div>

    <div class="d-flex align-items-center pt-4 gap-3">
        <button class="btn btn-lg btn-primary w-100" (click)="addSelectedDepartments()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <g fill="none" stroke-width="1.5">
                    <circle cx="12" cy="12" r="10" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="m8.5 12.5l2 2l5-5" />
                </g>
            </svg>
            <span>Add to Branch</span>
        </button>
        <a (click)="discardDepartment()" class="btn btn-lg btn-outline-dark border-0 fw-bold w-100 text-center">
            <span>Discard</span>
        </a>
    </div>

</app-overlay-filter-box>



<!-- edit section slider -->
<app-overlay-filter-box #sectionsOverlay [title]="'Department Sections'">
    <!-- Search input -->
    <div data-mdb-input-init class="form-outline w-75 w-md-100 mb-3">
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchDeptSectionsTerm" />
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
            <g fill="none" stroke-width="1.5">
                <circle cx="11.5" cy="11.5" r="9.5" />
                <path stroke-linecap="round" d="M18.5 18.5L22 22" />
            </g>
        </svg>
    </div>
    <!-- start table -->
    <div class="slide-table">
        <app-table [data]="filteredSections" [itemsPerPage]="10000" [disablePagination]="true"
            [headerTemplate]="sectionsTableHeader" [rowTemplate]="sectionsTableRow" [emptyTemplate]="noAllSections">
        </app-table>

        <ng-template #sectionsTableHeader>
            <th class="w-50">
                Section
            </th>
            <th class="w-50">Actions</th>
        </ng-template>

        <ng-template #sectionsTableRow let-section let-i="index">
            <td>
                <span class="d-block text-gray-sm">{{ section.id.toString().padStart(4, '0') }}</span>
                <span class="depart-name d-block text-truncate w-100">
                    {{ section.name }}
                </span>
            </td>
            <td>
                <a type="button" class="d-flex align-items-center gap-1"
                    [ngClass]="section.selected ? 'remove-btn' : 'view-btn'" (click)="toggleSectionSelection(section)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
                        <ng-container *ngIf="section.selected; else addIcon">
                            <path fill="currentColor"
                                d="M10.03 8.97a.75.75 0 0 0-1.06 1.06L10.94 12l-1.97 1.97a.75.75 0 1 0 1.06 1.06L12 13.06l1.97 1.97a.75.75 0 0 0 1.06-1.06L13.06 12l1.97-1.97a.75.75 0 1 0-1.06-1.06L12 10.94z" />
                            <path fill="currentColor" fill-rule="evenodd"
                                d="M12 1.25C6.063 1.25 1.25 6.063 1.25 12S6.063 22.75 12 22.75S22.75 17.937 22.75 12S17.937 1.25 12 1.25M2.75 12a9.25 9.25 0 1 1 18.5 0a9.25 9.25 0 0 1-18.5 0"
                                clip-rule="evenodd" />
                        </ng-container>
                        <ng-template #addIcon>
                            <g fill="none" stroke="currentColor" stroke-width="1.5">
                                <circle cx="12" cy="12" r="10" />
                                <path stroke-linecap="round" d="M15 12h-3m0 0H9m3 0V9m0 3v3" />
                            </g>
                        </ng-template>
                    </svg>
                    <span>{{ section.selected ? 'Remove from Branch' : 'Add to Branch' }}</span>
                </a>
            </td>
        </ng-template>
        <ng-template #noAllSections>
            <tr>
                <td colspan="3" class="no-data py-4">
                    No Sections Added Yet
                </td>
            </tr>
        </ng-template>
        <ng-template #noAllSections>
            <tr>
                <td colspan="3" class="no-data py-4">
                    <ng-container *ngIf="searchDeptSectionsTerm?.trim(); else noDepartments">
                        No Sections match your search.
                    </ng-container>
                    <ng-template #noDepartments>
                        No Sections Added Yet. You must add at least one Sections to the branch.
                    </ng-template>
                </td>
            </tr>
        </ng-template>
    </div>

    <div class="d-flex align-items-center pt-4 gap-3">
        <button class="btn btn-lg btn-primary w-100" (click)="confirmSectionChanges()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <g fill="none" stroke-width="1.5">
                    <circle cx="12" cy="12" r="10" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="m8.5 12.5l2 2l5-5" />
                </g>
            </svg>
            <span>Confirm</span>
        </button>
        <a class="btn btn-lg btn-outline-dark border-0 fw-bold w-100 text-center" (click)="discardSectionChanges()">
            <span>Discard</span>
        </a>
    </div>

</app-overlay-filter-box>



<!-- step 3 -->
<div class="content-hug" *ngIf="currentStep === 3">
    <app-google-maps-location [title]="'Branch Location'" [initialLocation]="locationData" [isEditMode]="false"
        [mapHeight]="'300px'" [mapWidth]="'50%'" (locationChanged)="onLocationChanged($event)"
        (locationConfirmed)="onLocationConfirmed($event)">
    </app-google-maps-location>

    <!-- prev and confirm buttons -->
    <div class="btn-fixed d-flex align-items-stretch gap-2">
        <button class="btn btn-outline-success bg-white d-flex justify-content-center align-items-center"
            (click)="goPrev()">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="1.5" d="M20 12H4m0 0l6-6m-6 6l6 6" />
            </svg>
        </button>
        @if(branchSub?.create){
        <button class="btn btn-lg btn-success" [disabled]="isLoading || !branchStep1.valid || addeddepartments.length<1"
            (click)="createBranch()">
            <span *ngIf="isLoading" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            <svg *ngIf="!isLoading" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
                <g fill="none" stroke="currentColor" stroke-width="1.5">
                    <circle cx="12" cy="12" r="10" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="m8.5 12.5l2 2l5-5" />
                </g>
            </svg>
            <span>Create Branch</span>
        </button>
        }

    </div>
</div>

<!-- Discard popup  -->
<app-popup [title]="'Discard Branch'" [paragraph1]="'Are you sure you want to discard creating the new branch?'"
    [paragraph2]="'This action cannot be undone!'" [isOpen]="isModalOpen" (close)="closeModal()">
    <button modal-btn-left class="btn btn-lg btn-dark w-100" (click)="confirmAction()">
        Discard Branch
    </button>
    <button modal-btn-right class="btn btn-lg btn-outline-dark border-0 w-100" (click)="closeModal()">
        Cancel
    </button>
</app-popup>