<app-page-header
  [breadcrumbs]="[
    { label: 'Personnel', link: '/dashboard' },
    { label: 'Employees', link: '/employees' },
    { label: 'Edit Employee' }
  ]" 
  title="Edit Employee - Employee ID" 
  create="23/06/2025" 
  update="23/06/2025">
  
  <button class="btn btn-lg btn-success w-auto" 
    (click)="onSubmit()" 
    [disabled]="isSaveButtonDisabled()">
    @if (sharedService.isLoading()) {
      <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
    }
    @if (!sharedService.isLoading()) {
      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
        <g fill="none" stroke="currentColor" stroke-width="1.5">
          <circle cx="12" cy="12" r="10" />
          <path stroke-linecap="round" stroke-linejoin="round" d="m8.5 12.5l2 2l5-5" />
        </g>
      </svg>
    }
    <span>Save Changes</span>
  </button>

  <button class="btn btn-lg btn-outline-dark w-auto" (click)="openModal()">
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
      <g fill="none" stroke="currentColor" stroke-width="1.5">
        <circle cx="12" cy="12" r="10" />
        <path stroke-linecap="round" d="m14.5 9.5l-5 5m0-5l5 5" />
      </g>
    </svg>
    <span>Discard Changes</span>
  </button>
</app-page-header>

<app-edit-stepper-navigation></app-edit-stepper-navigation>

<form [formGroup]="sharedService.employeeForm" (ngSubmit)="onSubmit()">
  <app-edit-main-information-step [hidden]="sharedService.currentStep() !== 1"></app-edit-main-information-step>
  <app-edit-job-details-step [hidden]="sharedService.currentStep() !== 2"></app-edit-job-details-step>
  <app-edit-attendance-details-step [hidden]="sharedService.currentStep() !== 3"></app-edit-attendance-details-step>
  <app-edit-insurance-details-step [hidden]="sharedService.currentStep() !== 4" (submitForm)="onSubmit()"></app-edit-insurance-details-step>
</form>

@if (sharedService.isModalOpen()) {
  <app-popup
    [title]="'Discard Changes'"
    [paragraph1]="'Are you sure you want to discard changes?'"
    [paragraph2]="'This action cannot be undone!'"
    [isOpen]="sharedService.isModalOpen()"
    (close)="closeModal()">
    <button modal-btn-left class="btn btn-lg btn-dark w-100" (click)="confirmAction()">
      Discard Changes
    </button>
    <button modal-btn-right class="btn btn-lg btn-outline-dark border-0 w-100" (click)="closeModal()">
      Cancel
    </button>
  </app-popup>
}
