body {
  font-family: var(--font-family) !important;
}

/* links styles */
a {
  text-decoration: none !important;
}

/* links actions button */
a.text-danger-dark {
  color: var(--color-danger-700);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  cursor: pointer;
}

a.text-danger-dark:hover {
  color: var(--color-danger-500);
}

/* form input with icons */

.input label {
  font-size: var(--font-size-b2);
  color: var(--color-secondary-700);
  line-height: var(--line-height-xss);
  margin-bottom: var(--spacing-4);
}
.input label span{
  color: var(--color-danger-700);
}
.input label svg{
  fill: var(--color-secondary-500);
}
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  color: var(--color-secondary-300);
}

.form-outline {
  position: relative;
}

.form-outline .form-control, .form-outline .form-select {
  padding: 0.8rem;
  border-radius: 0.9rem !important;
  -webkit-border-radius: 0.9rem !important;
  -moz-border-radius: 0.9rem !important;
  -ms-border-radius: 0.9rem !important;
  -o-border-radius: 0.9rem !important;
  font-size: var(--font-size-b2);
  color: var(--color-secondary-700);
}

.form-outline .form-control::placeholder, .form-outline .form-select::placeholder {
  color: var(--color-secondary-700);
}


.form-outline svg {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  stroke: var(--color-secondary-300);
  fill: var(--color-secondary-300);
}
.checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 25px;
  height: 25px;
  border-radius: 0.4rem !important;
  border: 1px solid var(--color-white);
  background-color: transparent;
  cursor: pointer;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.checkbox-light{
  border: 1px solid var(--color-neutral-800);
}
.checkbox:checked {
  background-color: var(--color-primary-500);
}

.checkbox:checked::after {
  content: '✔';
  color: var(--color-white);
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* error message validation */
.error-msg{
  margin: 5px 0;
  color: var(--color-danger-700) !important;
  font-weight: 500;
  text-transform: capitalize;
}
.success-msg{
  margin: 5px 0;
  color: var(--color-success-700) !important;
  font-weight: 500;
  text-transform: capitalize;
}
.error-input{
  border-color: var(--color-danger-300) !important;
  color: var(--color-danger-700) !important;
}
.error-input::placeholder{
  color: var(--color-danger-700) !important;
}
.success-input{
  border-color: var(--color-success-300) !important;
  color: var(--color-success-700) !important;
}
select.success-input option,select.error-input option{
  color: var(--color-secondary-700) !important;
}

/* all buttons */
.btn {
  border-radius: 0.7rem !important;
  -webkit-border-radius: 0.7rem !important;
  -moz-border-radius: 0.7rem !important;
  -ms-border-radius: 0.7rem !important;
  -o-border-radius: 0.7rem !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 0.75rem !important;
}

.btn-lg {
  font-size: var(--font-size-b3) !important;
  font-weight: 600 !important;
  padding: 0.75rem var(--spacing-32) !important;
  width: 14rem;
}

.btn-lg span {
  text-wrap: nowrap !important;
}

@media (max-width:991px) {
  .btn-lg {
    width: 8rem;
  }
}

@media (max-width:767px) {
  .btn-lg {
    width: auto;
    padding: 0.75rem var(--spacing-12) !important;
  }

  /* .btn-lg svg {
    display: none;
  } */
}

/* main blue button */
.btn-primary {
  background-color: var(--color-primary-500) !important;
  border-color: var(--color-primary-500) !important;
  color: var(--color-white) !important;

}

.btn-primary svg {
  stroke: var(--color-white);
}

.btn-primary:hover {
  background-color: var(--color-primary-600) !important;
  border-color: var(--color-primary-600) !important;
}

.btn-outline-primary {
  color: var(--color-primary-500) !important;
  border-color: var(--color-primary-500) !important;
  background-color: transparent !important;
}

.btn-outline-primary svg {
  stroke: var(--color-primary-500) !important;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.btn-outline-primary:hover {
  background-color: var(--color-primary-500) !important;
  color: var(--color-white) !important;
}

.btn-outline-primary:hover svg {
  stroke: var(--color-white) !important;
}

/* red buttons */
.btn-danger {
  background-color: var(--color-danger-500) !important;
  border-color: var(--color-danger-500) !important;
  color: var(--color-white) !important;
}

.btn-danger:hover {
  background-color: var(--color-danger-700) !important;
  border-color: var(--color-danger-700) !important;
}

.btn-outline-danger {
  color: var(--color-danger-700) !important;
  border-color: var(--color-danger-500) !important;
}

.btn-outline-danger:hover {
  background-color: var(--color-danger-500) !important;
  color: var(--color-white) !important;
}
/* green buttons */
.btn-success {
  background-color: var(--color-success-500) !important;
  border-color: var(--color-success-500) !important;
  color: var(--color-white) !important;
}

.btn-success:hover {
  background-color: var(--color-success-700) !important;
  border-color: var(--color-success-700) !important;
}

.btn-outline-success {
  color: var(--color-success-700) !important;
  border-color: var(--color-success-500) !important;
}

.btn-outline-success:hover {
  background-color: var(--color-success-500) !important;
  color: var(--color-white) !important;
}
/* btn dark */
.btn-dark {
  background-color: var(--color-secondary-500) !important;
  border-color: var(--color-secondary-500) !important;
  color: var(--color-white) !important;
}

.btn-dark:hover {
  background-color: var(--color-secondary-700) !important;
  border-color: var(--color-secondary-700) !important;
}
.btn-outline-dark {
  color: var(--color-secondary-700) !important;
  border-color: var(--color-secondary-700) !important;
}
.btn-outline-dark:hover {
  background-color: var(--color-secondary-700) !important;
  color: var(--color-white) !important;
}
/* btn links with icons */
.view-btn,.edit-btn,.remove-btn,.success-btn{
  text-decoration: none !important;
  font-size: var(--font-size-b3);
  font-weight: 600;
  line-height: var(--line-height-xss);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.view-btn:hover,.edit-btn:hover,.remove-btn:hover,.success-btn:hover{
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  cursor: pointer;
}
.remove-btn{
  color: var(--color-danger-600);
}
.view-btn{
  color: var(--color-primary-600);
}
.edit-btn{
  color: var(--color-secondary-700);
}
.success-btn{
  color: var(--color-success-700);
}
.remove-btn svg{
  color: var(--color-danger-400);
}
.view-btn svg{
  color: var(--color-primary-400);
}
.edit-btn svg{
  color: var(--color-secondary-500);
}
.success-btn svg{
  color: var(--color-success-500);
}

/* steps form links */
/* start steps navigation style */
.nav{
  border-bottom: 1px solid var(--color-secondary-700);
}
.nav .nav-item .nav-link{
  padding: 0 !important;
}
.nav .nav-item{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: var(--spacing-8) var(--spacing-16);
}
.nav-tabs .nav-link{
  color: var(--color-secondary-700) !important;
  font-size: var(--font-size-b2) !important;
}
.nav-tabs .nav-item svg{
  fill: var(--color-secondary-700);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.nav-tabs .nav-item.active{
  background-color: var(--color-primary-50);
}
.nav-tabs .nav-item.active .nav-link{
  color: var(--color-primary-500) !important;
  font-weight: bold;
}
.nav-tabs .nav-item.active svg{
  fill: var(--color-primary-500) !important;
}
.nav-tabs .nav-item .nav-link:hover{
  border-color: transparent !important;
  /* color: var(--color-primary-500) !important; */
}
.text-success .nav-link{
  color: var(--color-success-700) !important;
  font-weight: bold;
}
/* .nav-link:hover{
  cursor: pointer;
}
.nav-tabs .nav-item:hover{
  cursor: pointer;
} */
/* .nav-tabs .nav-item:hover .nav-link{
  color: var(--color-primary-500) !important;
}
.nav-tabs .nav-item:hover svg{
  fill: var(--color-primary-500) !important;
} */
/* end steps navigation style */


/* empty table */
.no-data{
  color: var(--color-secondary-500);
}
.btn-fixed{
  position: fixed;
  bottom: var(--spacing-24);
  right: var(--spacing-36);
}
.w-lg-50{
  width:50% !important;
}
@media (max-width:991px) {
  .w-lg-50{
      width:100% !important;
  }   
}
@media (max-width:767px) {
  .w-md-100{
      width: 100% !important;
  }
}
.width-handle{
 width: 50px;
 text-align: center;
}
.slide-table .view-select{
  display: none !important;
}
.depart-name{
  color: var(--color-secondary-700);
  font-size: var(--font-size-b2);
}

textarea{
  height: 130px;
  overflow-y: auto;
  resize: none !important;
}
@media (min-width:767px) {
  .w-15{
      width: 15% !important;
  }
  .w-70{
      width: 70% !important;
  }
}

.table-input{
  background-color: transparent !important;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border: none !important;
  border-bottom: 1px solid var(--color-secondary-300) !important;
}

.add-sec:hover{
  transform: none !important;
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
}