<div class="page-header sticky-top">
  <!-- Breadcrumb -->
  <nav class="mb-2">
    @if (isLoading) {
    <div style="width: 40%;">
      <app-skelaton-loading [rows]="1" [hasLabel]="false" [valueHeight]="12"></app-skelaton-loading>
    </div>
    } @else {
    @for (item of breadcrumbs; track item; let last = $last) {
    @if (!last && item.link) {
    <a [routerLink]="item.link" class="bread-link">{{ item.label }}</a> &gt;
    }
    @if (last || !item.link) {
    <span class="bread-active">{{ item.label }}</span>
    }
    }
    }
  </nav>

  <!-- Title -->
  <h2 class="mb-2">
    @if (isLoading) {
    <div style="width: 60%; max-width: 600px;">
      <app-skelaton-loading [rows]="1" [hasLabel]="false" [valueHeight]="24"></app-skelaton-loading>
    </div>
    } @else {
    {{ title }}
    }
  </h2>

  <div class="d-flex align-items-end justify-content-between">
    <!-- created / updated -->
   @if (isLoading || create || update) {
  <div class="parag d-flex align-items-center gap-4">
    @if (isLoading) {
      <div class="d-flex align-items-center gap-3">
        <div style="width: 180px;">
          <app-skelaton-loading [rows]="1" [hasLabel]="false" [valueHeight]="14"></app-skelaton-loading>
        </div>
        <div style="width: 180px;">
          <app-skelaton-loading [rows]="1" [hasLabel]="false" [valueHeight]="14"></app-skelaton-loading>
        </div>
      </div>
    } @else {
      @if (create) {
        <p class="date-cre mb-0">
          {{ isApplied ? 'Applied at' : 'Created at' }}:
          <span class="text-show">{{ create }}</span>
        </p>
      }
      @if (update) {
        <p class="date-cre mb-0">
          Updated At: <span class="text-show">{{ update }}</span>
        </p>
      }
    }
  </div>
}


    <!-- actions -->
    <div class="d-flex gap-2 ms-auto parag">
      <ng-content></ng-content>

      @if (isLoading && !hasActions) {
      <div style="display:flex; gap:8px; align-items:center;">
        <div style="width:200px;">
          <app-skelaton-loading [rows]="1" [hasLabel]="false" [valueHeight]="50"></app-skelaton-loading>
        </div>
        <div style="width:200px;">
          <app-skelaton-loading [rows]="1" [hasLabel]="false" [valueHeight]="50"></app-skelaton-loading>
        </div>
      </div>
      }

    </div>
  </div>
</div>