<div class="content-hug">
   <div class="content-box d-flex flex-column gap-3">
      <h2>Your Password</h2>
      <form action="" class="w-lg-50 d-flex flex-column gap-2">
         <app-input-password label="Old Password" id="oldPass"
            placeholder="Enter your Old Password"></app-input-password>
         <app-input-password label="New Password" id="newPass"
            placeholder="Enter your New Password"></app-input-password>
         <app-input-password label="Confirm New Password" id="confirmNewPass"
            placeholder="Confirm New Password"></app-input-password>

         <div class="d-flex align-items-center gap-3 mt-3">
            <button class="btn btn-lg btn-success w-auto">
               <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
                  <g fill="none" stroke="currentColor" stroke-width="1.5">
                     <circle cx="12" cy="12" r="10" />
                     <path stroke-linecap="round" stroke-linejoin="round" d="m8.5 12.5l2 2l5-5" />
                  </g>
               </svg>
               <span>Save Changes</span>
            </button>

         </div>
      </form>
   </div>
</div>