<!-- steps -->
<ul class="nav d-flex align-items-center nav-tabs bg-white px-3">
  <li class="nav-item" [ngClass]="{
        'active': sharedService.currentStep() === 1,
        'text-success': sharedService.currentStep() > 1, 
        'bg-light-success': sharedService.currentStep() > 1  
    }">
    @if (sharedService.currentStep() == 1) {
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
      <path d="M22 12c0 5.523-4.477 10-10 10S2 17.523 2 12S6.477 2 12 2s10 4.477 10 10" opacity=".5" />
      <path
        d="M12 17.75a.75.75 0 0 0 .75-.75v-6a.75.75 0 0 0-1.5 0v6c0 .414.336.75.75.75M12 7a1 1 0 1 1 0 2a1 1 0 0 1 0-2" />
    </svg>
    }
    @if (sharedService.currentStep() > 1) {
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"
      [style.fill]="sharedService.currentStep() > 1 ? 'currentColor' : 'black'">
      <path d="M22 12c0 5.523-4.477 10-10 10S2 17.523 2 12S6.477 2 12 2s10 4.477 10 10" opacity=".5" />
      <path
        d="M16.03 8.97a.75.75 0 0 1 0 1.06l-5 5a.75.75 0 0 1-1.06 0l-2-2a.75.75 0 1 1 1.06-1.06l1.47 1.47l2.235-2.235L14.97 8.97a.75.75 0 0 1 1.06 0" />
    </svg>
    }
    <span class="nav-link">Main Information</span>
  </li>

  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" [style.fill]="
        sharedService.currentStep() === 1 ? '#DDE3EB' :
        sharedService.currentStep() === 2 ? '#377AFD' :
        sharedService.currentStep() > 2 ? '#4CA883' :
        '#DDE3EB'
    ">
    <path
      d="M15.835 11.63L9.205 5.2C8.79 4.799 8 5.042 8 5.57v12.86c0 .528.79.771 1.205.37l6.63-6.43a.5.5 0 0 0 0-.74" />
  </svg>

  <li class="nav-item" [ngClass]="{
        'active': sharedService.currentStep() === 2,
        'text-success': sharedService.currentStep() > 2, 
        'bg-light-success': sharedService.currentStep() > 2  
    }">
    @if (sharedService.currentStep() <= 2) { <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22"
      viewBox="0 0 24 24">
      <path [style.fill]="sharedService.currentStep() === 2 ? '#007bff' : '#4A6D97'"
        d="M3 10c0-3.771 0-5.657 1.172-6.828S7.229 2 11 2h2c3.771 0 5.657 0 6.828 1.172S21 6.229 21 10v4c0 3.771 0 5.657-1.172 6.828S16.771 22 13 22h-2c-3.771 0-5.657 0-6.828-1.172S3 17.771 3 14z"
        opacity=".5" />
      <path [style.fill]="sharedService.currentStep() === 2 ? '#007bff' : '#4A6D97'" fill-rule="evenodd"
        d="M7.25 10A.75.75 0 0 1 8 9.25h8a.75.75 0 0 1 0 1.5H8a.75.75 0 0 1-.75-.75m0 4a.75.75 0 0 1 .75-.75h5a.75.75 0 0 1 0 1.5H8a.75.75 0 0 1-.75-.75"
        clip-rule="evenodd" /></svg>

      }
      @if (sharedService.currentStep() > 2) {
      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"
        [style.fill]="sharedService.currentStep() > 2 ? 'currentColor' : 'black'">
        <path d="M22 12c0 5.523-4.477 10-10 10S2 17.523 2 12S6.477 2 12 2s10 4.477 10 10" opacity=".5" />
        <path
          d="M16.03 8.97a.75.75 0 0 1 0 1.06l-5 5a.75.75 0 0 1-1.06 0l-2-2a.75.75 0 1 1 1.06-1.06l1.47 1.47l2.235-2.235L14.97 8.97a.75.75 0 0 1 1.06 0" />
      </svg>
      }
      <span class="nav-link">Request Details</span>
  </li>
</ul>