<!-- page header -->
<app-page-header [breadcrumbs]="[
    { label: 'Operational Development', link: '/departments' },
    { label: 'Department Checklist' }
  ]" title="Department Checklist">
    @if(DepartementCheckSub?.update){
    @if (!loadData) {
   <button
  class="btn btn-lg btn-primary flex items-center gap-2"
  [routerLink]="'/dept-check/edit-checklist'">

  @if (checks.length > 0) {
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
      <g fill="none" stroke="currentColor" stroke-width="1.5">
        <path stroke-linecap="round"
          d="M22 10.5V12c0 4.714 0 7.071-1.465 8.535C19.072 22 16.714 22 12 22s-7.071 0-8.536-1.465C2 19.072 2 16.714 2 12s0-7.071 1.464-8.536C4.93 2 7.286 2 12 2h1.5" />
        <path
          d="m16.652 3.455l.649-.649A2.753 2.753 0 0 1 21.194 6.7l-.65.649m-3.892-3.893s.081 1.379 1.298 2.595c1.216 1.217 2.595 1.298 2.595 1.298m-3.893-3.893L10.687 9.42c-.404.404-.606.606-.78.829q-.308.395-.524.848c-.121.255-.211.526-.392 1.068L8.412 13.9m12.133-6.552l-5.965 5.965c-.404.404-.606.606-.829.78a4.6 4.6 0 0 1-.848.524c-.255.121-.526.211-1.068.392l-1.735.579m0 0l-1.123.374a.742.742 0 0 1-.939-.94l.374-1.122m1.688 1.688L8.412 13.9" />
      </g>
    </svg>
    <span>Edit checklist</span>
  } @else {
   <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
          <g fill="none" stroke="currentColor" stroke-width="1.5">
            <circle cx="12" cy="12" r="10" />
            <path stroke-linecap="round" d="M15 12h-3m0 0H9m3 0V9m0 3v3" />
          </g>
        </svg>
    <span>Add checklist</span>
  }

</button>


    }

    }

</app-page-header>

<!-- page content -->
<div class="content-hug">
    <div class="content-box d-flex flex-column gap-3">
        <h2>Checklist</h2>
        @if(loadData) {
        <app-skelaton-loading [rows]="2" [hasLabel]="false" [labelHeight]="16" [valueHeight]="50">
        </app-skelaton-loading>
        }@else {
        @if (checks.length > 0) {
        <div class="checks">


            @for (check of checks; track $index; let i = $index) {
            <label class="onecheck d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center gap-3">
                    <span class="number">{{$index + 1 }}</span>
                    <p class="m-0">{{ check.name }}</p>


                </div>
            </label>
            }


        </div>
        }@else{
        <p class="text-secondary m-0">No checks available.</p>
        }
        }



    </div>
</div>



<!-- deactivate popup  -->
<app-popup [title]="'Deactivate Department Checklist'"
    [paragraph1]="'Are you sure you want to Deactivate the Department Checklist ?'"
    [paragraph2]="'This will only hold any access this title has to the system. You can activate it at any time later.'"
    [isOpen]="deactivateOpen" (close)="closeDeactivate()">
    <button modal-btn-left class="btn btn-lg btn-danger w-100" (click)="confirmDeactivate()">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="1.5"
                d="M12 2v4M8.5 3.706A9.003 9.003 0 0 0 12 21a9 9 0 0 0 3.5-17.294" />
        </svg>
        <span>Deactivate</span>
    </button>
    <button modal-btn-right class="btn btn-lg btn-outline-dark border-0 w-100" (click)="closeDeactivate()">
        Cancel
    </button>
</app-popup>

<!-- activate popup  -->
<app-popup [title]="'Activate Department Checklist'"
    [paragraph1]="'Are you sure you want to Activate the Department Checklist ?'"
    [paragraph2]="'You can deactivate it at any time later.'" [isOpen]="activateOpen" (close)="closeActivate()">
    <button modal-btn-left class="btn btn-lg btn-success w-100" (click)="confirmActivate()">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="1.5"
                d="M12 2v4M8.5 3.706A9.003 9.003 0 0 0 12 21a9 9 0 0 0 3.5-17.294" />
        </svg>
        <span>Activate</span>
    </button>
    <button modal-btn-right class="btn btn-lg btn-outline-dark border-0 w-100" (click)="closeActivate()">
        Cancel
    </button>
</app-popup>