<div class="page-header">
  <!-- Breadcrumb -->
  <nav>
    <ng-container *ngFor="let item of breadcrumbs; let last = last">
      <ng-container *ngIf="!last">
        <a [routerLink]="item.link" class="bread-link">{{ item.label }}</a> &gt;
      </ng-container>
      <ng-container *ngIf="last">
        <span class="bread-active">{{ item.label }}</span>
      </ng-container>
    </ng-container>
  </nav>

  <h2>{{ title }}</h2>

  <div class="d-flex align-items-end justify-content-between">
    <div class="parag d-flex align-items-end gap-5" *ngIf="create || update">
      <p class="date-cre mb-0" *ngIf="create">
        Created at: <span class="text-show">{{ create }}</span>
      </p>
      <p class="date-cre mb-0" *ngIf="update">
        Updated At: <span class="text-show">{{ update }}</span>
      </p>
    </div>

    <div class="d-flex gap-2">
      <ng-content></ng-content>
    </div>
  </div>
</div>
