.page-header{
    background-color: white;
    border-bottom: 1px solid var(--color-neutral-200);
    padding: var(--spacing-36);
}
.bread-link{
    font-size: var(--font-size-b2);
    color: var(--color-secondary-700);
    font-weight: 400;
    letter-spacing: 0;
    font-family: var(--font-family);
    text-decoration: none;
    line-height: var(--line-height-xss);
}
nav{
    margin-bottom: var(--spacing-16);
}
.bread-active{
    color: var(--color-primary-600);
}
h2{
    color: var(--color-secondary-700);
    font-weight: 600;
    line-height: var(--line-height-md);
    font-size: var(--font-size-h3);
    margin: 0 !important;
}
.parag{
    margin-top: var(--spacing-16);
}