<app-page-header [breadcrumbs]="[
    { label: 'Admin settings', link: '/cloud' },
    { label: 'Users', link: '/users' },
     { label: isEditMode ? 'Edit User ' + userId : 'Create New User' }
  ]" [title]="isEditMode ? 'Edit User ' + userId : 'Create New User'" [create]="createDate" [update]="updatedDate">
  <button class="btn btn-lg btn-success" (click)="inviteUser()">
    @if (isLoading) {
    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
    }
    @if (!isLoading) {
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
      <g fill="none" stroke="currentColor" stroke-width="1.5">
        <circle cx="12" cy="12" r="10" />
        <path stroke-linecap="round" stroke-linejoin="round" d="m8.5 12.5l2 2l5-5" />
      </g>
    </svg>
    }
    <span>{{ isEditMode ? 'Save changes' : 'Invite user' }}</span>
  </button>

  <button class="btn btn-lg btn-outline-dark" (click)="openModal()">
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
      <g fill="none" stroke="currentColor" stroke-width="1.5">
        <circle cx="12" cy="12" r="10" />
        <path stroke-linecap="round" d="m14.5 9.5l-5 5m0-5l5 5" />
      </g>
    </svg>
    <span>Discard</span>
  </button>
</app-page-header>



<!-- start content -->
<div class="content-hug">
  <div class="d-flex flex-column gap-4">
    <div class="content-box d-flex flex-column gap-3 w-100 mx-auto">
      <h2>User Information</h2>
      <form [formGroup]="usersForm" class="w-lg-50 d-flex flex-column gap-2">
        <div class="input">
          <label for="email">Email <span>*</span></label>
          <div class="form-outline w-100 position-relative custom-date-wrapper">
            <input type="text" id="email" class="form-control" placeholder="Email" formControlName="email"
              (input)="onEmailInput($event)" (blur)="checkEmailExists()" autocomplete="off" />
            @if(showSuggestions){
            <ul class="list-group position-absolute w-100" style="z-index:1000; max-height:200px; overflow:auto;">
              @for(item of suggestedEmails; track item.email){
              <li class="list-group-item list-group-item-action" (click)="selectEmail(item.email)">
                {{ item.email }}
              </li>
              }
            </ul>
            }

          </div>
          @if (usersForm.get('email')?.hasError('required') && (usersForm.get('email')?.touched ||
          usersForm.get('email')?.dirty)){
          <p class="error-msg"> Email is required.</p>
          }
          @if (usersForm.get('email')?.hasError('email') && (usersForm.get('email')?.touched ||
          usersForm.get('email')?.dirty)){
          <p class="error-msg">This email is invalid.</p>
          }
          @if (isExistingUser && (usersForm.get('email')?.touched || usersForm.get('email')?.dirty)) {
          <p class="text-primary">This user is in your employee list.</p>
          }
          @if (isAdmin && (usersForm.get('email')?.touched || usersForm.get('email')?.dirty)) {
          <p class="error-msg">This user is an admin.</p>
          }
        </div>

        <div class="input">
          <label for="userId">User ID (Optional)</label>
          <div class="form-outline w-100 position-relative custom-date-wrapper">
            <input type="text" id="userId" class="form-control custom-date-input" placeholder="0050"
              formControlName="code" [disabled]="isExistingUser" />
          </div>
        </div>

        <div class="input">
          <label for="userName">User Name <span>*</span></label>
          <div class="form-outline w-100 position-relative custom-date-wrapper">
            <input type="text" id="userName" class="form-control custom-date-input" placeholder="User Name"
              formControlName="userName" [disabled]="isExistingUser" />
          </div>
          @if (usersForm.get('userName')?.touched && usersForm.get('userName')?.errors?.['required']) {
          <p class="error-msg">
            User Name is required.
          </p>
          }
        </div>

        <div class="input">
          <label for="userRole">User Role(s)<span>*</span></label>
          <div class="d-flex align-items-center gap-4">
            <div class="form-outline w-100 position-relative custom-date-wrapper" appCloseDropdown
              (appCloseDropdown)="isDropdownOpen = false">
              <div class="form-select custom-select" [class.open]="isDropdownOpen"
                (click)="!usersForm.get('permissions')?.disabled  && toggleDropdown()"
                [class.disabled]="usersForm.get('permissions')?.disabled">
                <div class="selected-tags ">
                  @for( role of selectedRoles; track role.id){
                  <span class="badge text-muted d-flex align-items-center gap-1">
                    {{ role.name }}
                    <button type="button" class="small btn-close btn-close-grey"
                      (click)="removeRole(role.id!); $event.stopPropagation();"></button>
                  </span>
                  }
                  @if(!selectedRoles.length) {
                  <span>
                    Select one User Roles
                  </span>
                  }
                </div>
              </div>
              @if(isDropdownOpen){
              <ul class="dropdown-list">
                @for (role of userRoles; track role.id) {
                <li (click)="selectRole(role)" [class.selected]="isRoleSelected(role.id!)">
                  {{ role.name }}
                </li>
                }
              </ul>
              }
            </div>
          </div>
          @if (usersForm.get('permissions')?.touched && usersForm.get('permissions')?.errors?.['required']) {
          <p class="error-msg">
            User Role is required.
          </p>
          }
        </div>
      </form>
    </div>
  </div>
</div>

<!-- discard -->
<app-popup [title]="'Discard New User'" [paragraph1]="'Are you sure you want to discard creating the new User?'"
  [paragraph2]="'This action cannot be undone!'" [isOpen]="isModalOpen" (close)="closeModal()">
  <button modal-btn-left class="btn btn-lg btn-dark w-100" (click)="confirmAction()">
    Discard User
  </button>
  <button modal-btn-right class="btn btn-lg btn-outline-dark border-0 w-100" (click)="closeModal()">
    Cancel
  </button>
</app-popup>


<!-- popup cancel invitation for admin -->
<app-popup [title]="'Cancel Invitation'" [paragraph1]="'You Can not send invitation to Admin'" [isOpen]="isPopupOpen"
  (close)="closePopup()">
  <button modal-btn-right class="btn btn-lg btn-outline-dark border-0 w-100" (click)="closePopup()">
    Ok
  </button>
</app-popup>