body {
    position: relative;
}

.page-header {
    padding-top: var(--spacing-52) !important;
    padding-bottom: var(--spacing-52) !important;
}

.page-header nav {
    display: none;
}
.nav-item{
    cursor: pointer;
}
.nav-item.active {
    position: relative;
}

.nav-item.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 65%;
    background-color: var(--color-primary-300);
    border-radius: 2px;
}

.nav-item.log-out {
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.nav-item.log-out span {
    color: var(--color-danger-700) !important;
}

.nav-item.log-out svg {
    fill: var(--color-danger-500) !important;
}

.nav-item.log-out:hover {
    background-color: var(--color-danger-100);

}

.nav-item.log-out:hover .nav-link {

    color: var(--color-danger-700) !important;
}

.nav-item.log-out:hover svg {

    fill: var(--color-danger-500) !important;
}