<!-- page header -->
<app-page-header [breadcrumbs]="[
    { label: 'Personnel', link: '/dashboard' },
    { label: 'Leave Types', link: '/leave-types' },
    { label: 'Edit Leave Type - '+leaveTypeData.name }
  ]" [title]="'Edit Leave Type - '+leaveTypeData.name" [create]="formattedCreatedAt" [update]="formattedUpdatedAt">
    <button class="btn btn-lg btn-success w-auto"
        [disabled]="!isFormChanged || !leaveType1.valid || !leaveType2.valid || isLoading" (click)="updateleaveType()">
        <span *ngIf="isLoading" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
        <svg *ngIf="!isLoading" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
            <g fill="none" stroke="currentColor" stroke-width="1.5">
                <circle cx="12" cy="12" r="10" />
                <path stroke-linecap="round" stroke-linejoin="round" d="m8.5 12.5l2 2l5-5" />
            </g>
        </svg>
        <span>Save Changes</span>
    </button>

    <button class="btn btn-lg btn-outline-dark w-auto" (click)="openModal()">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
            <g fill="none" stroke="currentColor" stroke-width="1.5">
                <circle cx="12" cy="12" r="10" />
                <path stroke-linecap="round" d="m14.5 9.5l-5 5m0-5l5 5" />
            </g>
        </svg>
        <span>Discard Changes</span>
    </button>
</app-page-header>


<!-- steps -->
<ul class="nav d-flex align-items-center nav-tabs bg-white px-3">
    <li class="nav-item" [ngClass]="{
        'active': currentStep === 1,
        'text-success': currentStep > 1, 
        'bg-light-success': currentStep > 1  
    }">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" *ngIf="currentStep == 1">
            <path d="M22 12c0 5.523-4.477 10-10 10S2 17.523 2 12S6.477 2 12 2s10 4.477 10 10" opacity=".5" />
            <path
                d="M12 17.75a.75.75 0 0 0 .75-.75v-6a.75.75 0 0 0-1.5 0v6c0 .414.336.75.75.75M12 7a1 1 0 1 1 0 2a1 1 0 0 1 0-2" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" *ngIf="currentStep > 1" viewBox="0 0 24 24"
            [style.fill]="currentStep > 1 ? 'currentColor' : 'black'">
            <path d="M22 12c0 5.523-4.477 10-10 10S2 17.523 2 12S6.477 2 12 2s10 4.477 10 10" opacity=".5" />
            <path
                d="M16.03 8.97a.75.75 0 0 1 0 1.06l-5 5a.75.75 0 0 1-1.06 0l-2-2a.75.75 0 1 1 1.06-1.06l1.47 1.47l2.235-2.235L14.97 8.97a.75.75 0 0 1 1.06 0" />
        </svg>
        <span class="nav-link">Main Information</span>
    </li>

    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" [style.fill]="
    currentStep === 1 ? '#DDE3EB' :
    currentStep === 2 ? '#377AFD' :
    currentStep > 2 ? '#4CA883' :
    '#DDE3EB'
  ">
        <path
            d="M15.835 11.63L9.205 5.2C8.79 4.799 8 5.042 8 5.57v12.86c0 .528.79.771 1.205.37l6.63-6.43a.5.5 0 0 0 0-.74" />
    </svg>


    <li class="nav-item" [ngClass]="{
        'active': currentStep === 2,
        'text-success': currentStep > 2, 
        'bg-light-success': currentStep > 2  
    }">

        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" *ngIf="currentStep <= 2" viewBox="0 0 24 24">
            <path [style.fill]="currentStep === 2 ? '#007bff' : '#4A6D97'"
                d="M13.752 14.5a3 3 0 1 1 6 0a3 3 0 0 1-6 0m-10-5a3 3 0 1 0 6 0a3 3 0 0 0-6 0" />
            <path [style.fill]="currentStep === 2 ? '#007bff' : '#4A6D97'"
                d="M7.462 6.584a3 3 0 0 0-1.5.021V2a.75.75 0 0 1 1.5 0zm-1.5 5.81a3 3 0 0 0 1.5.021V22a.75.75 0 0 1-1.5 0zm10 5V22a.75.75 0 0 0 1.5 0v-4.585a3 3 0 0 1-1.5-.021m1.5-5.81V2a.75.75 0 0 0-1.5 0v9.605a3 3 0 0 1 1.5-.021"
                opacity=".5" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" *ngIf="currentStep > 2" viewBox="0 0 24 24"
            [style.fill]="currentStep > 1 ? 'currentColor' : 'black'">
            <path d="M22 12c0 5.523-4.477 10-10 10S2 17.523 2 12S6.477 2 12 2s10 4.477 10 10" opacity=".5" />
            <path
                d="M16.03 8.97a.75.75 0 0 1 0 1.06l-5 5a.75.75 0 0 1-1.06 0l-2-2a.75.75 0 1 1 1.06-1.06l1.47 1.47l2.235-2.235L14.97 8.97a.75.75 0 0 1 1.06 0" />
        </svg>
        <span class="nav-link">Leaves Settings</span>
    </li>
</ul>


<!-- step 1 -->
<div class="content-hug" *ngIf="currentStep === 1">
    <div class="content-box d-flex flex-column gap-3">
        <h2>Main Information</h2>
        <form [formGroup]="leaveType1" class="w-lg-50 d-flex flex-column gap-2">

            <div class="input">
                <label for="leaveId">Leave Type ID (Optional)</label>
                <div class="form-outline w-100 position-relative custom-date-wrapper">
                    <input type="text" formControlName="code" id="leaveId" class="form-control custom-date-input"
                        placeholder="0050" />
                </div>
            </div>

            <div class="input">
                <label for="leaveName">Leave Type Name<span>*</span></label>
                <div class="form-outline w-100 position-relative custom-date-wrapper">
                    <input type="text" id="leaveName" formControlName="name" class="form-control custom-date-input"
                        placeholder="Leave type name" />
                </div>
                <p class="error-msg"
                    *ngIf="leaveType1.get('name')?.touched && leaveType1.get('name')?.errors?.['required']">
                    Leave Type Name is required.
                </p>
            </div>

            <div class="input">
                <label for="permissionType">Permission Type</label>
                <div class="d-flex align-items-center gap-4">
                    <div class="form-outline w-100 position-relative custom-date-wrapper">
                        <select name="permissionType" formControlName="PermissionType" id="permissionType"
                            class="form-select">
                            <option value="" disabled selected hidden>Select Type</option>
                            <option value="early_leave">Early Leave</option>
                            <option value="late_arrive">Late Arrive</option>
                            <option value="day_off">Day Off</option>
                        </select>
                    </div>
                </div>
                <p class="error-msg"
                    *ngIf="leaveType1.get('PermissionType')?.touched && leaveType1.get('PermissionType')?.errors?.['required']">
                    Permission Type is required.
                </p>
            </div>

            <div class="input">
                <label for="desc">Leave Type Description (Optional)</label>
                <div class="form-outline w-100 position-relative custom-date-wrapper">
                    <textarea type="text" formControlName="description" id="desc" class="form-control custom-date-input"
                        placeholder="Describe the leave type briefly"></textarea>
                </div>

            </div>


            <div class="input">
                <label for="emptype">Employment Type</label>
                <div class="d-flex align-items-center gap-4">
                    <div class="form-outline w-100 position-relative custom-date-wrapper">
                        <select name="emptype" formControlName="employmentType" id="emptype" class="form-select">
                            <option value="" disabled selected hidden>Select Type</option>
                            <option value="1">Full-Time</option>
                            <option value="2">Part-Time</option>
                            <option value="3">Per Hour</option>
                            <option value="4">Freelance</option>
                        </select>
                    </div>
                </div>
                <p class="error-msg"
                    *ngIf="leaveType1.get('employmentType')?.touched && leaveType1.get('employmentType')?.errors?.['required']">
                    Employment Type is required.
                </p>
            </div>


        </form>
        <div class="alert alert-danger mb-0 mt-3" role="alert" *ngIf="errMsg">
            {{errMsg}}
        </div>
        <!-- next button -->
        <div class="btn-fixed">
            <button class="btn btn-lg btn-primary" (click)="goNext()">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="1.5" d="M4 12h16m0 0l-6-6m6 6l-6 6" />
                </svg>
                <span>Next (1/2)</span>
            </button>
        </div>
    </div>
</div>



<!-- step 2 -->
<div class="content-hug" *ngIf="currentStep === 2">
    <div class="content-box d-flex flex-column gap-3">
        <h2>Leave Settings</h2>
        <form [formGroup]="leaveType2" class="w-lg-50 d-flex flex-column gap-2">

            <div class="input">
                <label for="accrualRate">Accrual Rate</label>
                <div class="form-outline w-100 position-relative custom-date-wrapper">
                    <input type="number" formControlName="accrual_rate" id="accrualRate"
                        class="form-control custom-date-input" placeholder="Per Month" />
                </div>
                <p class="error-msg"
                    *ngIf="leaveType2.get('accrual_rate')?.touched && leaveType2.get('accrual_rate')?.errors?.['required']">
                    Accrual Rate is required.
                </p>
                <p class="error-msg"
                    *ngIf="leaveType2.get('accrual_rate')?.touched && leaveType2.get('accrual_rate')?.errors?.['pattern']">
                    Accrual Rate must be number.
                </p>
            </div>

            <div class="input">
                <label for="leaveLimits">Leave Limits</label>
                <div class="form-outline w-100 position-relative custom-date-wrapper">
                    <input type="number" formControlName="leave_limits" id="leaveLimits"
                        class="form-control custom-date-input" placeholder="Per Year" />
                </div>
                <p class="error-msg"
                    *ngIf="leaveType2.get('leave_limits')?.touched && leaveType2.get('leave_limits')?.errors?.['required']">
                    Leave Limits is required.
                </p>
                <p class="error-msg"
                    *ngIf="leaveType2.get('leave_limits')?.touched && leaveType2.get('leave_limits')?.errors?.['pattern']">
                    Leave Limits must be number.
                </p>
            </div>

            <div class="input">
                <label for="maxReview">Max Review Days</label>
                <div class="form-outline w-100 position-relative custom-date-wrapper">
                    <input type="number" formControlName="max_review_days" id="maxReview"
                        class="form-control custom-date-input" placeholder="ex: 5" />
                </div>
                <p class="error-msg"
                    *ngIf="leaveType2.get('max_review_days')?.touched && leaveType2.get('max_review_days')?.errors?.['required']">
                    Max Review Days is required.
                </p>
                <p class="error-msg"
                    *ngIf="leaveType2.get('max_review_days')?.touched && leaveType2.get('max_review_days')?.errors?.['pattern']">
                    Max Review Days must be number.
                </p>
            </div>

            <div class="form-check d-flex align-items-end justify-content-start p-0 m-0 gap-3">
                <input class="form-check-input m-0" [(ngModel)]="carryoverAllowed"
                    (change)="toggleCarryoverValidators()" [ngModelOptions]="{ standalone: true }" type="checkbox"
                    id="allowCarryover">
                <label class="form-check-label m-0" for="allowCarryover">
                    Allow Carryover
                </label>
            </div>

            <div class="input mt-2" [style.opacity]="carryoverAllowed ? '1' : '0.5'">
                <label for="maxCarryover">Maximum Carryover Days</label>
                <div class="form-outline w-100 position-relative custom-date-wrapper">
                    <input type="number" formControlName="maximum_carryover_days" id="maxCarryover"
                        class="form-control custom-date-input" placeholder="ex: 5" />
                </div>
                <p class="error-msg"
                    *ngIf="leaveType2.get('maximum_carryover_days')?.touched && leaveType2.get('maximum_carryover_days')?.errors?.['required']">
                    Maximum Carryover Days is required.
                </p>
                <p class="error-msg"
                    *ngIf="leaveType2.get('maximum_carryover_days')?.touched && leaveType2.get('maximum_carryover_days')?.errors?.['pattern']">
                    Maximum Carryover Days must be number.
                </p>
            </div>

        </form>
        <div class="alert alert-danger mb-0 mt-3" role="alert" *ngIf="errMsg">
            {{errMsg}}
        </div>
        <!-- prev and confirm buttons -->
        <div class="btn-fixed d-flex align-items-stretch gap-2">
            <button class="btn btn-outline-success bg-white d-flex justify-content-center align-items-center"
                (click)="goPrev()">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="1.5" d="M20 12H4m0 0l6-6m-6 6l6 6" />
                </svg>
            </button>
            <button class="btn btn-lg btn-success w-auto"
                [disabled]="!isFormChanged || !leaveType1.valid || !leaveType2.valid || isLoading"
                (click)="updateleaveType()">
                <span *ngIf="isLoading" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                <svg *ngIf="!isLoading" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
                    <g fill="none" stroke="currentColor" stroke-width="1.5">
                        <circle cx="12" cy="12" r="10" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="m8.5 12.5l2 2l5-5" />
                    </g>
                </svg>
                <span>Save Changes</span>
            </button>
        </div>
    </div>
</div>





<!-- discard -->
<app-popup [title]="'Discard Changes'" [paragraph1]="'Are you sure you want to discard your changes?'"
    [isOpen]="isModalOpen" (close)="closeModal()">
    <button modal-btn-left class="btn btn-lg btn-dark w-100" (click)="confirmAction()">
        Discard Changes
    </button>
    <button modal-btn-right class="btn btn-lg btn-outline-dark border-0 w-100" (click)="closeModal()">
        Cancel
    </button>
</app-popup>