<!-- start page header -->
<app-page-header [breadcrumbs]="[
    { label: 'Personnel', link: '/dashboard' },
    { label: 'Requests' }
  ]" title="All Requests">

</app-page-header>
<!-- end page header -->



<!-- start page content -->
<div class="content-hug">
    <div class="content-box d-flex flex-column gap-3">
        <!-- start search and filter -->
        <div
            class="d-flex flex-column flex-lg-row align-items-start align-lg-items-center justify-content-between gap-2">
            <div class="d-flex align-items-center gap-2 w-100 w-lg-50">
                <!-- Search input -->
                <div data-mdb-input-init class="form-outline w-75">
                    <input type="text" class="form-control" [(ngModel)]="searchTerm" (ngModelChange)="onSearchChange()"
                        placeholder="Search" />
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                        <g fill="none" stroke-width="1.5">
                            <circle cx="11.5" cy="11.5" r="9.5" />
                            <path stroke-linecap="round" d="M18.5 18.5L22 22" />
                        </g>
                    </svg>
                </div>

                <!-- Filter button -->
                <button class="btn btn-lg btn-outline-primary" (click)="overlay.openOverlay()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                        <path fill="none" stroke-width="1.5"
                            d="M19 3H5c-1.414 0-2.121 0-2.56.412S2 4.488 2 5.815v.69c0 1.037 0 1.556.26 1.986s.733.698 1.682 1.232l2.913 1.64c.636.358.955.537 1.183.735c.474.411.766.895.898 1.49c.064.284.064.618.064 1.285v2.67c0 .909 0 1.364.252 1.718c.252.355.7.53 1.594.88c1.879.734 2.818 1.101 3.486.683S15 19.452 15 17.542v-2.67c0-.666 0-1 .064-1.285a2.68 2.68 0 0 1 .899-1.49c.227-.197.546-.376 1.182-.735l2.913-1.64c.948-.533 1.423-.8 1.682-1.23c.26-.43.26-.95.26-1.988v-.69c0-1.326 0-1.99-.44-2.402C21.122 3 20.415 3 19 3Z" />
                    </svg>
                    <span>Filter</span>
                </button>

            </div>
            <!-- New Request button -->
            <button class="btn btn-lg btn-primary w-auto" routerLink="/requests/create-request">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                    <g fill="none" stroke="#ffffff" stroke-width="1.5">
                        <circle cx="12" cy="12" r="10" />
                        <path stroke-linecap="round" d="M15 12h-3m0 0H9m3 0V9m0 3v3" />
                    </g>
                </svg>
                <span>Create New Request</span>
            </button>


        </div>

        <!-- start Table -->

        <app-table [data]="approvalRequests" [isLoading]="loading" [columnsCount]="7" [totalItems]="totalItems"
            [itemsPerPage]="itemsPerPage" [currentPage]="currentPage" (pageChange)="onPageChange($event)"
            (itemsPerPageChange)="onItemsPerPageChange($event)" [headerTemplate]="requestTableHeader"
            [rowTemplate]="requestTableRow" [emptyTemplate]="noRequest"></app-table>

        <ng-template #requestTableHeader>
            <th>Employee</th>
            <th (click)="sortBy()" style="cursor: pointer;" class="width-fix">
                <div class="d-flex align-items-center justify-content-between">
                    <span>Requested at</span>
                    @if (sortDirection === 'desc') {
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <g fill="none" stroke="#DDE3EB" stroke-linecap="round" stroke-width="1.5">
                            <path d="M4 8h9m-7 5h7m-5 5h5" />
                            <path stroke-linejoin="round" d="M17 20V4l3 4" />
                        </g>
                    </svg>
                    }
                    @if (sortDirection === 'asc') {
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path fill="#DDE3EB" fill-rule="evenodd"
                            d="M17 3.25a.75.75 0 0 1 .75.75v13.75l1.65-2.2a.75.75 0 1 1 1.2.9l-3 4a.75.75 0 0 1-1.35-.45V4a.75.75 0 0 1 .75-.75M7.25 6A.75.75 0 0 1 8 5.25h5a.75.75 0 0 1 0 1.5H8A.75.75 0 0 1 7.25 6m-2 5a.75.75 0 0 1 .75-.75h7a.75.75 0 0 1 0 1.5H6a.75.75 0 0 1-.75-.75m-2 5a.75.75 0 0 1 .75-.75h9a.75.75 0 0 1 0 1.5H4a.75.75 0 0 1-.75-.75"
                            clip-rule="evenodd" />
                    </svg>
                    }
                </div>
            </th>



            <th>Current Step</th>
            <th>Leave Type</th>
            <th>Date Range</th>
            <th>Status</th>
            <th>Actions</th>
        </ng-template>

        <ng-template #requestTableRow let-request let-i="index">
            <td>
                <span class="d-block text-gray-sm">{{ request.id.toString().padStart(4, '0') }}</span>
                <span class="d-block text-truncate" style="max-width: 300px;">
                    {{ getEmployeeName(request) }}
                </span>
            </td>
            <td>{{ getFormattedDate(request.created_at) | date:'dd/MM/yyyy' }}</td>
            <td>{{ getCurrentStep(request) }}</td>
            <td>{{ getWorkTypeDisplay(request) }}</td>
            <td>{{ request.dates.from_date | date:'dd/MM/yyyy'}}
                @if(request.dates.to_date){
                <span class="mx-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                        <path fill="#2C63CC"
                            d="M15.835 11.63L9.205 5.2C8.79 4.799 8 5.042 8 5.57v12.86c0 .528.79.771 1.205.37l6.63-6.43a.5.5 0 0 0 0-.74" />
                    </svg>
                </span>
                }

                {{ request.dates.to_date | date:'dd/MM/yyyy'}}
            </td>
            <td>
                @if (getStatusName(request) ==='Pending') {
                <span class="badge-newjoiner">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                        <g fill="none" stroke="currentColor" stroke-width="1.5">
                            <path
                                d="m12 12l-2.958 2.929c-2.922 2.894-4.383 4.341-3.974 5.59q.052.16.13.312C5.8 22 7.867 22 12 22s6.2 0 6.802-1.17q.078-.15.13-.311c.41-1.249-1.052-2.696-3.974-5.59zm0 0l2.958-2.929c2.922-2.894 4.383-4.341 3.974-5.59a2 2 0 0 0-.13-.312C18.2 2 16.133 2 12 2S5.8 2 5.198 3.17q-.078.15-.13.311c-.41 1.249 1.052 2.696 3.974 5.59z" />
                            <path stroke-linecap="round" d="M10 5.5h4m-4 13h4" />
                        </g>
                    </svg>
                    <span>Pending</span>
                </span>
                }
                @if (getStatusName(request) ==='Rejected') {
                <span class="badge-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                        <g fill="none" stroke="currentColor" stroke-width="1.5">
                            <circle cx="12" cy="12" r="10" />
                            <path stroke-linecap="round" d="m14.5 9.5l-5 5m0-5l5 5" />
                        </g>
                    </svg>
                    <span>Rejected</span>
                </span>
                }
                @if (getStatusName(request) ==='Accepted') {
                <span class="badge-success">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                        <g fill="none" stroke="currentColor" stroke-width="1.5">
                            <circle cx="12" cy="12" r="10" />
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.5 12.5l2 2l5-5" />
                        </g>
                    </svg>
                    <span>Accepted</span>
                </span>
                }
                @if (getStatusName(request) ==='Cancelled') {
                <span class="badge-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                        <g fill="none" stroke="currentColor" stroke-width="1.5">
                            <circle cx="12" cy="12" r="10" />
                            <path stroke-linecap="round" d="m14.5 9.5l-5 5m0-5l5 5" />
                        </g>
                    </svg>
                    <span>Cancelled</span>
                </span>
                }
                @if (getStatusName(request) ==='Expired') {
                <span class="badge-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                        <g fill="none" stroke="currentColor" stroke-width="1.5">
                            <circle cx="12" cy="12" r="10" />
                            <path stroke-linecap="round" d="m14.5 9.5l-5 5m0-5l5 5" />
                        </g>
                    </svg>
                    <span>Expired</span>
                </span>
                }

            </td>
            <td>
                <div class="d-flex justify-content-between align-items-center w-100">
                    <!-- [routerLink]="['/requests/view-requests', request.id]" -->
                    <a (click)="navigateToView(request.id)"
                        class="view-btn h-100 d-flex align-items-center gap-1 w-auto me-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
                            <g fill="none" stroke="currentColor" stroke-width="1.5">
                                <path
                                    d="M3.275 15.296C2.425 14.192 2 13.639 2 12c0-1.64.425-2.191 1.275-3.296C4.972 6.5 7.818 4 12 4s7.028 2.5 8.725 4.704C21.575 9.81 22 10.361 22 12c0 1.64-.425 2.191-1.275 3.296C19.028 17.5 16.182 20 12 20s-7.028-2.5-8.725-4.704Z" />
                                <path d="M15 12a3 3 0 1 1-6 0a3 3 0 0 1 6 0Z" />
                            </g>
                        </svg>
                        <span>View</span>
                    </a>
                </div>

            </td>

        </ng-template>

        <ng-template #noRequest>
            <tr>
                <td colspan="7" class="no-data py-4">
                    @if (searchTerm.trim()) {
                        No Requests match your search.
                    } @else {
                        No Requests Added Yet.
                    }
                </td>
            </tr>
        </ng-template>
    </div>
</div>


<!-- filter popup -->
<app-overlay-filter-box #filterBox [title]="'Filters'">
    <form [formGroup]="filterForm" (ngSubmit)="applyFilters()" class="w-100 d-flex flex-column gap-3">


        <div class="input">
            <label for="request_type">Request Type</label>
            <div class="d-flex align-items-center gap-4">
                <!-- <div class="form-outline w-100 position-relative custom-date-wrapper">
                    <input formControlName="leave_type" type="text" id="leave_type" class="form-control"
                        placeholder="Enter leave type" />
                </div> -->
                <div class="form-outline w-100 position-relative custom-date-wrapper">
                    <select formControlName="request_type" id="request_type" class="form-select">
                        <option value="" selected>Any</option>
                        <option value="leave">Leave</option>
                        <option value="permission">Permission</option>
                        <option value="overtime">Overtime</option>
                        <option value="mission">Mission</option>
                    </select>
                </div>
                @if(!filterForm.get('leave_type')?.value){
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="#e04f5f"
                        d="M10.03 8.97a.75.75 0 0 0-1.06 1.06L10.94 12l-1.97 1.97a.75.75 0 1 0 1.06 1.06L12 13.06l1.97 1.97a.75.75 0 0 0 1.06-1.06L13.06 12l1.97-1.97a.75.75 0 1 0-1.06-1.06L12 10.94z" />
                    <path fill="#e04f5f" fill-rule="evenodd"
                        d="M12 1.25C6.063 1.25 1.25 6.063 1.25 12S6.063 22.75 12 22.75S22.75 17.937 22.75 12S17.937 1.25 12 1.25M2.75 12a9.25 9.25 0 1 1 18.5 0a9.25 9.25 0 0 1-18.5 0"
                        clip-rule="evenodd" />
                </svg>
                }@else{
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <g fill="none" stroke="#3f9870" stroke-width="1.5">
                        <circle cx="12" cy="12" r="10" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="m8.5 12.5l2 2l5-5" />
                    </g>
                </svg>
                }
            </div>
        </div>

        <div class="input">
            <label for="status">Status</label>
            <div class="d-flex align-items-center gap-4">
                <div class="form-outline w-100 position-relative custom-date-wrapper">
                    <select formControlName="request_status" id="status" class="form-select">

                        <option value="" selected>Any</option>
                        <option [value]="1">Pending</option>
                        <option [value]="2">Approved</option>
                        <option [value]="3">Rejected</option>
                        <option [value]="4">Cancelled</option>
                        <option [value]="5">Expired</option>
                    </select>
                </div>
                @if(!filterForm.get('status')?.value){
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="#e04f5f"
                        d="M10.03 8.97a.75.75 0 0 0-1.06 1.06L10.94 12l-1.97 1.97a.75.75 0 1 0 1.06 1.06L12 13.06l1.97 1.97a.75.75 0 0 0 1.06-1.06L13.06 12l1.97-1.97a.75.75 0 1 0-1.06-1.06L12 10.94z" />
                    <path fill="#e04f5f" fill-rule="evenodd"
                        d="M12 1.25C6.063 1.25 1.25 6.063 1.25 12S6.063 22.75 12 22.75S22.75 17.937 22.75 12S17.937 1.25 12 1.25M2.75 12a9.25 9.25 0 1 1 18.5 0a9.25 9.25 0 0 1-18.5 0"
                        clip-rule="evenodd" />
                </svg>
                }@else{
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <g fill="none" stroke="#3f9870" stroke-width="1.5">
                        <circle cx="12" cy="12" r="10" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="m8.5 12.5l2 2l5-5" />
                    </g>
                </svg>
                }


            </div>
        </div>


        <!-- <div class="input">
            <label for="from_date">From Date</label>
            <div class="d-flex align-items-center gap-4">
                <div class="form-outline w-100 position-relative custom-date-wrapper">
                    <input formControlName="from_date" type="date" id="from_date"
                        class="form-control custom-date-input" />
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <g fill="none" stroke-width="1.5">
                            <path stroke-linecap="round"
                                d="M22 14v-2c0-3.771 0-5.657-1.172-6.828S17.771 4 14 4h-4C6.229 4 4.343 4 3.172 5.172S2 8.229 2 12v2c0 3.771 0 5.657 1.172 6.828S6.229 22 10 22h4M7 4V2.5M17 4V2.5" />
                            <circle cx="18" cy="18" r="3" />
                            <path stroke-linecap="round" d="M20.5 20.5L22 22M2.5 9h19" />
                        </g>
                    </svg>
                </div>
                @if(!filterForm.get('from_date')?.value){
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="#e04f5f"
                        d="M10.03 8.97a.75.75 0 0 0-1.06 1.06L10.94 12l-1.97 1.97a.75.75 0 1 0 1.06 1.06L12 13.06l1.97 1.97a.75.75 0 0 0 1.06-1.06L13.06 12l1.97-1.97a.75.75 0 1 0-1.06-1.06L12 10.94z" />
                    <path fill="#e04f5f" fill-rule="evenodd"
                        d="M12 1.25C6.063 1.25 1.25 6.063 1.25 12S6.063 22.75 12 22.75S22.75 17.937 22.75 12S17.937 1.25 12 1.25M2.75 12a9.25 9.25 0 1 1 18.5 0a9.25 9.25 0 0 1-18.5 0"
                        clip-rule="evenodd" />
                </svg>
                }@else{
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <g fill="none" stroke="#3f9870" stroke-width="1.5">
                        <circle cx="12" cy="12" r="10" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="m8.5 12.5l2 2l5-5" />
                    </g>
                </svg>
                }
            </div>
        </div> -->

        <div class="input">
            <label for="requested_at">Requested at</label>
            <div class="d-flex align-items-center gap-4">
                <div class="form-outline w-100 position-relative custom-date-wrapper">
                    <input ngxDaterangepickerMd formControlName="requested_at" class="form-control"
                        placeholder="Min-Max" [showDropdowns]="true" [autoApply]="true" [linkedCalendars]="false"
                        [locale]="{ format: 'YYYY-MM-DD' }" />
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <g fill="none" stroke-width="1.5">
                            <path stroke-linecap="round"
                                d="M22 14v-2c0-3.771 0-5.657-1.172-6.828S17.771 4 14 4h-4C6.229 4 4.343 4 3.172 5.172S2 8.229 2 12v2c0 3.771 0 5.657 1.172 6.828S6.229 22 10 22h4M7 4V2.5M17 4V2.5" />
                            <circle cx="18" cy="18" r="3" />
                            <path stroke-linecap="round" d="M20.5 20.5L22 22M2.5 9h19" />
                        </g>
                    </svg>
                </div>
                @if (!filterForm.get('requested_at')?.value) {
                <svg xmlns="http://www.w3.org/2000/svg" width="24"
                    height="24" viewBox="0 0 24 24">
                    <path fill="#e04f5f"
                        d="M10.03 8.97a.75.75 0 0 0-1.06 1.06L10.94 12l-1.97 1.97a.75.75 0 1 0 1.06 1.06L12 13.06l1.97 1.97a.75.75 0 0 0 1.06-1.06L13.06 12l1.97-1.97a.75.75 0 1 0-1.06-1.06L12 10.94z" />
                    <path fill="#e04f5f" fill-rule="evenodd"
                        d="M12 1.25C6.063 1.25 1.25 6.063 1.25 12S6.063 22.75 12 22.75S22.75 17.937 22.75 12S17.937 1.25 12 1.25M2.75 12a9.25 9.25 0 1 1 18.5 0a9.25 9.25 0 0 1-18.5 0"
                        clip-rule="evenodd" />
                </svg>
                }
                @if (filterForm.get('requested_at')?.value) {
                <svg xmlns="http://www.w3.org/2000/svg" width="24"
                    height="24" viewBox="0 0 24 24">
                    <g fill="none" stroke="#3f9870" stroke-width="1.5">
                        <circle cx="12" cy="12" r="10" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="m8.5 12.5l2 2l5-5" />
                    </g>
                </svg>
                }
            </div>
        </div>


        <div class="input">
            <label for="date_range">Date Range</label>
            <div class="d-flex align-items-center gap-4">
                <div class="form-outline w-100 position-relative custom-date-wrapper">
                    <input ngxDaterangepickerMd formControlName="date_range" class="form-control" placeholder="Min-Max"
                        [showDropdowns]="true" [autoApply]="true" [linkedCalendars]="false"
                        [locale]="{ format: 'YYYY-MM-DD' }" />
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <g fill="none" stroke-width="1.5">
                            <path stroke-linecap="round"
                                d="M22 14v-2c0-3.771 0-5.657-1.172-6.828S17.771 4 14 4h-4C6.229 4 4.343 4 3.172 5.172S2 8.229 2 12v2c0 3.771 0 5.657 1.172 6.828S6.229 22 10 22h4M7 4V2.5M17 4V2.5" />
                            <circle cx="18" cy="18" r="3" />
                            <path stroke-linecap="round" d="M20.5 20.5L22 22M2.5 9h19" />
                        </g>
                    </svg>
                </div>
                @if (!filterForm.get('date_range')?.value) {
                <svg xmlns="http://www.w3.org/2000/svg" width="24"
                    height="24" viewBox="0 0 24 24">
                    <path fill="#e04f5f"
                        d="M10.03 8.97a.75.75 0 0 0-1.06 1.06L10.94 12l-1.97 1.97a.75.75 0 1 0 1.06 1.06L12 13.06l1.97 1.97a.75.75 0 0 0 1.06-1.06L13.06 12l1.97-1.97a.75.75 0 1 0-1.06-1.06L12 10.94z" />
                    <path fill="#e04f5f" fill-rule="evenodd"
                        d="M12 1.25C6.063 1.25 1.25 6.063 1.25 12S6.063 22.75 12 22.75S22.75 17.937 22.75 12S17.937 1.25 12 1.25M2.75 12a9.25 9.25 0 1 1 18.5 0a9.25 9.25 0 0 1-18.5 0"
                        clip-rule="evenodd" />
                </svg>
                }
                @if (filterForm.get('date_range')?.value) {
                <svg xmlns="http://www.w3.org/2000/svg" width="24"
                    height="24" viewBox="0 0 24 24">
                    <g fill="none" stroke="#3f9870" stroke-width="1.5">
                        <circle cx="12" cy="12" r="10" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="m8.5 12.5l2 2l5-5" />
                    </g>
                </svg>
                }
            </div>
        </div>



        <!-- <div class="input">
            <label for="to_date">To Date</label>
            <div class="d-flex align-items-center gap-4">
                <div class="form-outline w-100 position-relative custom-date-wrapper">
                    <input formControlName="to_date" type="date" id="to_date" class="form-control custom-date-input" />
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <g fill="none" stroke-width="1.5">
                            <path stroke-linecap="round"
                                d="M22 14v-2c0-3.771 0-5.657-1.172-6.828S17.771 4 14 4h-4C6.229 4 4.343 4 3.172 5.172S2 8.229 2 12v2c0 3.771 0 5.657 1.172 6.828S6.229 22 10 22h4M7 4V2.5M17 4V2.5" />
                            <circle cx="18" cy="18" r="3" />
                            <path stroke-linecap="round" d="M20.5 20.5L22 22M2.5 9h19" />
                        </g>
                    </svg>
                </div>
                @if(!filterForm.get('to_date')?.value){
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="#e04f5f"
                        d="M10.03 8.97a.75.75 0 0 0-1.06 1.06L10.94 12l-1.97 1.97a.75.75 0 1 0 1.06 1.06L12 13.06l1.97 1.97a.75.75 0 0 0 1.06-1.06L13.06 12l1.97-1.97a.75.75 0 1 0-1.06-1.06L12 10.94z" />
                    <path fill="#e04f5f" fill-rule="evenodd"
                        d="M12 1.25C6.063 1.25 1.25 6.063 1.25 12S6.063 22.75 12 22.75S22.75 17.937 22.75 12S17.937 1.25 12 1.25M2.75 12a9.25 9.25 0 1 1 18.5 0a9.25 9.25 0 0 1-18.5 0"
                        clip-rule="evenodd" />
                </svg>
                }@else{
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <g fill="none" stroke="#3f9870" stroke-width="1.5">
                        <circle cx="12" cy="12" r="10" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="m8.5 12.5l2 2l5-5" />
                    </g>
                </svg>
                }
            </div>
        </div>

        <div class="input">
            <label for="createdFrom">Created From</label>
            <div class="d-flex align-items-center gap-4">
                <div class="form-outline w-100 position-relative custom-date-wrapper">
                    <input type="date" id="createdFrom" class="form-control custom-date-input" placeholder="Min-Max" />
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <g fill="none" stroke-width="1.5">
                            <path stroke-linecap="round"
                                d="M22 14v-2c0-3.771 0-5.657-1.172-6.828S17.771 4 14 4h-4C6.229 4 4.343 4 3.172 5.172S2 8.229 2 12v2c0 3.771 0 5.657 1.172 6.828S6.229 22 10 22h4M7 4V2.5M17 4V2.5" />
                            <circle cx="18" cy="18" r="3" />
                            <path stroke-linecap="round" d="M20.5 20.5L22 22M2.5 9h19" />
                        </g>
                    </svg>
                </div>
                @if(!filterForm.get('created_from')?.value){
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="#e04f5f"
                        d="M10.03 8.97a.75.75 0 0 0-1.06 1.06L10.94 12l-1.97 1.97a.75.75 0 1 0 1.06 1.06L12 13.06l1.97 1.97a.75.75 0 0 0 1.06-1.06L13.06 12l1.97-1.97a.75.75 0 1 0-1.06-1.06L12 10.94z" />
                    <path fill="#e04f5f" fill-rule="evenodd"
                        d="M12 1.25C6.063 1.25 1.25 6.063 1.25 12S6.063 22.75 12 22.75S22.75 17.937 22.75 12S17.937 1.25 12 1.25M2.75 12a9.25 9.25 0 1 1 18.5 0a9.25 9.25 0 0 1-18.5 0"
                        clip-rule="evenodd" />
                </svg>}@else{
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <g fill="none" stroke="#3f9870" stroke-width="1.5">
                        <circle cx="12" cy="12" r="10" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="m8.5 12.5l2 2l5-5" />
                    </g>
                </svg>}
            </div>
        </div> -->








        <div class="d-flex align-items-center gap-3">
            <button type="submit" class="btn btn-lg btn-primary w-100">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <g fill="none" stroke-width="1.5">
                        <circle cx="12" cy="12" r="10" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="m8.5 12.5l2 2l5-5" />
                    </g>
                </svg>
                <span>Apply Filter</span>
            </button>
            <a (click)="resetFilterForm()" type="button" class="text-danger-dark fw-bold w-100 text-center">
                <span>Clear Filters</span>
            </a>
        </div>
    </form>



</app-overlay-filter-box>