.invisible{
    visibility: hidden !important;
}
.checks {
    border-top: 1px solid var(--color-secondary-300);
}

.checks label {
    cursor: pointer;
}

.onecheck {
    padding: var(--spacing-16);
    border: 1px solid var(--color-secondary-100);
    border-radius: var(--border-radius-16);
    -webkit-border-radius: var(--border-radius-16);
    -moz-border-radius: var(--border-radius-16);
    -ms-border-radius: var(--border-radius-16);
    -o-border-radius: var(--border-radius-16);
    margin-top: var(--spacing-16);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.onecheck:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.onecheck p {
    font-weight: 600;
    color: var(--color-secondary-500);
}

.onecheck:has(input:checked) p {
    color: var(--color-secondary-700);
}
.onecheck.dragging {
  opacity: 0.5;
  background: #f0f0f0;
}

.onecheck.drag-over {
  border: 2px dashed #007bff;
  background: #e9f5ff;
}
