<!-- start page header -->
<app-page-header [breadcrumbs]="[
    { label: 'Personnel', link: '/dashboard' },
    { label: 'Calender' }
  ]" title="Personnel Calender">
</app-page-header>
<!-- end page header -->
<!-- start content -->
<div class="content-hug">
  <div class="row align-items-stretch">
    <!-- calender -->
    <div class="col-lg-8">
      <div class="content-box h-100">
        <!-- Calendar Component -->
        <app-calendar [isLoading]="isLoading" [calendarDays]="calendarDays" [currentDate]="currentDate"
          [events]="events" (monthChanged)="onMonthChanged($event)" (daySelected)="onDaySelected($event)"
          (todayClicked)="onTodayClicked()">
        </app-calendar>
      </div>
    </div>

    <!-- day details -->
    <div class="col-lg-4">
      @if (isLoading) {
      <div class="content-box position-sticky" style="top: 9.8rem;">
        <div class="sidebar-skeleton">
          <div class="skeleton-item skeleton-header"></div>
          <div class="skeleton-item skeleton-event"></div>
          <div class="skeleton-item skeleton-event"></div>
          <div class="skeleton-item skeleton-event"></div>
        </div>
      </div>
      } @else if (selectedDateFormatted) {
      <div class="content-box position-sticky" style="top: 9.8rem;">
        @if (selectedDateFormatted) {
        <div class="selected-day mb-4">
          {{ selectedDateFormatted }}
        </div>
        }
        @for (event of eventsDay; track event.title) {
        <div class="event d-flex gap-3  align-items-stretch"
          [ngClass]="event.type.toLowerCase() === 'new joiner' ? 'new-joiner' : event.type.toLowerCase() === 'end contract' ? 'end-contract' : event.type.toLowerCase()">
          <div class="border"></div>
          <div class="contain d-flex flex-column">
            <h5>{{event.type}}</h5>
            <h3 class="font-semi-bold">{{event.title}}</h3>
          </div>
        </div>
        }
        @if (eventsDay.length<1 && selectedDateFormatted) { <div class="noevents">No events In this Day
      </div>
      }
    </div>
    }
  </div>
</div>
</div>