<!-- start page header -->
<app-page-header
  [breadcrumbs]="[
    { label: 'Operations Development', link: '/' },
    { label: 'Job Titles' }
  ]"
  title="All Job Titles"
>
  
  <!-- <div subinfo>
    Created at 13/06/2023 &nbsp; | &nbsp; Updated At 03/12/2024
  </div> -->

  <!-- <button actions class="btn btn-primary">
    <i class="bi bi-pencil"></i> Edit
  </button>
  <button actions class="btn btn-outline-danger">
    <i class="bi bi-power"></i> Deactivate
  </button> -->
</app-page-header>
<!-- end page header -->
 <!-- start page content -->
<div class="content-hug">
    <p class="h1 bold">all-job-titles works!</p>
</div>