<!-- start page header -->
<app-page-header [breadcrumbs]="[
    { label: 'Operations Development', link: '/' },
    { label: 'Job Titles' }
  ]" title="All Job Titles">

  <!-- <div subinfo>
    Created at 13/06/2023 &nbsp; | &nbsp; Updated At 03/12/2024
  </div> -->

  <!-- <button actions class="btn btn-primary">
    <i class="bi bi-pencil"></i> Edit
  </button>
  <button actions class="btn btn-outline-danger">
    <i class="bi bi-power"></i> Deactivate
  </button> -->
</app-page-header>
<!-- end page header -->

<!-- start page content -->
<div class="content-hug">
  <div class="content-box d-flex flex-column gap-3">
    <!-- start search and filter -->
    <div class="d-flex flex-column flex-lg-row align-items-start align-lg-items-center justify-content-between gap-2">
      <div class="d-flex align-items-center gap-2 w-100 w-lg-50">
        <!-- Search input -->
        <div data-mdb-input-init class="form-outline w-75">
          <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchTerm"
            (ngModelChange)="onSearchChange()" />
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
            <g fill="none" stroke-width="1.5">
              <circle cx="11.5" cy="11.5" r="9.5" />
              <path stroke-linecap="round" d="M18.5 18.5L22 22" />
            </g>
          </svg>
        </div>

        <!-- Filter button -->
        <button class="btn btn-lg btn-outline-primary" (click)="overlay.openOverlay()">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
            <path fill="none" stroke-width="1.5"
              d="M19 3H5c-1.414 0-2.121 0-2.56.412S2 4.488 2 5.815v.69c0 1.037 0 1.556.26 1.986s.733.698 1.682 1.232l2.913 1.64c.636.358.955.537 1.183.735c.474.411.766.895.898 1.49c.064.284.064.618.064 1.285v2.67c0 .909 0 1.364.252 1.718c.252.355.7.53 1.594.88c1.879.734 2.818 1.101 3.486.683S15 19.452 15 17.542v-2.67c0-.666 0-1 .064-1.285a2.68 2.68 0 0 1 .899-1.49c.227-.197.546-.376 1.182-.735l2.913-1.64c.948-.533 1.423-.8 1.682-1.23c.26-.43.26-.95.26-1.988v-.69c0-1.326 0-1.99-.44-2.402C21.122 3 20.415 3 19 3Z" />
          </svg>
          <span>Filter</span>
        </button>

      </div>

      <!-- New Branch button -->
      <button class="btn btn-lg btn-primary" routerLink="/jobs/create">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
          <g fill="none" stroke="#ffffff" stroke-width="1.5">
            <circle cx="12" cy="12" r="10" />
            <path stroke-linecap="round" d="M15 12h-3m0 0H9m3 0V9m0 3v3" />
          </g>
        </svg>
        <span>New Job Title</span>
      </button>

    </div>

    <!-- start Table -->

    <app-table [data]="jobTitles" [isLoading]="loadData" [columnsCount]="6" [itemsPerPage]="itemsPerPage" [totalItems]="totalItems" [currentPage]="currentPage" (pageChange)="onPageChange($event)" (itemsPerPageChange)="onItemsPerPageChange($event)"
      [headerTemplate]="jobsTableHeader" [rowTemplate]="jobsTableRow" [emptyTemplate]="noJobs"></app-table>

    <ng-template #jobsTableHeader>
      <th (click)="sortBy()" style="cursor: pointer;" class="width-fix">
        <div class="d-flex align-items-center justify-content-between">
          <span>Job Title</span>
          <svg xmlns="http://www.w3.org/2000/svg" *ngIf="sortDirection === 'desc'" width="24" height="24"
            viewBox="0 0 24 24">
            <g fill="none" stroke="#DDE3EB" stroke-linecap="round" stroke-width="1.5">
              <path d="M4 8h9m-7 5h7m-5 5h5" />
              <path stroke-linejoin="round" d="M17 20V4l3 4" />
            </g>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" *ngIf="sortDirection === 'asc'" width="24" height="24"
            viewBox="0 0 24 24">
            <path fill="#DDE3EB" fill-rule="evenodd"
              d="M17 3.25a.75.75 0 0 1 .75.75v13.75l1.65-2.2a.75.75 0 1 1 1.2.9l-3 4a.75.75 0 0 1-1.35-.45V4a.75.75 0 0 1 .75-.75M7.25 6A.75.75 0 0 1 8 5.25h5a.75.75 0 0 1 0 1.5H8A.75.75 0 0 1 7.25 6m-2 5a.75.75 0 0 1 .75-.75h7a.75.75 0 0 1 0 1.5H6a.75.75 0 0 1-.75-.75m-2 5a.75.75 0 0 1 .75-.75h9a.75.75 0 0 1 0 1.5H4a.75.75 0 0 1-.75-.75"
              clip-rule="evenodd" />
          </svg>
        </div>
      </th>


      <th>Job Level</th>
      <th>Management Level</th>
      <th>Department</th>
      <th>Direct Manager</th>
      <th>Actions</th>
    </ng-template>

    <ng-template #jobsTableRow let-job let-i="index">
      <td class="width-fix">
        <span class="d-block text-gray-sm">{{ job.id.toString().padStart(4, '0')}}</span>
        <span class="d-block text-truncate" style="max-width: 200px;">
          {{ job.name }}
        </span>
      </td>
      <td>
        <span *ngIf="job.job_level == 0"></span>
        <span *ngIf="job.job_level == 1">Intern</span>
        <span *ngIf="job.job_level == 2">Junior</span>
        <span *ngIf="job.job_level == 3">Mid Level</span>
        <span *ngIf="job.job_level == 4">Senior</span>
        <span *ngIf="job.job_level == 5">Team Leader</span>
        <span *ngIf="job.job_level == 6">Expert</span>
        <span *ngIf="job.job_level == 7">Consultant</span>
      </td>
      <td>
        <span *ngIf="job.management_level == 1">Company</span>
        <span *ngIf="job.management_level == 2">Branch</span>
        <span *ngIf="job.management_level == 3">Department</span>
        <span *ngIf="job.management_level == 4">Section</span>
        <span *ngIf="job.management_level == 5">None</span>
      </td>
      <td>{{ job.department?.name }}</td>
      <td>
        <ng-container *ngFor="let assign of job.assigns">
          <span class="d-block text-gray-sm">{{ assign.id.toString().padStart(4, '0') }}</span>
          <span class="d-block text-truncate" style="max-width: 200px;">
            {{ assign.name }}
          </span>
        </ng-container>
      </td>
      <td>
        <div class="d-flex justify-content-between align-items-center w-100">
          <a [routerLink]="['/jobs/view-job', job.id]" class="view-btn h-100 d-flex align-items-center gap-1 w-50 me-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
              <g fill="none" stroke="currentColor" stroke-width="1.5">
                <path
                  d="M3.275 15.296C2.425 14.192 2 13.639 2 12c0-1.64.425-2.191 1.275-3.296C4.972 6.5 7.818 4 12 4s7.028 2.5 8.725 4.704C21.575 9.81 22 10.361 22 12c0 1.64-.425 2.191-1.275 3.296C19.028 17.5 16.182 20 12 20s-7.028-2.5-8.725-4.704Z" />
                <path d="M15 12a3 3 0 1 1-6 0a3 3 0 0 1 6 0Z" />
              </g>
            </svg>
            <span>View</span>
          </a>
          <a [routerLink]="['/jobs/edit', job.id]" class="edit-btn d-flex align-items-center gap-1 w-50 ms-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
              <g fill="none" stroke="currentColor" stroke-width="1.5">
                <path stroke-linecap="round"
                  d="M22 10.5V12c0 4.714 0 7.071-1.465 8.535C19.072 22 16.714 22 12 22s-7.071 0-8.536-1.465C2 19.072 2 16.714 2 12s0-7.071 1.464-8.536C4.93 2 7.286 2 12 2h1.5" />
                <path
                  d="m16.652 3.455l.649-.649A2.753 2.753 0 0 1 21.194 6.7l-.65.649m-3.892-3.893s.081 1.379 1.298 2.595c1.216 1.217 2.595 1.298 2.595 1.298m-3.893-3.893L10.687 9.42c-.404.404-.606.606-.78.829q-.308.395-.524.848c-.121.255-.211.526-.392 1.068L8.412 13.9m12.133-6.552l-5.965 5.965c-.404.404-.606.606-.829.78a4.6 4.6 0 0 1-.848.524c-.255.121-.526.211-1.068.392l-1.735.579m0 0l-1.123.374a.742.742 0 0 1-.939-.94l.374-1.122m1.688 1.688L8.412 13.9" />
              </g>
            </svg>
            <span>Edit</span>
          </a>
        </div>

      </td>

    </ng-template>
    <ng-template #noJobs>
      <tr>
        <td colspan="7" class="no-data py-4">
          No Jobs Added Yet
        </td>
      </tr>
    </ng-template>

  </div>
</div>


<!-- filter popup -->
<app-overlay-filter-box #filterBox [title]="'Filters'">
  <form [formGroup]="filterForm" (ngSubmit)="filter()" class="w-100 d-flex flex-column gap-3">
    <div class="input">
      <label for="management_level">Management Level</label>
      <div class="d-flex align-items-center gap-4">
        <div class="form-outline w-100 position-relative custom-date-wrapper">
          <select name="" id="management_level" formControlName="management_level" class="form-select">
            <option value="" selected disabled hidden>Select</option>
            <option value="1">Company</option>
            <option value="2">Branch</option>
            <option value="3">Department</option>
            <option value="4">Section</option>
            <option value="5">None</option>
          </select>
        </div>
        <svg *ngIf="!filterForm.get('management_level')?.value" xmlns="http://www.w3.org/2000/svg" width="24"
          height="24" viewBox="0 0 24 24">
          <path fill="#e04f5f"
            d="M10.03 8.97a.75.75 0 0 0-1.06 1.06L10.94 12l-1.97 1.97a.75.75 0 1 0 1.06 1.06L12 13.06l1.97 1.97a.75.75 0 0 0 1.06-1.06L13.06 12l1.97-1.97a.75.75 0 1 0-1.06-1.06L12 10.94z" />
          <path fill="#e04f5f" fill-rule="evenodd"
            d="M12 1.25C6.063 1.25 1.25 6.063 1.25 12S6.063 22.75 12 22.75S22.75 17.937 22.75 12S17.937 1.25 12 1.25M2.75 12a9.25 9.25 0 1 1 18.5 0a9.25 9.25 0 0 1-18.5 0"
            clip-rule="evenodd" />
        </svg>
        <svg *ngIf="filterForm.get('management_level')?.value" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          viewBox="0 0 24 24">
          <g fill="none" stroke="#3f9870" stroke-width="1.5">
            <circle cx="12" cy="12" r="10" />
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.5 12.5l2 2l5-5" />
          </g>
        </svg>
      </div>
    </div>

    <div class="input">
      <label for="department">Department</label>
      <div class="d-flex align-items-center gap-4">
        <div class="form-outline w-100 position-relative custom-date-wrapper">
          <select name="" id="department" formControlName="department" class="form-select">
            <option value="" selected disabled hidden>Select</option>
            <option *ngFor="let dept of departments" value="dept.id">{{dept.name}}</option>
          </select>
        </div>
        <svg *ngIf="!filterForm.get('department')?.value" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          viewBox="0 0 24 24">
          <path fill="#e04f5f"
            d="M10.03 8.97a.75.75 0 0 0-1.06 1.06L10.94 12l-1.97 1.97a.75.75 0 1 0 1.06 1.06L12 13.06l1.97 1.97a.75.75 0 0 0 1.06-1.06L13.06 12l1.97-1.97a.75.75 0 1 0-1.06-1.06L12 10.94z" />
          <path fill="#e04f5f" fill-rule="evenodd"
            d="M12 1.25C6.063 1.25 1.25 6.063 1.25 12S6.063 22.75 12 22.75S22.75 17.937 22.75 12S17.937 1.25 12 1.25M2.75 12a9.25 9.25 0 1 1 18.5 0a9.25 9.25 0 0 1-18.5 0"
            clip-rule="evenodd" />
        </svg>
        <svg *ngIf="filterForm.get('department')?.value" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          viewBox="0 0 24 24">
          <g fill="none" stroke="#3f9870" stroke-width="1.5">
            <circle cx="12" cy="12" r="10" />
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.5 12.5l2 2l5-5" />
          </g>
        </svg>
      </div>
    </div>



    <div class="input">
      <label for="status">Status</label>
      <div class="d-flex align-items-center gap-4">
        <div class="form-outline w-100 position-relative custom-date-wrapper">
          <select name="" id="status" formControlName="status" class="form-select">
            <option value="" selected disabled hidden>Select</option>
            <option value="all">Any</option>
            <option value="true">Active</option>
            <option value="false">Not Active</option>
          </select>
        </div>
        <svg *ngIf="!filterForm.get('status')?.value" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          viewBox="0 0 24 24">
          <path fill="#e04f5f"
            d="M10.03 8.97a.75.75 0 0 0-1.06 1.06L10.94 12l-1.97 1.97a.75.75 0 1 0 1.06 1.06L12 13.06l1.97 1.97a.75.75 0 0 0 1.06-1.06L13.06 12l1.97-1.97a.75.75 0 1 0-1.06-1.06L12 10.94z" />
          <path fill="#e04f5f" fill-rule="evenodd"
            d="M12 1.25C6.063 1.25 1.25 6.063 1.25 12S6.063 22.75 12 22.75S22.75 17.937 22.75 12S17.937 1.25 12 1.25M2.75 12a9.25 9.25 0 1 1 18.5 0a9.25 9.25 0 0 1-18.5 0"
            clip-rule="evenodd" />
        </svg>
        <svg *ngIf="filterForm.get('status')?.value" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          viewBox="0 0 24 24">
          <g fill="none" stroke="#3f9870" stroke-width="1.5">
            <circle cx="12" cy="12" r="10" />
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.5 12.5l2 2l5-5" />
          </g>
        </svg>
      </div>
    </div>

    <div class="input">
      <label for="createdFrom">Created From</label>
      <div class="d-flex align-items-center gap-4">
        <div class="form-outline w-100 position-relative custom-date-wrapper">
          <input type="date" formControlName="created_from" id="createdFrom" class="form-control custom-date-input"
            placeholder="Min-Max" />
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <g fill="none" stroke-width="1.5">
              <path stroke-linecap="round"
                d="M22 14v-2c0-3.771 0-5.657-1.172-6.828S17.771 4 14 4h-4C6.229 4 4.343 4 3.172 5.172S2 8.229 2 12v2c0 3.771 0 5.657 1.172 6.828S6.229 22 10 22h4M7 4V2.5M17 4V2.5" />
              <circle cx="18" cy="18" r="3" />
              <path stroke-linecap="round" d="M20.5 20.5L22 22M2.5 9h19" />
            </g>
          </svg>
        </div>
        <svg *ngIf="!filterForm.get('created_from')?.value" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          viewBox="0 0 24 24">
          <path fill="#e04f5f"
            d="M10.03 8.97a.75.75 0 0 0-1.06 1.06L10.94 12l-1.97 1.97a.75.75 0 1 0 1.06 1.06L12 13.06l1.97 1.97a.75.75 0 0 0 1.06-1.06L13.06 12l1.97-1.97a.75.75 0 1 0-1.06-1.06L12 10.94z" />
          <path fill="#e04f5f" fill-rule="evenodd"
            d="M12 1.25C6.063 1.25 1.25 6.063 1.25 12S6.063 22.75 12 22.75S22.75 17.937 22.75 12S17.937 1.25 12 1.25M2.75 12a9.25 9.25 0 1 1 18.5 0a9.25 9.25 0 0 1-18.5 0"
            clip-rule="evenodd" />
        </svg>
        <svg *ngIf="filterForm.get('created_from')?.value" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          viewBox="0 0 24 24">
          <g fill="none" stroke="#3f9870" stroke-width="1.5">
            <circle cx="12" cy="12" r="10" />
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.5 12.5l2 2l5-5" />
          </g>
        </svg>
      </div>
    </div>

    <div class="input">
      <label for="createdTo">Created To</label>
      <div class="d-flex align-items-center gap-4">
        <div class="form-outline w-100 position-relative custom-date-wrapper">
          <input type="date" formControlName="created_to" id="createdTo" class="form-control custom-date-input"
            placeholder="Min-Max" />
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <g fill="none" stroke-width="1.5">
              <path stroke-linecap="round"
                d="M22 14v-2c0-3.771 0-5.657-1.172-6.828S17.771 4 14 4h-4C6.229 4 4.343 4 3.172 5.172S2 8.229 2 12v2c0 3.771 0 5.657 1.172 6.828S6.229 22 10 22h4M7 4V2.5M17 4V2.5" />
              <circle cx="18" cy="18" r="3" />
              <path stroke-linecap="round" d="M20.5 20.5L22 22M2.5 9h19" />
            </g>
          </svg>
        </div>
        <svg *ngIf="!filterForm.get('created_to')?.value" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          viewBox="0 0 24 24">
          <path fill="#e04f5f"
            d="M10.03 8.97a.75.75 0 0 0-1.06 1.06L10.94 12l-1.97 1.97a.75.75 0 1 0 1.06 1.06L12 13.06l1.97 1.97a.75.75 0 0 0 1.06-1.06L13.06 12l1.97-1.97a.75.75 0 1 0-1.06-1.06L12 10.94z" />
          <path fill="#e04f5f" fill-rule="evenodd"
            d="M12 1.25C6.063 1.25 1.25 6.063 1.25 12S6.063 22.75 12 22.75S22.75 17.937 22.75 12S17.937 1.25 12 1.25M2.75 12a9.25 9.25 0 1 1 18.5 0a9.25 9.25 0 0 1-18.5 0"
            clip-rule="evenodd" />
        </svg>
        <svg *ngIf="filterForm.get('created_to')?.value" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          viewBox="0 0 24 24">
          <g fill="none" stroke="#3f9870" stroke-width="1.5">
            <circle cx="12" cy="12" r="10" />
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.5 12.5l2 2l5-5" />
          </g>
        </svg>
      </div>
    </div>

    <div class="input">
      <label for="updatedFrom">Updated From</label>
      <div class="d-flex align-items-center gap-4">
        <div class="form-outline w-100 position-relative custom-date-wrapper">
          <input type="date" formControlName="updated_from" id="updatedFrom" class="form-control custom-date-input"
            placeholder="Min-Max" />
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <g fill="none" stroke-width="1.5">
              <path stroke-linecap="round"
                d="M22 14v-2c0-3.771 0-5.657-1.172-6.828S17.771 4 14 4h-4C6.229 4 4.343 4 3.172 5.172S2 8.229 2 12v2c0 3.771 0 5.657 1.172 6.828S6.229 22 10 22h4M7 4V2.5M17 4V2.5" />
              <circle cx="18" cy="18" r="3" />
              <path stroke-linecap="round" d="M20.5 20.5L22 22M2.5 9h19" />
            </g>
          </svg>
        </div>
        <svg *ngIf="!filterForm.get('updated_from')?.value" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          viewBox="0 0 24 24">
          <path fill="#e04f5f"
            d="M10.03 8.97a.75.75 0 0 0-1.06 1.06L10.94 12l-1.97 1.97a.75.75 0 1 0 1.06 1.06L12 13.06l1.97 1.97a.75.75 0 0 0 1.06-1.06L13.06 12l1.97-1.97a.75.75 0 1 0-1.06-1.06L12 10.94z" />
          <path fill="#e04f5f" fill-rule="evenodd"
            d="M12 1.25C6.063 1.25 1.25 6.063 1.25 12S6.063 22.75 12 22.75S22.75 17.937 22.75 12S17.937 1.25 12 1.25M2.75 12a9.25 9.25 0 1 1 18.5 0a9.25 9.25 0 0 1-18.5 0"
            clip-rule="evenodd" />
        </svg>
        <svg *ngIf="filterForm.get('updated_from')?.value" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          viewBox="0 0 24 24">
          <g fill="none" stroke="#3f9870" stroke-width="1.5">
            <circle cx="12" cy="12" r="10" />
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.5 12.5l2 2l5-5" />
          </g>
        </svg>
      </div>
    </div>

    <div class="input">
      <label for="updatedTo">Updated To</label>
      <div class="d-flex align-items-center gap-4">
        <div class="form-outline w-100 position-relative custom-date-wrapper">
          <input type="date" formControlName="updated_to" id="updatedTo" class="form-control custom-date-input"
            placeholder="Min-Max" />
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <g fill="none" stroke-width="1.5">
              <path stroke-linecap="round"
                d="M22 14v-2c0-3.771 0-5.657-1.172-6.828S17.771 4 14 4h-4C6.229 4 4.343 4 3.172 5.172S2 8.229 2 12v2c0 3.771 0 5.657 1.172 6.828S6.229 22 10 22h4M7 4V2.5M17 4V2.5" />
              <circle cx="18" cy="18" r="3" />
              <path stroke-linecap="round" d="M20.5 20.5L22 22M2.5 9h19" />
            </g>
          </svg>
        </div>
        <svg *ngIf="!filterForm.get('updated_to')?.value" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          viewBox="0 0 24 24">
          <path fill="#e04f5f"
            d="M10.03 8.97a.75.75 0 0 0-1.06 1.06L10.94 12l-1.97 1.97a.75.75 0 1 0 1.06 1.06L12 13.06l1.97 1.97a.75.75 0 0 0 1.06-1.06L13.06 12l1.97-1.97a.75.75 0 1 0-1.06-1.06L12 10.94z" />
          <path fill="#e04f5f" fill-rule="evenodd"
            d="M12 1.25C6.063 1.25 1.25 6.063 1.25 12S6.063 22.75 12 22.75S22.75 17.937 22.75 12S17.937 1.25 12 1.25M2.75 12a9.25 9.25 0 1 1 18.5 0a9.25 9.25 0 0 1-18.5 0"
            clip-rule="evenodd" />
        </svg>
        <svg *ngIf="filterForm.get('updated_to')?.value" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          viewBox="0 0 24 24">
          <g fill="none" stroke="#3f9870" stroke-width="1.5">
            <circle cx="12" cy="12" r="10" />
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.5 12.5l2 2l5-5" />
          </g>
        </svg>
      </div>
    </div>


    <div class="d-flex align-items-center gap-3">
      <button type="submit" class="btn btn-lg btn-primary w-100">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <g fill="none" stroke-width="1.5">
            <circle cx="12" cy="12" r="10" />
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.5 12.5l2 2l5-5" />
          </g>
        </svg>
        <span>Apply Filter</span>
      </button>
      <a (click)="resetFilterForm()" class="text-danger-dark fw-bold w-100 text-center">
        <span>Clear Filters</span>
      </a>
    </div>
  </form>



</app-overlay-filter-box>