<div class="attendance-log-container">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="mb-0">Attendance Log</h5>

    <!-- Date slider -->
    <div class="date-slider">
      <button class="btn btn-outline-dark border-0" (click)="prevWeek()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path fill="currentColor" fill-rule="evenodd"
            d="M15.488 4.43a.75.75 0 0 1 .081 1.058L9.988 12l5.581 6.512a.75.75 0 1 1-1.138.976l-6-7a.75.75 0 0 1 0-.976l6-7a.75.75 0 0 1 1.057-.081"
            clip-rule="evenodd" />
        </svg>
      </button>

      <div class="dates">
        @for (day of days; track trackByDate($index, day)) {
        <div class="date-box" [class.today]="day.isToday" [class.selected]="isSelected(day.date)"
          [class.disabled]="day.date > today" (click)="selectDate(day.date)">

          <div class="day-label">{{ day.isToday ? 'Today' : day.label }}</div>
          <div class="day-number">{{ day.date | date: 'd MMM' }}</div>

        </div>
        }
      </div>



      <button class="btn btn-outline-dark border-0" (click)="nextWeek()" [disabled]="!canGoNext()">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
          <path fill="currentColor" fill-rule="evenodd"
            d="M8.512 4.43a.75.75 0 0 1 1.057.082l6 7a.75.75 0 0 1 0 .976l-6 7a.75.75 0 0 1-1.138-.976L14.012 12L8.431 5.488a.75.75 0 0 1 .08-1.057"
            clip-rule="evenodd" />
        </svg>
      </button>
    </div>

  </div>


  <div class="table-responsive">
    <table class="table table-hover align-middle">
      <thead #tableHeader>
        <tr>
          <th>Date</th>
          <th>Day Type</th>
          <th>In</th>
          <th>Out</th>
          <th style="width: 200px;">Working</th>
          <th>Status</th>
          <th>Deduction</th>
          <th class="text-end">Actions</th>
        </tr>
      </thead>

      <tbody>
        @if(loading){
        <ng-container>
          <tr *ngFor="let i of skeletonRows">
            <td *ngFor="let col of columnWidths" class="px-2 py-2">
              <div class="skeleton-cell w-100" [ngStyle]="{ width: col, height: '30px' }"></div>
            </td>
          </tr>
        </ng-container>

        }

        @if(!loading){
        <ng-container *ngFor="let emp of employees; let i = index">
          <tr [ngClass]="{ 'expanded-row': !emp.collapsed }">
            <td colspan="8" class="px-0 td">
              <div class="d-flex align-items-center main-row">
                <div [ngStyle]="{ width: columnWidths[0] }">{{ emp.date | date:'dd/MM/yyyy' }}</div>
                <div [ngStyle]="{ width: columnWidths[1] }">
                  @if (emp.is_working_day) {
                  <span>Working Day</span>
                  }@else{
                  <span>Day Off</span>
                  }
                </div>
                <div [ngStyle]="{ width: columnWidths[2] }">
                  <div class="d-flex flex-column p-0">
                    <small class="d-block text-sm text-nowrap">{{
                      formatTimeTo12Hour(emp?.scheduled?.check_id)}}</small>
                    <span class="d-block text-nowrap">
                      {{ getFirstCheckIn(emp) }}
                    </span>
                  </div>
                </div>
                <div [ngStyle]="{ width: columnWidths[3] }">
                  <div class="d-flex flex-column p-0">
                    <small class="d-block text-sm text-nowrap">{{
                      formatTimeTo12Hour(emp?.scheduled?.check_out)}}</small>
                    <span class="d-block text-nowrap">
                      {{ getLastCheckOut(emp) }}
                    </span>
                  </div>
                </div>
                <div [ngStyle]="{ width: columnWidths[4] }"
                  class="d-flex align-items-center justify-content-between gap-4">
                  <span>{{ emp?.work_hours }}</span>
                  @if(emp?.missing_hrs) {
                  <div class="d-flex flex-column p-0">
                    <small class="d-block text-sm text-danger text-nowrap">Missing</small>
                    <span class="d-block text-nowrap text-danger">
                      {{ emp?.missing_hrs }}
                    </span>
                  </div>
                  }
                </div>
                <div [ngStyle]="{ width: columnWidths[5] }">
                  <span class="text-nowrap" [ngClass]="getStatusClass(getMainRecord(emp.list_items)?.status)">
                    {{ getMainRecord(emp.list_items)?.status }}
                  </span>

                </div>
                <div class="text-danger" [ngStyle]="{ width: columnWidths[6] }">{{ emp.deduction }}
                </div>
                <div [ngStyle]="{ width: columnWidths[7] }"></div>
              </div>

              <!-- Collapsed section -->
              <div>
                <div class="d-flex align-items-center inner-row" *ngFor="let log of emp.list_items">
                  <div [ngStyle]="{ width: columnWidths[0] }"></div>
                  <div [ngStyle]="{ width: columnWidths[1] }"></div>
                  <div class="text-nowrap" [ngStyle]="{ width: columnWidths[2] }">
                    {{ formatTimeTo12Hour(log?.times_object?.actual_check_in) }}
                  </div>

                  <div class="text-nowrap" [ngStyle]="{ width: columnWidths[3] }">
                    {{ formatTimeTo12Hour(log?.times_object?.actual_check_out) }}
                  </div>
                  <div [ngStyle]="{ width: columnWidths[4] }"
                    class="d-flex align-items-center justify-content-between gap-4">
                    <span>{{ log?.hours_object?.work_hours }}</span>
                    @if(log?.hours_object?.missing_hrs !== '--') {
                    <div class="d-flex flex-column">
                      <small class="d-block text-sm text-danger text-nowrap">Missing</small>
                      <span class="d-block text-nowrap text-danger">
                        {{ log?.hours_object?.missing_hrs }}
                      </span>
                    </div>
                    }
                  </div>
                  <div [ngStyle]="{ width: columnWidths[5] }">
                    <small class="text-nowrap" [ngClass]="getStatusClass( log.status)">
                      {{ log.status }}
                    </small>
                  </div>
                  <div class="text-danger" [ngStyle]="{ width: columnWidths[6] }">{{
                    log?.hours_object?.deduction }}
                  </div>
                  <div [ngStyle]="{ width: columnWidths[7] }" class="d-flex justify-content-end">
                    @if(log.canceled){
                    <span class="badge-danger">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                        <g fill="none" stroke="currentColor" stroke-width="1.5">
                          <circle cx="12" cy="12" r="10" />
                          <path stroke-linecap="round" d="m14.5 9.5l-5 5m0-5l5 5" />
                        </g>
                      </svg>
                      <span>Cancelled</span>
                    </span>
                    }@else{
                    <div *ngIf="!log.working_details?.canceled"
                      class="d-flex justify-content-end gap-4 align-items-center w-100">
                      <a class="remove-btn " data-bs-toggle="tooltip" data-bs-placement="top" title="Cancel"
                        (click)="openModal(log, emp)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                          <g fill="none" stroke="currentColor" stroke-width="1.5">
                            <circle cx="12" cy="12" r="10" />
                            <path stroke-linecap="round" d="m14.5 9.5l-5 5m0-5l5 5" />
                          </g>
                        </svg>
                      </a>
                    </div>
                    }

                  </div>
                </div>
              </div>
            </td>
          </tr>
        </ng-container>

        <tr *ngIf="employees.length === 0">
          <td colspan="8" class="py-4">
            No attendance records found
          </td>
        </tr>
        }


      </tbody>

    </table>


  </div>
</div>

<!-- close pop -->
<app-popup [title]="'Cancel Attendance Log'" [paragraph1]="attendanceToCancel
    ? 'Are you sure you want to cancel the attendance log for ' 
      + attendanceToCancel.employeeName
      + ' on ' + (attendanceToCancel.date | date:'yyyy-MM-dd')
      + ' (Time: ' 
      + formatTimeTo12Hour(attendanceToCancel.times_object?.actual_check_in)
      + ' - ' 
      + formatTimeTo12Hour(attendanceToCancel.times_object?.actual_check_out)
      + ')?'
    : ''" [paragraph2]="'This action can’t be undone!'" [isOpen]="isModalOpen" (close)="closeModal()">
  <button modal-btn-left class="btn btn-lg btn-danger w-100" (click)="confirmAction()">
    @if (isLoading) {
    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
    }
    Confirm
  </button>

  <button modal-btn-right class="btn btn-lg btn-outline-dark border-0 w-100" (click)="closeModal()">
    Cancel
  </button>
</app-popup>