@media (min-width: 991px) {
  .width-fix {
    width: 300px !important;
  }
  .w-lg-50 {
    width: 50% !important;
  }
}

.text-expiring-nearly-expired {
  color: var(--color-danger-500) !important;
  font-weight: 600;
}

.text-expiring-warning {
  color: var(--color-warning-500) !important;
  font-weight: 600;
}
