<!-- pageheader and progress -->
<app-page-header title="System Cloud">
</app-page-header>


<div class="content-hug">
  <nav class="m-0" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/cloud/cloud-system">Drive</a></li>
      <li class="breadcrumb-item active"><a href="#">New Hires</a></li>
    </ol>
  </nav>

  <div class="d-flex align-items-center justify-content-between mt-3">

    <div class="form-outline w-25 position-relative custom-date-wrapper">
      <input type="text" id="fileName" [value]="systemFileData?.file?.name" class="form-control" placeholder="File Name"
        readonly />
      </div>

      <div class="d-flex align-items-center gap-3">
        @if (syncStatus === 'synced') {
          <span class="badge-success">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
              <g fill="none" stroke="currentColor" stroke-width="1.5">
                <circle cx="12" cy="12" r="10" />
                <path stroke-linecap="round" stroke-linejoin="round" d="m8.5 12.5l2 2l5-5" />
              </g>
            </svg>
            <span>Synced</span>
          </span>
        }
        @if (syncStatus === 'syncing') {
          <span class="badge-newjoiner">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
              viewBox="0 0 24 24">
              <path fill="currentColor"
                d="M12.079 2.25c-4.794 0-8.734 3.663-9.118 8.333H2a.75.75 0 0 0-.528 1.283l1.68 1.666a.75.75 0 0 0 1.056 0l1.68-1.666a.75.75 0 0 0-.528-1.283h-.893c.38-3.831 3.638-6.833 7.612-6.833a7.66 7.66 0 0 1 6.537 3.643a.75.75 0 1 0 1.277-.786A9.16 9.16 0 0 0 12.08 2.25m8.761 8.217a.75.75 0 0 0-1.054 0L18.1 12.133a.75.75 0 0 0 .527 1.284h.899c-.382 3.83-3.651 6.833-7.644 6.833a7.7 7.7 0 0 1-6.565-3.644a.75.75 0 1 0-1.277.788a9.2 9.2 0 0 0 7.842 4.356c4.808 0 8.765-3.66 9.15-8.333H22a.75.75 0 0 0 .527-1.284z" />
              </svg>
              <span>Syncing</span>
            </span>
          }
          <!-- <span class="badge-gray">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
            <g fill="none" stroke="currentColor" stroke-width="1.5">
              <path stroke-linecap="round" d="m18.5 5.5l-13 13" />
              <circle cx="12" cy="12" r="10" />
            </g>
          </svg>
          <span>Synced 2 mins ago</span>
        </span> -->
        <button class="btn btn-outline-primary w-auto">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
            <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="1.5">
              <path d="M4 12a8 8 0 1 0 16 0" />
              <path stroke-linejoin="round" d="M12 4v10m0 0l3-3m-3 3l-3-3" />
            </g>
          </svg>
          <span>Import to System</span>
        </button>
      </div>
    </div>

  </div>



  <!-- sheet -->
  @if (!isAllLoaded) {
    <div class="d-flex justify-content-center align-items-center" style="min-height: 150px;">
      <div class="spinner-border text-primary" style="width: 4rem; height: 4rem;" role="status"></div>
    </div>
  }
  @if (isAllLoaded) {
    <app-smart-grid-sheet
      [columns]="customColumns"
      (inputChanged)="onCellInput()"
      [initialRows]="rowsData"
      [rowsInput]="bodyRows"
      (rowsChange)="onRowsChanged($event); triggerCollectFilledRows()"
      >
    </app-smart-grid-sheet>
  }
