<!-- pageheader and progress -->
<app-page-header title="System Cloud">
</app-page-header>


<div class="content-hug">
  <!-- <nav class="m-0" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a type="button" routerLink="/cloud/cloud-system">Drive</a></li>
      <li class="breadcrumb-item active"><a href="#">New Hires</a></li>
    </ol>
  </nav> -->

  <nav class="m-0" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      @for (crumb of breadcrumb; track $index; let i = $index) {
      <li class="breadcrumb-item" [class.active]="i === breadcrumb.length - 1" style="cursor: pointer"
        (click)="goToFolder(crumb)">
        <a>{{ crumb.name }}</a>
      </li>
      }
    </ol>
  </nav>


  <div class="d-flex align-items-center justify-content-between mt-3">

    <div class="form-outline w-25 position-relative custom-date-wrapper">
      <input type="text" id="fileName" [value]="systemFileData?.file?.name" class="form-control" placeholder="File Name"
        readonly />
    </div>




    <div class="d-flex align-items-end gap-3">
      @if (syncStatus === 'synced' && !isImported && !loadData && !upLoading) {
      <span class="badge-success">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
          <g fill="none" stroke="currentColor" stroke-width="1.5">
            <circle cx="12" cy="12" r="10" />
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.5 12.5l2 2l5-5" />
          </g>
        </svg>
        <span>Synced</span>
      </span>
      }
      @if (syncStatus === 'syncing' && !isImported && !loadData && !upLoading) {
      <span class="badge-newjoiner">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
          <path fill="currentColor"
            d="M12.079 2.25c-4.794 0-8.734 3.663-9.118 8.333H2a.75.75 0 0 0-.528 1.283l1.68 1.666a.75.75 0 0 0 1.056 0l1.68-1.666a.75.75 0 0 0-.528-1.283h-.893c.38-3.831 3.638-6.833 7.612-6.833a7.66 7.66 0 0 1 6.537 3.643a.75.75 0 1 0 1.277-.786A9.16 9.16 0 0 0 12.08 2.25m8.761 8.217a.75.75 0 0 0-1.054 0L18.1 12.133a.75.75 0 0 0 .527 1.284h.899c-.382 3.83-3.651 6.833-7.644 6.833a7.7 7.7 0 0 1-6.565-3.644a.75.75 0 1 0-1.277.788a9.2 9.2 0 0 0 7.842 4.356c4.808 0 8.765-3.66 9.15-8.333H22a.75.75 0 0 0 .527-1.284z" />
        </svg>
        <span>Syncing</span>
      </span>
      }


      @if(isImported && !loadData && !upLoading){
      <div class="switchs d-flex">
        <a type="button" class="dispaly-switch text-danger" [class.active]="activeTab === 'failed'"
          (click)="switchTab('failed')">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
            <g fill="none">
              <path stroke="currentColor" stroke-width="1.5"
                d="M5.312 10.762C8.23 5.587 9.689 3 12 3s3.77 2.587 6.688 7.762l.364.644c2.425 4.3 3.638 6.45 2.542 8.022S17.786 21 12.364 21h-.728c-5.422 0-8.134 0-9.23-1.572s.117-3.722 2.542-8.022z" />
              <path stroke="currentColor" stroke-linecap="round" stroke-width="1.5" d="M12 8v5" />
              <circle cx="12" cy="16" r="1" fill="currentColor" />
            </g>
          </svg>
          <div class="d-flex flex-column">
            <strong class="m-0">{{ failedRows.length || 0 }}</strong>
            <small>Failed</small>
          </div>
        </a>
        <a type="button" class="dispaly-switch text-success active" [class.active]="activeTab === 'imported'"
          (click)="switchTab('imported')">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
            <g fill="none" stroke="currentcolor" stroke-width="1.5">
              <circle cx="12" cy="12" r="10" />
              <path stroke-linecap="round" stroke-linejoin="round" d="m8.5 12.5l2 2l5-5" />
            </g>
          </svg>
          <div class="d-flex flex-column">
            <strong class="m-0">{{ importedRows.length || 0 }}</strong>
            <small>Imported</small>
          </div>
        </a>
      </div>
      }

      @if (!isImported && !loadData && !upLoading) {
      <button class="btn btn-lg btn-outline-primary" (click)="openModalAddtosystem()">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
          <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="1.5">
            <path d="M4 12a8 8 0 1 0 16 0" />
            <path stroke-linejoin="round" d="M12 4v10m0 0l3-3m-3 3l-3-3" />
          </g>
        </svg>
        <span>Import to System</span>
      </button>

      }

      @if (isImported && !loadData && !upLoading) {
      <button class="btn btn-lg btn-outline-primary" (click)="openModalMissing()">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
          <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
            d="m18.364 8.05l-.707-.707a8 8 0 1 0 2.28 4.658m-1.573-3.95h-4.243m4.243 0V3.807" />
        </svg>
        <span>Try again</span>
      </button>
      }

      @if (upLoading) {
      <div class="progress" style="height: 25px; width: 250px;">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
          [style.width.%]="percentage" [attr.aria-valuenow]="percentage" aria-valuemin="0" aria-valuemax="100">
          {{ percentage }}%
        </div>
      </div>

      <div class="d-flex align-items-center justify-content-center">
        @if (uploadType === 'Completed') {
        <span class="badge-success">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
            <g fill="none" stroke="currentColor" stroke-width="1.5">
              <circle cx="12" cy="12" r="10" />
              <path stroke-linecap="round" stroke-linejoin="round" d="m8.5 12.5l2 2l5-5" />
            </g>
          </svg>
          <span>Completed</span>
        </span>
        }

        @if (uploadType === 'Pending') {
        <span class="badge-newjoiner">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
            <g fill="none" stroke="currentColor" stroke-width="1.5">
              <path
                d="m12 12l-2.958 2.929c-2.922 2.894-4.383 4.341-3.974 5.59q.052.16.13.312C5.8 22 7.867 22 12 22s6.2 0 6.802-1.17q.078-.15.13-.311c.41-1.249-1.052-2.696-3.974-5.59zm0 0l2.958-2.929c2.922-2.894 4.383-4.341 3.974-5.59a2 2 0 0 0-.13-.312C18.2 2 16.133 2 12 2S5.8 2 5.198 3.17q-.078.15-.13.311c-.41 1.249 1.052 2.696 3.974 5.59z" />
              <path stroke-linecap="round" d="M10 5.5h4m-4 13h4" />
            </g>
          </svg>
          <span>Pending</span>
        </span>
        }
      </div>
      <!-- <button class="btn btn-lg btn-outline-danger" (click)="cancelUpload()">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22"
          viewBox="0 0 24 24">
          <g fill="none" stroke="currentColor" stroke-width="1.5">
            <circle cx="12" cy="12" r="10" />
            <path stroke-linecap="round" d="m14.5 9.5l-5 5m0-5l5 5" />
          </g>
        </svg>
        <span>Cancel Save</span>
      </button> -->
      }




    </div>
  </div>

</div>



<!-- sheet -->
@if (!isAllLoaded) {
<div class="d-flex justify-content-center align-items-center" style="min-height: 150px;">
  <div class="spinner-border text-primary" style="width: 4rem; height: 4rem;" role="status"></div>
</div>
}
@if (isAllLoaded && !isImported) {
<app-smart-grid-sheet [columns]="customColumns" (inputChanged)="onCellInput()" [initialRows]="rowsData"
  [rowsInput]="bodyRows" [fileEditable]="fileEditable" (rowsChange)="onRowsChanged($event); triggerCollectFilledRows()">
</app-smart-grid-sheet>
}

@if (isAllLoaded && isImported && activeTab === 'imported') {
<app-smart-grid-sheet [columns]="importedColumns" (inputChanged)="onCellInput()" [initialRows]="rowsData"
  [rowsInput]="importedRows" [fileEditable]="false" (rowsChange)="onRowsChanged($event); triggerCollectFilledRows()">
</app-smart-grid-sheet>
}
@if (isAllLoaded && isImported && activeTab === 'failed') {
<app-smart-grid-sheet [columns]="failedColumns" [initialRows]="rowsData" [rowsInput]="failedRows" [fileEditable]="true"
  (inputChanged)="onCellInput()" (rowsChange)="missingRowsData = $event; triggerCollectFilledRows()">
</app-smart-grid-sheet>
}



<!-- save to system model -->
<app-popup [title]="'Are you sure to Import To System?'"
  [paragraph1]="'Are you sure you want to Import this file to system?'" [paragraph2]="'This action cannot be undone.'"
  [isOpen]="addTosystemPOP" (close)="closeModalAddtosystem()">
  @if (errMsg) {
  <div class="alert alert-danger mb-0 mt-3" role="alert">
    {{errMsg}}
  </div>
  }
  <button modal-btn-left class="btn btn-lg btn-primary w-100" (click)="addingTosystem()">
    @if (!isLoading) {
    <span>Add to System</span>
    }
    @if (isLoading) {
    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
    }
  </button>
  <button modal-btn-right class="btn btn-lg btn-outline-dark border-0 w-100" (click)="closeModalAddtosystem()">
    Cancel
  </button>
</app-popup>

<!-- show upload status model -->
<app-popup [title]="'Save to System'" [isOpen]="showUploadPopup" (close)="cancelUpload()">
  <div class="progress" style="height: 25px;">
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
      [style.width.%]="percentage" [attr.aria-valuenow]="percentage" aria-valuemin="0" aria-valuemax="100">
      {{ percentage }}%
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-center my-2">
    @if(uploadType ==='Completed'){
    <span class="badge-success">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
        <g fill="none" stroke="currentColor" stroke-width="1.5">
          <circle cx="12" cy="12" r="10" />
          <path stroke-linecap="round" stroke-linejoin="round" d="m8.5 12.5l2 2l5-5" />
        </g>
      </svg>
      <span>Completed</span>
    </span>
    }@else {
    <span class="badge-newjoiner">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
        <g fill="none" stroke="currentColor" stroke-width="1.5">
          <path
            d="m12 12l-2.958 2.929c-2.922 2.894-4.383 4.341-3.974 5.59q.052.16.13.312C5.8 22 7.867 22 12 22s6.2 0 6.802-1.17q.078-.15.13-.311c.41-1.249-1.052-2.696-3.974-5.59zm0 0l2.958-2.929c2.922-2.894 4.383-4.341 3.974-5.59a2 2 0 0 0-.13-.312C18.2 2 16.133 2 12 2S5.8 2 5.198 3.17q-.078.15-.13.311c-.41 1.249 1.052 2.696 3.974 5.59z" />
          <path stroke-linecap="round" d="M10 5.5h4m-4 13h4" />
        </g>
      </svg>
      <span>Pending</span>
    </span>
    }


  </div>
  <button modal-btn-left class="btn btn-lg btn-outline-danger w-50" (click)="cancelUpload()">
    Cancel Save
  </button>
</app-popup>


<!-- save to system misssing model -->
<app-popup [title]="'Are you sure to Import To System Missing Data?'"
  [paragraph1]="'Are you sure you want to Import this file to system?'" [paragraph2]="'This action cannot be undone.'"
  [isOpen]="addMissingPopup" (close)="closeModalMissing()">
  @if (errMsg) {
  <div class="alert alert-danger mb-0 mt-3" role="alert">
    {{errMsg}}
  </div>
  }
  <button modal-btn-left class="btn btn-lg btn-primary w-100" (click)="updateMissing()">
    @if (!isLoading) {
    <span>Add to System</span>
    }
    @if (isLoading) {
    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
    }
  </button>
  <button modal-btn-right class="btn btn-lg btn-outline-dark border-0 w-100" (click)="closeModalMissing()">
    Cancel
  </button>
</app-popup>
<!-- show update missing model -->
<app-popup [title]="'Save to System Misssing Data'" [isOpen]="showMissingPopup" (close)="cancelUpload()">
  <div class="progress" style="height: 25px;">
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
      [style.width.%]="percentage" [attr.aria-valuenow]="percentage" aria-valuemin="0" aria-valuemax="100">
      {{ percentage }}%
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-center my-2">
    @if(uploadType ==='Completed'){
    <span class="badge-success">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
        <g fill="none" stroke="currentColor" stroke-width="1.5">
          <circle cx="12" cy="12" r="10" />
          <path stroke-linecap="round" stroke-linejoin="round" d="m8.5 12.5l2 2l5-5" />
        </g>
      </svg>
      <span>Completed</span>
    </span>
    }@else {
    <span class="badge-newjoiner">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
        <g fill="none" stroke="currentColor" stroke-width="1.5">
          <path
            d="m12 12l-2.958 2.929c-2.922 2.894-4.383 4.341-3.974 5.59q.052.16.13.312C5.8 22 7.867 22 12 22s6.2 0 6.802-1.17q.078-.15.13-.311c.41-1.249-1.052-2.696-3.974-5.59zm0 0l2.958-2.929c2.922-2.894 4.383-4.341 3.974-5.59a2 2 0 0 0-.13-.312C18.2 2 16.133 2 12 2S5.8 2 5.198 3.17q-.078.15-.13.311c-.41 1.249 1.052 2.696 3.974 5.59z" />
          <path stroke-linecap="round" d="M10 5.5h4m-4 13h4" />
        </g>
      </svg>
      <span>Pending</span>
    </span>
    }


  </div>
  <button modal-btn-left class="btn btn-lg btn-outline-danger w-50" (click)="cancelUpload()">
    Cancel Save
  </button>
</app-popup>