<!-- start page header -->
<app-page-header [breadcrumbs]="[
    { label: 'Operations Development', link: '/departments' },
    { label: 'Job Titles', link: '/jobs' },
    { label: 'View Job ' + jobTitleData?.name}
  ]" [title]="'View Job - ' + jobTitleData?.name" [create]="formattedCreatedAt" [update]="formattedUpdatedAt" [isLoading]="loadData">
  @if (!loadData) {
      <button class="btn btn-lg btn-primary" [routerLink]="['/jobs/edit',jobTitleData.id]">
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
      <g fill="none" stroke="currentColor" stroke-width="1.5">
        <path stroke-linecap="round"
          d="M22 10.5V12c0 4.714 0 7.071-1.465 8.535C19.072 22 16.714 22 12 22s-7.071 0-8.536-1.465C2 19.072 2 16.714 2 12s0-7.071 1.464-8.536C4.93 2 7.286 2 12 2h1.5" />
        <path
          d="m16.652 3.455l.649-.649A2.753 2.753 0 0 1 21.194 6.7l-.65.649m-3.892-3.893s.081 1.379 1.298 2.595c1.216 1.217 2.595 1.298 2.595 1.298m-3.893-3.893L10.687 9.42c-.404.404-.606.606-.78.829q-.308.395-.524.848c-.121.255-.211.526-.392 1.068L8.412 13.9m12.133-6.552l-5.965 5.965c-.404.404-.606.606-.829.78a4.6 4.6 0 0 1-.848.524c-.255.121-.526.211-1.068.392l-1.735.579m0 0l-1.123.374a.742.742 0 0 1-.939-.94l.374-1.122m1.688 1.688L8.412 13.9" />
      </g>
    </svg>
    <span>Edit</span>
  </button>

  @if (!jobTitleData.is_active) {
  <button class="btn btn-lg btn-outline-success" (click)="openActivate()">
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
      <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="1.5"
        d="M12 2v4M8.5 3.706A9.003 9.003 0 0 0 12 21a9 9 0 0 0 3.5-17.294" />
    </svg>
    <span>Activate</span>
  </button>
  }

  @if (jobTitleData.is_active) {
  <button class="btn btn-lg btn-outline-danger" (click)="openDeactivate()">
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
      <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="1.5"
        d="M12 2v4M8.5 3.706A9.003 9.003 0 0 0 12 21a9 9 0 0 0 3.5-17.294" />
    </svg>
    <span>Deactivate</span>
  </button>
  }
  }

</app-page-header>

<!-- page content -->
<div class="content-hug d-flex flex-column gap-4">

  <!-- 3 cards -->
  <div class="d-flex align-items-stretch gap-4">

    <div class="content-box d-flex flex-column gap-3 w-100">
      <h2>Main Information</h2>
      @if(loadData) {
      <app-skelaton-loading [rows]="5" [hasLabel]="true" [labelHeight]="16" [valueHeight]="20">
      </app-skelaton-loading>

      }@else {
      @if (jobTitleData.name) {
      <div class="info">
        <h6>Job Title</h6>
        <span>{{jobTitleData.name}}</span>
      </div>
      }
      @if (jobTitleData.job_level > 0) {
      <div class="info">
        <h6>Job Level</h6>
        @if (jobTitleData.job_level == 1) {
        <span>Intern</span>
        }
        @if (jobTitleData.job_level == 2) {
        <span>Junior</span>
        }
        @if (jobTitleData.job_level == 3) {
        <span>Mid Level</span>
        }
        @if (jobTitleData.job_level == 4) {
        <span>Senior</span>
        }
        @if (jobTitleData.job_level == 5) {
        <span>Team Leader</span>
        }
        @if (jobTitleData.job_level == 6) {
        <span>Expert</span>
        }
        @if (jobTitleData.job_level == 7) {
        <span>Consultant</span>
        }
      </div>
      }
      <div class="info">
        <h6>Employment Type</h6>
        @if (jobTitleData.salary_ranges) {
        <span>
          @if (jobTitleData.salary_ranges.full_time?.status) {
          Full-Time
          }
          @if (jobTitleData.salary_ranges.part_time?.status) {
          @if (jobTitleData.salary_ranges.full_time?.status) {
          <span class="text-primary"> |
          </span>
          }Part-Time
          }
          @if (jobTitleData.salary_ranges.per_hour?.status) {
          @if (jobTitleData.salary_ranges.full_time?.status || jobTitleData.salary_ranges.part_time?.status) {
          <span class="text-primary">
            | </span>
          }Per Hour
          }
        </span>
        }
      </div>

      @if (jobTitleData.management_level) {
      <div class="info">
        <h6>Management Level</h6>
        @if (jobTitleData.management_level == 1) {
        <span>Company</span>
        }
        @if (jobTitleData.management_level == 2) {
        <span>Branch</span>
        }
        @if (jobTitleData.management_level == 3) {
        <span>Department</span>
        }
        @if (jobTitleData.management_level == 4) {
        <span>Section</span>
        }
        @if (jobTitleData.management_level == 5) {
        <span>None</span>
        }
      </div>
      }

      @if (jobTitleData.department?.name) {
      <div class="info">
        <h6>Assigned Department</h6>
        <span>{{jobTitleData.department?.name}}</span>
      </div>
      }
      @if (jobTitleData.section?.name) {
      <div class="info">
        <h6>Assigned Section</h6>
        <span>{{jobTitleData.section?.name}}</span>
      </div>
      }
      }

    </div>


    <div class="content-box d-flex flex-column gap-3 w-100">
      <h2>Salary Range</h2>
      @if(loadData) {
      <app-skelaton-loading [rows]="3" [hasLabel]="true" [labelHeight]="16" [valueHeight]="20">
      </app-skelaton-loading>

      }@else {
      @if (jobTitleData.salary_ranges?.full_time?.status) {
      <div class="info">
        <h6>Full-Time</h6>
        <span>{{jobTitleData.salary_ranges.full_time?.minimum}}
          {{jobTitleData.salary_ranges.full_time?.currency}} -
          {{jobTitleData.salary_ranges.full_time?.maximum}}
          {{jobTitleData.salary_ranges.full_time?.currency}}</span>
      </div>
      }
      @if (jobTitleData.salary_ranges?.part_time?.status) {
      <div class="info">
        <h6>Part-Time</h6>
        <span>{{jobTitleData.salary_ranges.part_time?.minimum}}
          {{jobTitleData.salary_ranges.part_time?.currency}} -
          {{jobTitleData.salary_ranges.part_time?.maximum}}
          {{jobTitleData.salary_ranges.part_time?.currency}}</span>
      </div>
      }
      @if (jobTitleData.salary_ranges?.per_hour?.status) {
      <div class="info">
        <h6>Per Hour</h6>
        <span>{{jobTitleData.salary_ranges.per_hour?.minimum}} {{jobTitleData.salary_ranges.per_hour?.currency}}
          - {{jobTitleData.salary_ranges.per_hour?.maximum}}
          {{jobTitleData.salary_ranges.per_hour?.currency}}</span>
      </div>
      }
      }

    </div>


    <div class="content-box d-flex flex-column gap-3 w-100">
      <div class="d-flex align-items-center justify-content-between">
        <h2>Direct Manager</h2>
        <a class="view-btn h-100 d-flex align-items-center gap-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
            <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="1.5">
              <path stroke-linejoin="round" d="m13 11l9-9m0 0h-5.344M22 2v5.344" />
              <path
                d="M22 12c0 4.714 0 7.071-1.465 8.535C19.072 22 16.714 22 12 22s-7.071 0-8.536-1.465C2 19.072 2 16.714 2 12s0-7.071 1.464-8.536C4.93 2 7.286 2 12 2" />
            </g>
          </svg>
          <span>View</span>
        </a>
      </div>
      @if(loadData) {
      <app-skelaton-loading [rows]="4" [hasLabel]="true" [labelHeight]="16" [valueHeight]="20">
      </app-skelaton-loading>

      }@else {
      @if (jobTitleData?.assigns?.length > 0 && jobTitleData.assigns[0].id) {
      <div class="info">
        <h6>Job Title ID</h6>
        @if (jobTitleData?.assigns?.length > 0) {
        <span>
          {{ jobTitleData.assigns[0].id.toString().padStart(4, '0') }}
        </span>
        }
      </div>
      }
      @if (jobTitleData?.assigns?.length > 0 && jobTitleData.assigns[0].code) {
      <div class="info">
        <h6>Job Title Code</h6>
        <span>{{ jobTitleData.assigns[0].code}}</span>
      </div>
      }
      @if (jobTitleData?.assigns?.length > 0 && jobTitleData.assigns[0].name) {
      <div class="info">
        <h6>Job Title</h6>
        <span>{{ jobTitleData.assigns[0].name}}</span>
      </div>
      }
      <div class="d-flex align-items-center justify-content-between">
        <div class="info">
          <h6>Direct Manager</h6>
          <span>Description</span>
        </div>
        <a class="view-btn h-100 d-flex align-items-center gap-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
            <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="1.5">
              <path stroke-linejoin="round" d="m13 11l9-9m0 0h-5.344M22 2v5.344" />
              <path
                d="M22 12c0 4.714 0 7.071-1.465 8.535C19.072 22 16.714 22 12 22s-7.071 0-8.536-1.465C2 19.072 2 16.714 2 12s0-7.071 1.464-8.536C4.93 2 7.286 2 12 2" />
            </g>
          </svg>
        </a>
      </div>
      }


    </div>

  </div>



  <!-- card -->
  <div class="content-box d-flex flex-column gap-3 w-100">
    @if(loadData) {
    <app-skelaton-loading [rows]="2" [hasLabel]="true" [labelHeight]="16" [valueHeight]="20">
    </app-skelaton-loading>

    }@else {
    @if (jobTitleData?.description) {
    <div>
      <h2>Job Description</h2>
      <p class="mb-0">{{jobTitleData?.description || "N/A"}}</p>
    </div>
    }
    @if (jobTitleData?.analysis) {
    <div>
      <h2>Job Analysis</h2>
      <p class="mb-0">{{jobTitleData?.analysis || "N/A"}}</p>
    </div>
    }
    }

  </div>


  <!-- card with list -->
  @if (jobTitleData?.requirements?.length>0) {
  <div class="content-box d-flex flex-column gap-3 w-100">
    <h2>Job Requirements</h2>
    <ul>
      @for (item of jobTitleData?.requirements; track item) {
      <li>{{item}}.</li>
      }
    </ul>
  </div>
  }




</div>








<!-- deactivate popup  -->
<app-popup [title]="'Deactivate Job Title'"
  [paragraph1]="'Are you sure you want to Deactivate the Job title “' + jobTitleData?.name + '”?'"
  [paragraph2]="'This will only hold any access this title has to the system. You can activate it at any time later.'"
  [isOpen]="deactivateOpen" (close)="closeDeactivate()">
  <button modal-btn-left class="btn btn-lg btn-danger w-100" (click)="confirmDeactivate()">
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
      <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="1.5"
        d="M12 2v4M8.5 3.706A9.003 9.003 0 0 0 12 21a9 9 0 0 0 3.5-17.294" />
    </svg>
    <span>Deactivate</span>
  </button>
  <button modal-btn-right class="btn btn-lg btn-outline-dark border-0 w-100" (click)="closeDeactivate()">
    Cancel
  </button>
</app-popup>

<!-- activate popup  -->
<app-popup [title]="'Activate Job Title'"
  [paragraph1]="'Are you sure you want to Activate the Job title “' + jobTitleData?.name + '”?'"
  [paragraph2]="'You can deactivate it at any time later.'" [isOpen]="activateOpen" (close)="closeActivate()">
  <button modal-btn-left class="btn btn-lg btn-success w-100" (click)="confirmActivate()">
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
      <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="1.5"
        d="M12 2v4M8.5 3.706A9.003 9.003 0 0 0 12 21a9 9 0 0 0 3.5-17.294" />
    </svg>
    <span>Activate</span>
  </button>
  <button modal-btn-right class="btn btn-lg btn-outline-dark border-0 w-100" (click)="closeActivate()">
    Cancel
  </button>
</app-popup>