<!-- start page header -->
<app-page-header [breadcrumbs]="[
   { label: 'Attendance', link: '/attendance' },
    { label: 'Permissions' }
  ]" title="Permissions - Late arrive & Early leave & Shared Minutes">
  <button (click)="overlay.openOverlay()" class="btn btn-lg btn-outline-dark w-auto">
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
      <g fill="none" stroke="currentColor" stroke-width="1.5">
        <path d="M14 14.5a3 3 0 1 1 6 0a3 3 0 0 1-6 0Zm-10-5a3 3 0 1 0 6 0a3 3 0 0 0-6 0Z" />
        <path stroke-linecap="round" d="M16.959 9V2m-10 13v7m10 0v-2m-10-18v2" />
      </g>
    </svg>
    <span>Permission Settings</span>
  </button>
</app-page-header>
<!-- end page header -->


<div class="content-hug">

  @if(isLoading){
  <div class="content-box d-flex flex-column gap-3 mt-4">
    <div class="d-flex align-items-center justify-content-between">
      <div class="skeleton skeleton-title" style="width: 180px; height: 32px;"></div>
      <div class="skeleton skeleton-btn" style="width: 90px; height: 36px;"></div>
    </div>
    <div class="skeleton skeleton-info" style="width: 100%; height: 24px;"></div>
    <div class="skeleton skeleton-info" style="width: 60%; height: 24px;"></div>
    <div class="skeleton skeleton-info" style="width: 80%; height: 24px;"></div>
  </div>
  }
  @if(permissions?.is_shared_minutes){
  <div class="content-box d-flex flex-column gap-3 mt-4">
    <div class="d-flex align-items-center justify-content-between">

      <h2>Shared Minutes</h2>
      <button class="btn btn-outline-primary" routerLink="/permissions/edit-shared-minutes">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
          <path fill="currentColor" fill-rule="evenodd"
            d="M14.1 2.391a3.896 3.896 0 0 1 5.509 5.51l-7.594 7.594c-.428.428-.69.69-.98.917a6 6 0 0 1-1.108.684c-.334.159-.685.276-1.259.467l-2.672.891l-.642.214a1.598 1.598 0 0 1-2.022-2.022l1.105-3.314c.191-.574.308-.925.467-1.259a6 6 0 0 1 .685-1.107c.227-.291.488-.553.916-.98zM5.96 16.885l-.844-.846l.728-2.185c.212-.636.3-.895.414-1.135q.212-.443.513-.83c.164-.21.356-.404.83-.879l5.891-5.89a6.05 6.05 0 0 0 1.349 2.04a6.05 6.05 0 0 0 2.04 1.348l-5.891 5.89c-.475.475-.668.667-.878.83q-.388.302-.83.514c-.24.114-.5.202-1.136.414zm12.116-9.573a4 4 0 0 1-.455-.129a4.5 4.5 0 0 1-1.72-1.084a4.54 4.54 0 0 1-1.084-1.72a4 4 0 0 1-.13-.455l.473-.472a2.396 2.396 0 0 1 3.388 3.388zM3.25 22a.75.75 0 0 1 .75-.75h16v1.5H4a.75.75 0 0 1-.75-.75"
            clip-rule="evenodd" />
        </svg>
        <span>Edit</span>
      </button>
    </div>

    @if (!permissions?.shared_minutes?.status
    && !permissions?.shared_minutes?.minutes
    && !permissions?.shared_minutes?.note) {
    <div class="info">
      <span class="d-block">Shared Minutes permissions are disabled</span>
      <span class="d-block">Edit the permission to enable</span>
    </div>
    }



    <div class="info">
      <h6>Maximum Requested Minutes per month</h6>
      <span>
        {{ getTime(permissions?.shared_minutes?.minutes).hours }}:
        {{ getTime(permissions?.shared_minutes?.minutes).minutes | number:'2.0-0' }} hr

      </span>
    </div>

    <!-- <div class="info">
          <h6>Minimum Minutes Per Request</h6>
          <span>
            {{ getTime(permissions?.early_leave?.minutes).hours }}:
            {{ getTime(permissions?.early_leave?.minutes).minutes | number:'2.0-0' }} hr
          </span>
        </div> -->


    <div class="info">
      <h6>Notes</h6>
      <span>{{permissions?.shared_minutes?.note || 'No notes available.'}}</span>
    </div>

  </div>
  }
  <!-- @else{
  <div class="content-box d-flex flex-column gap-3">
    <div class="d-flex align-items-center justify-content-between">

      <h2>Late Arrive Permission</h2>
      <button class="btn btn-outline-primary" routerLink="/permissions/edit-late-arrive">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
          <path fill="currentColor" fill-rule="evenodd"
            d="M14.1 2.391a3.896 3.896 0 0 1 5.509 5.51l-7.594 7.594c-.428.428-.69.69-.98.917a6 6 0 0 1-1.108.684c-.334.159-.685.276-1.259.467l-2.672.891l-.642.214a1.598 1.598 0 0 1-2.022-2.022l1.105-3.314c.191-.574.308-.925.467-1.259a6 6 0 0 1 .685-1.107c.227-.291.488-.553.916-.98zM5.96 16.885l-.844-.846l.728-2.185c.212-.636.3-.895.414-1.135q.212-.443.513-.83c.164-.21.356-.404.83-.879l5.891-5.89a6.05 6.05 0 0 0 1.349 2.04a6.05 6.05 0 0 0 2.04 1.348l-5.891 5.89c-.475.475-.668.667-.878.83q-.388.302-.83.514c-.24.114-.5.202-1.136.414zm12.116-9.573a4 4 0 0 1-.455-.129a4.5 4.5 0 0 1-1.72-1.084a4.54 4.54 0 0 1-1.084-1.72a4 4 0 0 1-.13-.455l.473-.472a2.396 2.396 0 0 1 3.388 3.388zM3.25 22a.75.75 0 0 1 .75-.75h16v1.5H4a.75.75 0 0 1-.75-.75"
            clip-rule="evenodd" />
        </svg>
        <span>Edit</span>
      </button>
    </div>

    @if (!permissions?.late_arrive?.status
    && !permissions?.late_arrive?.minutes
    && !permissions?.late_arrive?.note) {
    <div class="info">
      <span class="d-block">Late Arrive permissions are disabled</span>
      <span class="d-block">Edit the permission to enable</span>
    </div>
    }
    <div class="info">
      <h6>Maximum Requested Minutes per month</h6>
      <span>
        {{ getTime(permissions?.late_arrive?.minutes).hours }}:
        {{ getTime(permissions?.late_arrive?.minutes).minutes | number:'2.0-0' }} hr
      </span>
    </div>

    <div class="info">
          <h6>Minimum Minutes Per Request</h6>
          <span>
            {{ getTime(permissions?.late_arrive?.minutes).hours }}:
            {{ getTime(permissions?.late_arrive?.minutes).minutes | number:'2.0-0' }} hr
          </span>
        </div>


    <div class="info">
      <h6>Notes</h6>
      <span>{{permissions?.late_arrive?.note || 'No notes available.'}}</span>
    </div>






  </div>


  <div class="content-box d-flex flex-column gap-3 mt-4">
    <div class="d-flex align-items-center justify-content-between">

      <h2>Early Leave Permission</h2>
      <button class="btn btn-outline-primary" routerLink="/permissions/edit-early-leave">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
          <path fill="currentColor" fill-rule="evenodd"
            d="M14.1 2.391a3.896 3.896 0 0 1 5.509 5.51l-7.594 7.594c-.428.428-.69.69-.98.917a6 6 0 0 1-1.108.684c-.334.159-.685.276-1.259.467l-2.672.891l-.642.214a1.598 1.598 0 0 1-2.022-2.022l1.105-3.314c.191-.574.308-.925.467-1.259a6 6 0 0 1 .685-1.107c.227-.291.488-.553.916-.98zM5.96 16.885l-.844-.846l.728-2.185c.212-.636.3-.895.414-1.135q.212-.443.513-.83c.164-.21.356-.404.83-.879l5.891-5.89a6.05 6.05 0 0 0 1.349 2.04a6.05 6.05 0 0 0 2.04 1.348l-5.891 5.89c-.475.475-.668.667-.878.83q-.388.302-.83.514c-.24.114-.5.202-1.136.414zm12.116-9.573a4 4 0 0 1-.455-.129a4.5 4.5 0 0 1-1.72-1.084a4.54 4.54 0 0 1-1.084-1.72a4 4 0 0 1-.13-.455l.473-.472a2.396 2.396 0 0 1 3.388 3.388zM3.25 22a.75.75 0 0 1 .75-.75h16v1.5H4a.75.75 0 0 1-.75-.75"
            clip-rule="evenodd" />
        </svg>
        <span>Edit</span>
      </button>
    </div>

    @if (!permissions?.early_leave?.status
    && !permissions?.early_leave?.minutes
    && !permissions?.early_leave?.note) {
    <div class="info">
      <span class="d-block">Early Leave permissions are disabled</span>
      <span class="d-block">Edit the permission to enable</span>
    </div>
    }



    <div class="info">
      <h6>Maximum Requested Minutes per month</h6>
      <span>
        {{ getTime(permissions?.early_leave?.minutes).hours }}:
        {{ getTime(permissions?.early_leave?.minutes).minutes | number:'2.0-0' }} hr

      </span>
    </div>

    <div class="info">
          <h6>Minimum Minutes Per Request</h6>
          <span>
            {{ getTime(permissions?.early_leave?.minutes).hours }}:
            {{ getTime(permissions?.early_leave?.minutes).minutes | number:'2.0-0' }} hr
          </span>
        </div>


    <div class="info">
      <h6>Notes</h6>
      <span>{{permissions?.early_leave?.note || 'No notes available.'}}</span>
    </div>

  </div>
  } -->







  <!-- 
  <div class="content-box d-flex flex-column gap-3 mt-4">
    <div class="d-flex align-items-center justify-content-between">

      <h2>Permission</h2>
      <button class="btn btn-outline-primary" routerLink="/permissions/edit-early-leave">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
          <path fill="currentColor" fill-rule="evenodd"
            d="M14.1 2.391a3.896 3.896 0 0 1 5.509 5.51l-7.594 7.594c-.428.428-.69.69-.98.917a6 6 0 0 1-1.108.684c-.334.159-.685.276-1.259.467l-2.672.891l-.642.214a1.598 1.598 0 0 1-2.022-2.022l1.105-3.314c.191-.574.308-.925.467-1.259a6 6 0 0 1 .685-1.107c.227-.291.488-.553.916-.98zM5.96 16.885l-.844-.846l.728-2.185c.212-.636.3-.895.414-1.135q.212-.443.513-.83c.164-.21.356-.404.83-.879l5.891-5.89a6.05 6.05 0 0 0 1.349 2.04a6.05 6.05 0 0 0 2.04 1.348l-5.891 5.89c-.475.475-.668.667-.878.83q-.388.302-.83.514c-.24.114-.5.202-1.136.414zm12.116-9.573a4 4 0 0 1-.455-.129a4.5 4.5 0 0 1-1.72-1.084a4.54 4.54 0 0 1-1.084-1.72a4 4 0 0 1-.13-.455l.473-.472a2.396 2.396 0 0 1 3.388 3.388zM3.25 22a.75.75 0 0 1 .75-.75h16v1.5H4a.75.75 0 0 1-.75-.75"
            clip-rule="evenodd" />
        </svg>
        <span>Edit</span>
      </button>
    </div>

    @if (!permissions?.early_leave?.enabled
    && !permissions?.early_leave?.minutes
    && !permissions?.early_leave?.note) {
    <div class="info">
      <span class="d-block">Early Leave permissions are disabled</span>
      <span class="d-block">Edit the permission to enable</span>
    </div>
    }



    <div class="info">
      <h6>Maximum requirements per month</h6>
      <span>
        {{ getTime(permissions?.early_leave?.minutes).hours }}:
        {{ getTime(permissions?.early_leave?.minutes).minutes | number:'2.0-0' }} hr

      </span>
    </div>
    <div class="info">
      <h6>Notes</h6>
      <span>{{permissions?.early_leave?.note || 'No notes available.'}}</span>
    </div>

  </div> -->


</div>


<!-- box -->
<app-overlay-filter-box #filterBox [title]="'Permission Settings'">

  <div class="card-white mb-3">
    <h5>Minutes Count</h5>
    <p>You can select whether you'd like minutes to be split between Early Leave & Late Arrive permissions or shared
      between them.</p>


    <div class="d-flex align-items-center gap-2 mb-3">
      <input type="radio" id="sharedMinutes" name="minutesType" [value]="true" [(ngModel)]="tempIsShared"
        class="form-check-input radio">
      <label for="sharedMinutes">Shared Minutes</label>
    </div>

    <div class="d-flex align-items-center gap-2">
      <input type="radio" id="splitMinutes" name="minutesType" [value]="false" [(ngModel)]="tempIsShared"
        class="form-check-input radio">
      <label for="splitMinutes">Split Minutes (Early Leave & Late Arrive)</label>
    </div>

  </div>




  <div class="d-flex align-items-center gap-3">
    <button class="btn btn-lg btn-primary w-100" (click)="saveSettings()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <g fill="none" stroke-width="1.5">
          <circle cx="12" cy="12" r="10" />
          <path stroke-linecap="round" stroke-linejoin="round" d="m8.5 12.5l2 2l5-5" />
        </g>
      </svg>
      <span>Save Changes</span>
    </button>
    <button (click)="discardChanges()" type="button" class="btn btn-lg btn-outline-dark border-0 w-100 h-100">
      <span>Discarded Changes</span>
    </button>
  </div>

</app-overlay-filter-box>