<!-- start page header -->
<app-page-header [breadcrumbs]="[
    { label: 'Personal', link: '/attendance-log' },
    { label: 'Attendance Log',link:'/attendance/attendance-log' },
    { label: isEditMode ? 'Edit Attendance Log ' + id : 'Create New Attendance Log'},
  ]" [title]="isEditMode ? 'Edit Attendance Log ' + id : 'Create New Attendance Log'" [create]="createDate">

   <button class="btn btn-lg btn-success w-auto" (click)="save()">
      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
         <g fill="none" stroke="currentColor" stroke-width="1.5">
            <circle cx="12" cy="12" r="10" />
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.5 12.5l2 2l5-5" />
         </g>
      </svg>
      <span>{{isEditMode ? 'Save Changes' : 'Create Attendance Log'}}</span>
   </button>


   <button class="btn btn-lg btn-outline-dark w-auto" (click)="openModal()">
      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
         <g fill="none" stroke="currentColor" stroke-width="1.5">
            <circle cx="12" cy="12" r="10" />
            <path stroke-linecap="round" d="m14.5 9.5l-5 5m0-5l5 5" />
         </g>
      </svg>
      <span>Discard Attendance Log</span>
   </button>
</app-page-header>


<div class="content-hug">
   <div class="content-box d-flex flex-column gap-3">
      <h2>Main Information</h2>
      <form [formGroup]="newLogForm" class="w-lg-50 d-flex flex-column gap-2">
         <div class="input">
            <label for="compCode">Employee<span>*</span></label>
            <div class="form-outline w-100 position-relative custom-date-wrapper">
               <select name="employee" id="employee" class="form-select" formControlName="employee">
                  <option value="" disabled hidden>Select an employee</option>
                  @for (emp of employeeList ; track emp.id) {
                  <option [value]="emp.id">{{emp.contact_info?.name}}</option>
                  }
               </select>
            </div>
            @if (newLogForm.get('employee')?.touched && newLogForm.get('employee')?.errors?.['required']) {
            <p class="error-msg">
               Employee is required.
            </p>
            }
         </div>

         <div class="input">
            <label for="date">Select a date<span>*</span></label>
            <div class="form-outline w-100 position-relative custom-date-wrapper">
               <input type="text" id="date" class="form-control custom-date-input" placeholder="Select a Day or More"
                  formControlName="date" appDateInput />
               <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <g fill="none" stroke-width="1.5">
                     <path stroke-linecap="round"
                        d="M22 14v-2c0-3.771 0-5.657-1.172-6.828S17.771 4 14 4h-4C6.229 4 4.343 4 3.172 5.172S2 8.229 2 12v2c0 3.771 0 5.657 1.172 6.828S6.229 22 10 22h4M7 4V2.5M17 4V2.5" />
                     <circle cx="18" cy="18" r="3" />
                     <path stroke-linecap="round" d="M20.5 20.5L22 22M2.5 9h19" />
                  </g>
               </svg>
            </div>
            @if (newLogForm.get('date')?.touched && newLogForm.get('date')?.errors?.['required']) {
            <p class="error-msg">
               Date is required.
            </p>
            }
         </div>

         <div class="input gap-3">
            <label for="start">Logged hours<span>*</span></label>
            <div class="d-flex gap-3">
               <div class="input w-50">
                  <div class="form-outline w-100 position-relative custom-date-wrapper">
                     <input type="text" id="start" class="form-control custom-date-input" placeholder="Start"
                        formControlName="start" appTimeInput />
                  </div>
                  @if (newLogForm.get('start')?.touched && newLogForm.get('start')?.errors?.['required']) {
                  <p class="error-msg">
                     Start time is required.
                  </p>
                  }
               </div>
               <div class="input w-50">
                  <div class="form-outline w-100 position-relative custom-date-wrapper">
                     <input type="text" id="end" class="form-control custom-date-input" placeholder="End"
                        formControlName="end" appTimeInput />
                  </div>
                  @if (newLogForm.get('end')?.touched && newLogForm.get('end')?.errors?.['required']) {
                  <p class="error-msg">
                     End time is required.
                  </p>
                  }
               </div>
            </div>
         </div>

      </form>
   </div>
</div>



<!-- Discard popup  -->
<app-popup [title]="'Discard Payroll Component'"
   [paragraph1]="'Are you sure you want to discard creating the new Payroll Component?'"
   [paragraph2]="'This action cannot be undone!'" [isOpen]="isModalOpen" (close)="closeModal()">
   <button modal-btn-left class="btn btn-lg btn-dark w-100" (click)="confirmAction()">
      Discard Changes
   </button>
   <button modal-btn-right class="btn btn-lg btn-outline-dark border-0 w-100" (click)="closeModal()">
      Cancel
   </button>
</app-popup>