<app-page-header
  [breadcrumbs]="[
    { label: 'Personnel', link: '/dashboard' },
    { label: 'Employees', link: '/employees' },
    { label: 'Create New Employee' }
  ]" 
  title="Create New Employee">
</app-page-header>

<app-stepper-navigation></app-stepper-navigation>

<form [formGroup]="sharedService.employeeForm" (ngSubmit)="onSubmit()">
  <app-main-information-step [hidden]="sharedService.currentStep() !== 1"></app-main-information-step>
  <app-job-details-step [hidden]="sharedService.currentStep() !== 2"></app-job-details-step>
  <app-contract-details-step [hidden]="sharedService.currentStep() !== 3"></app-contract-details-step>
  <app-attendance-details-step [hidden]="sharedService.currentStep() !== 4" (submitForm)="onSubmit()"></app-attendance-details-step>
</form>

@if (sharedService.isModalOpen()) {
  <app-popup
    (confirmAction)="confirmAction()"
    (cancelAction)="closeModal()">
  </app-popup>
}

@if (sharedService.isSuccessModalOpen()) {
  <app-popup
    (confirmAction)="viewEmployees()">
  </app-popup>
}