/* zoom out  */
html {
  zoom:0.85!important;
  box-sizing: border-box;
  background-color: var(--color-neutral-100);
}

.layout {
  display: flex;
}

/* .sidebar {
  width: 250px;
  background: #2c3e50;
  color: var(--color-white);
  padding: 20px;
  height: 100vh;
} */

.content {
  flex: 1;
  padding: 20px;
}

.content-hug {
  padding: var(--spacing-24) var(--spacing-36);
}

.content-box {
  background-color: var(--color-white);
  border-radius: var(--border-radius-25);
  -webkit-border-radius: var(--border-radius-25);
  -moz-border-radius: var(--border-radius-25);
  -ms-border-radius: var(--border-radius-25);
  -o-border-radius: var(--border-radius-25);
  padding: var(--spacing-28) var(--spacing-20);
}

.content-box h2 {
  font-size: var(--font-size-b1);
  line-height: var(--line-height-sm);
  font-weight: 500;
  color: var(--color-secondary-800);
}

.content-box .info h6, .content-box .info span {
  font-size: var(--font-size-b2);
  line-height: var(--line-height-xss);
  color: var(--color-secondary-500);
  margin-bottom: 0;
}

.content-box .info span {
  color: var(--color-secondary-600);
}

.content-box .info p, .content-box .info ul li{
  margin-bottom: 0;
  font-size: var(--font-size-b3);
  line-height: var(--line-height-xss);
  color: var(--color-secondary-700);
}