<div class="content-hug">
  <div class="content-box d-flex flex-column gap-3">
    <h2>Main Information</h2>
    <form [formGroup]="sharedService.mainInformation" class="w-lg-50 d-flex flex-column gap-2">
      <div class="input">
        <label for="employee_id">Employee <span>*</span></label>
        <div class="form-outline w-100 position-relative custom-date-wrapper">
          <select id="employee_id" class="form-select" formControlName="employee_id" class="form-select">
            <option value="" selected disabled hidden>Select Employee</option>
            @for (employee of sharedService.employees(); track $index) {
            <option [ngValue]="employee.id">{{ employee.name }}</option>
            }
          </select>
        </div>
        @if (sharedService.mainInformation.get('employee_id')?.errors?.['required'] &&
        sharedService.mainInformation.get('employee_id')?.touched) {
        <p class="error-msg">
          Please select an employee.
        </p>
        }
      </div>
      <div class="input">
        <label for="request_type">Request Type <span>*</span></label>
        <div class="form-outline w-100 position-relative custom-date-wrapper">
          <select id="request_type" class="form-select" formControlName="request_type" class="form-select">
            <option value="" selected disabled hidden>Select Request Type</option>
            @for (type of sharedService.requestTypes(); track $index) {
            <option [ngValue]="type.id">{{ type.name }}</option>
            }
          </select>
        </div>
        @if (sharedService.mainInformation.get('request_type')?.errors?.['required'] &&
        sharedService.mainInformation.get('request_type')?.touched) {
        <p class="error-msg">
          Please select a request type.
        </p>
        }
      </div>
       <!-- @if (errMsg) {
      <div class="alert alert-danger mb-0 mt-2" role="alert">
        {{errMsg}}
      </div>
      } -->
    </form>

    <!-- next button -->
    <div class="btn-fixed">
      <button class="btn btn-lg btn-primary" (click)="onNext()">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
          <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
            d="M4 12h16m0 0l-6-6m6 6l-6 6" />
        </svg>
        <span>Next (1/2)</span>
      </button>
    </div>
    
  </div>
</div>
