/* Contract Form Modal Styles */
.custom-date-input.is-invalid {
  background-image: none !important;
}

.svg-error-adjust {
  top: 36%;
}

/* Checkbox cursor pointer */
.form-check-input,
.form-check-label {
  cursor: pointer;
}