<div class="content-box d-flex flex-column gap-3 w-100">
    <h2>Attachments</h2>
    <h6>Links</h6>
    @for (link of links; track link.name) {
    <div class="d-flex align-items-center justify-content-between">
        <div class="info">
            <h6>{{ link.name }}</h6>
            <!-- <span class="text-truncate d-inline-block" style="max-width: 260px;">{{ link.value }}</span> -->
        </div>
        <a class="view-btn h-100 d-flex align-items-center gap-2 mb-2" [href]="link.value" target="_blank"
            rel="noopener noreferrer">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
                <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="1.5">
                    <path stroke-linejoin="round" d="m13 11l9-9m0 0h-5.344M22 2v5.344" />
                    <path
                        d="M22 12c0 4.714 0 7.071-1.465 8.535C19.072 22 16.714 22 12 22s-7.071 0-8.536-1.465C2 19.072 2 16.714 2 12s0-7.071 1.464-8.536C4.93 2 7.286 2 12 2" />
                </g>
            </svg>
        </a>
    </div>
    }
    <hr>
    <h6>Documents</h6>
    @for (file of files; track file.name) {
    <div class="d-flex align-items-center justify-content-between">
        <div class="info">
            <h6>{{ file.name }}</h6>
            <!-- <span class="text-truncate d-inline-block" style="max-width: 260px;">{{ file.value }}</span> -->
        </div>
        <a class="view-btn h-100 d-flex align-items-center gap-2 mb-2" [href]="file.value" target="_blank"
            rel="noopener noreferrer">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
                <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="1.5">
                    <path stroke-linejoin="round" d="m13 11l9-9m0 0h-5.344M22 2v5.344" />
                    <path
                        d="M22 12c0 4.714 0 7.071-1.465 8.535C19.072 22 16.714 22 12 22s-7.071 0-8.536-1.465C2 19.072 2 16.714 2 12s0-7.071 1.464-8.536C4.93 2 7.286 2 12 2" />
                </g>
            </svg>
        </a>
    </div>
    }
</div>
<div class="content-box d-flex flex-column gap-3 w-100 mt-4">
    <h2>Personal Details</h2>
    <h6>Basic Info</h6>
    @for (f of basicInfo; track f.name) {
    <div class="info">
        <h6>{{ f.name }}</h6>
        <span>{{ f.value ?? 'N/A' }}</span>
    </div>
    }

    <hr>
    <h6>Education Details</h6>
    @for (e of educationDetails; track e.name) {
    <div class="info">
        <h6>{{ e.name }}</h6>
        <span>{{ e.value ?? 'N/A' }}</span>
    </div>
    }
</div>